<div class="announcement typography paragraph--announcement">
  <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h2>
  <p>Lorem ipsum, dolor sit amet <a href="">consectetur</a> adipisicing elit. Rerum commodi qui dolor, voluptas praesentium numquam assumenda harum enim alias nihil recusandae expedita. Ipsam nobis eum porro beatae magni laudantium incidunt?</p>
</div>
