<div class="paragraph--expand paragraph--pull-up">
  <div class="themed-box themed-box--compress">
    <h2 class="h2">What Makes Us Different</h2>
    <div class="row row--sm-gutters">
      <div class="col-lg-4 mt-4">
        <a href="#" class="button button--primary button--block">Our Programs</a>
      </div>
      <div class="col-lg-4 mt-4">
        <a href="#" class="button button--primary button--block">Our Curriculum</a>
      </div>
      <div class="col-lg-4 mt-4">
        <a href="#" class="button button--primary button--block">Our Commmunity</a>
      </div>
    </div>
  </div>
</div>
