{% set id = random(1234) %}
{% set ls_hero_nav = [
  { text: 'Arabic' },
  { text: 'Chinese' },
  { text: 'French' },
  { text: 'German' },
  { text: 'Hebrew' },
  { text: 'Italian' },
  { text: 'Japanese' },
  { text: 'Korean' },
  { text: 'Portuguese' },
  { text: 'Russian' },
  { text: 'Spanish' },
] %}
<div class="paragraph paragraph--full">
  <div class="container px-0">

    <section class="ls-hero" aria-labelledby="midd-ls-hero-{{id}}">
      <figure class="ls-hero__image">
        {% include '../partials/img.twig' with {
          name: 'top_level'
        } %}
      </figure>
      <div class="ls-hero__content container">
        <div class="row flex-1">
          <div class="col-md-8 offset-md-2">
            <h2 class="ls-hero__title" id="midd-ls-hero-{{id}}">Take the Language Pledge&reg; and dramatically improve your proficiency&mdash;in just one summer.</h2>
          </div>
          <nav class="col-12 col-md-10 offset-md-1 col-lg-12 offset-lg-0 text-center" aria-labelledby="midd-languages-nav-label">
            <h2 class="sr-only" id="midd-languages-nav-label">Languages navigation</h2>
            <ul class="ls-hero__list">
              {% for item in ls_hero_nav %}
                <li class="ls-hero__item">
                  <a href="https://www.middlebury.edu/language-schools/languages/{{item.text|lower}}" class="ls-hero__link">{{item.text}}</a>
                </li>
              {% endfor %}
            </ul>
          </nav>
        </div>
      </div>
    </section>

  </div>
</div>
