<section class="paragraph--policy" aria-labelledby="midd-non-discrim-label">
  <div class="container">
    <div class="col-auto col-lg-10 col-xl-8 px-0 m-auto">
      <h2 class="sr-only" id="midd-non-discrim-label">Non-Discrimination Statement</h2>
      <p>
        <strong>Non-Discrimination Statement</strong>: Middlebury complies with applicable provisions of state and federal law which prohibit discrimination in employment, or in admission or access to its educational or extracurricular programs, activities, or facilities, on the basis of race, creed, color, place of birth, ancestry, ethnicity, national origin, religion, sex, sexual orientation, gender identity or expression, age, marital status, service in the armed forces of the United States, positive HIV-related blood test results, genetic information, or against qualified individuals with disabilities on the basis of disability and/or any other status or characteristic as defined and to the extent protected by applicable law. See
        <a href="https://www.middlebury.edu/handbook/pages/i-policies-for-all/genl-principles/non-discrimination-statement/">Middlebury's full statement and related policies here</a>.
      </p>
    </div>
  </div>
</section>
