<div class="section paragraph paragraph--expand" data-digest-content>
  <div class="paragraphs--wide__offset">
    <div class="section__header">
      <h2 class="section__title">
        Portrait video group
      </h2>
      <p class="section__text">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus
        quam optio ratione labore possimus iusto corrupti vero fugiat explicabo
        officiis ex, a sunt obcaecati molestias voluptate eum earum ipsam
        accusantium.
      </p>
    </div>
  </div>

  <div class="row row--sm-gutters">
    {% for item in 1..5 %}
      <div class="col-md-6 col-lg-4 mb-7">
        {% include '../partials/portrait-video.twig' with {
          id: loop.index
        } %}
      </div>
    {% endfor %}
  </div>
</div>
