<section class="paragraph--quad-story" aria-labelledby="midd-profile-spotlight-label-1" data-digest-content>
  <div class="container">

    <div class="row">
      <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
        <h2 class="h2 mb-4" id="midd-profile-spotlight-label-1">Profiles Spotlight</h2>
        <p class="mb-5 mb-md-7 mb-lg-8">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus quam optio ratione labore possimus iusto corrupti vero fugiat explicabo officiis ex, a sunt obcaecati molestias voluptate eum earum ipsam accusantium.</p>
      </div>
    </div>

    <ul class="row justify-content-center">
      {% for item in 0..3 %}
        <li class="col-md-3">
          <article
            class="profile-spotlight-item"
            aria-labelledby="midd-profile-spotlight-item-label-{{loop.index}}"
          >
            <div class="profile-spotlight-item__media">
              <a href="">
                {% include '../partials/img.twig' with { name: 'profile_spotlight_item' } %}
              </a>
            </div>
            <div class="profile-spotlight-item__content">
              <p class="profile-spotlight-item__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui voluptate earum laboriosam eaque, eum possimus deserunt magnam animi doloremque beatae facilis ab molestiae placeat ratione veniam adipisci quae, quos porro.</p>
              <h3
                class="profile-spotlight-item__name"
                id="midd-profile-spotlight-item-label-{{loop.index}}"
              >
                Trey Palmer
              </h3>
              <p class="profile-spotlight-item__title">Middlebury College, Buenos Aries, Argentina</p>
              <a href="" class="link-underline f2">Read my story</a>
            </div>
          </article>
        </li>
      {% endfor %}
    </ul>
  </div>
</section>
