<div class="paragraph--search">
  <form action="">
    <div class="input-group">
      <label for="midd-paragraph-search" class="sr-only">Search</label>
      <input
        type="search"
        class="form-control"
        placeholder="Search..."
        id="midd-paragraph-search"
        required
      />
      <button type="submit" class="button button--primary">
        {% include '../partials/icon.twig' with { name: 'search' } %}
      </button>
    </div>
  </form>
</div>
