<div class="paragraph--spotlight paragraph--full" data-digest-content>
  <div class="container px-0">

    <section class="spotlight">

      <figure class="spotlight__figure">
        {% include '../partials/img.twig' with {
          name: 'spotlight'
        } %}
      </figure>

      <div class="spotlight__content">
        <h2 class="spotlight__title">Diversity and Schools Abroad</h2>

        <div class="spotlight__body typography">
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab sunt, dolore, adipisci aut saepe nemo laudantium est facilis fugiat vero excepturi nisi sint, illo deserunt impedit voluptates nostrum veniam sit!</p>
          <p>Modi iure quos omnis mollitia cumque, iusto sunt id maxime eligendi ipsam recusandae ipsum asperiores sequi sint repellat blanditiis doloremque maiores repellendus. Rerum quasi cum omnis saepe. A, repellat cumque!</p>
        </div>
      </div>

    </section>

  </div>
</div>
