<div class="paragraph--two-col-text" data-digest-content>
  <h2 class="h2 mb-4 mb-lg-5">
    Two column text
  </h2>
  <p class="mb-4">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam atque esse
    reprehenderit iste explicabo excepturi tempora eum assumenda deserunt, sed
    rem cupiditate, consectetur repudiandae inventore culpa nihil quo sapiente
    accusamus.
  </p>
  <div class="row mt-7">
    <div class="col-md-6 typography mb-4 mb-lg-0">
      <h2>
        Two Column Text Heading
      </h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe facilis
        cum doloribus similique dolores doloremque voluptate hic iste quisquam
        necessitatibus iure quos illo porro voluptates distinctio, obcaecati
        rem, sapiente labore.
      </p>
    </div>
    <div class="col-md-6 typography">
      <h2>
        Two Column Text Heading
      </h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe facilis
        cum doloribus similique dolores doloremque voluptate hic iste quisquam
        necessitatibus iure quos illo porro voluptates distinctio, obcaecati
        rem, sapiente labore.
      </p>
    </div>
  </div>
</div>
