<aside class="status-bar">
  <h2 class="status-bar__broadcast-status" role="presentation">
    <span>on</span>
    <br>
    <span>air</span>
  </h2>
  <hr class="status-bar-divider">
  <div class="status-bar-content">
    <div class="status-bar-content__wrapper">
      <div class="status-bar-row">
        <dl class="status-bar-section section-show">
          <dd>Current Show</dd>
          <dt>Grilled Cheese Sandwich<em>with DJ Hurricane</em></dt>
        </dl>
        <dl class="status-bar-section section-contact">
          <dd>Contact the DJ</dd>
          <dt>
            <a href="tel:+18024436323">802-443-6323</a><span class="text-separator">&#x25B2;</span>
            <a href="#">Use Our App to Chat</a>
          </dt>
        </dl>
      </div>
      <div class="status-bar-row">
        <dl class="status-bar-section section-playlist">
          <dd>Current Playlist</dd>
          <dt>
            <ul class="status-bar-section__playlist-items">
            {% for item in playlist_items %}
              <li>
                <p>{{item.artist}}<em>{{item.song}}</em>{{ loop.last ? '' : '<span class="text-separator">&#x25B2;</span>'}}</p>
              </li>
            {% endfor %}
            </ul>
          </dt>
        </dl>
      </div>
    </div>
  </div>
</aside>