@use '../core/variables';
@use '../mixins/type';

.accordion {
}

.accordion-item {
  transition: box-shadow 0.2s;

  &:not(:last-of-type) {
    border-bottom: 1px solid variables.$border-color;
  }

  &:hover,
  &.is-toggled {
    box-shadow: 0 0 8px rgba(variables.$black, 0.1);
  }
}

.accordion-item__char {
  color: variables.$gray;
  font-size: variables.$typescale-2;
  font-family: variables.$font-family-serif;
  line-height: 30px;
  margin-right: variables.$spacing-3;
  align-self: flex-start;
}

.accordion-item__link {
  color: variables.$link-color;
  font-size: variables.$typescale-4;
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }
}

.accordion-item__title {
  display: flex;
  justify-content: space-between;
  font-size: variables.$typescale-4;
  font-family: variables.$font-family-sans-serif;
  line-height: variables.$line-height-body;
  padding: variables.$spacing-3;
  transition: background-color 0.2s;

  &:hover,
  &:focus {
    background-color: variables.$gray-lighter;
  }
}

.accordion-item__label {
  flex: 1 1 auto;
  width: 100%;

  &--bold {
    font-weight: variables.$font-weight-bold;
    text-transform: uppercase;
    display: flex;
    align-items: center;
  }
}

.accordion-item__icon {
  transition: variables.$chevron-transition;
  margin-left: variables.$spacing-3;
  flex: 0 0 auto;

  .accordion-item.is-toggled & {
    transform: variables.$chevron-transform;
  }
}

.accordion-item__content,
.accordion-item__content--column {
  padding-top: variables.$spacing-3;
  padding-bottom: variables.$spacing-7;
  padding-left: variables.$spacing-3;
  padding-right: variables.$spacing-3;

  .accordion-item.has-toggler & {
    display: none;
  }

  .accordion-item.is-toggled & {
    display: flex; // must be flex for faq accordions

    &--column {
      flex-direction: column;
    }
  }

  @media print {
    display: flex !important;
  }
}

.accordion-item__sub-title {
  @include type.gray-label;
  margin-bottom: variables.$spacing-2;

  &:not(:first-child) {
    margin-top: variables.$spacing-4;
    margin-bottom: variables.$spacing-1;
    padding-top: variables.$spacing-4;
    border-top: 1px solid #dedede;
  }
}
