@use '../core/variables';
@use '../mixins/buttons';

.dropdown__button.addtocal {
  @include buttons.button-size(sm);
  display: inline-block;
}

.dropdown__list.addtocal-menu {
  display: none;
}

.dropdown__list.addtocal-menu,
.dropdown__list.addtocal-menu:hover {
  border-top: 1px solid variables.$white;
  background: variables.$navy;
}

.addtocal-link a.dropdown__link,
.addtocal-link a.dropdown__link:hover {
  color: variables.$white;
  background-color: transparent;
}
