@use '../core/variables';
@use '../mixins/breakpoints';

.announcement {
  background: variables.$blue-lighter;
  padding: variables.$spacing-5 variables.$spacing-3;

  @include breakpoints.breakpoint(md) {
    padding: variables.$spacing-7 variables.$spacing-5;
  }

  @include breakpoints.breakpoint(lg) {
    padding-left: variables.$spacing-9;
    padding-right: variables.$spacing-9;
  }
}
