@use '../core/mixins';
@use '../core/variables';
@use '../mixins/breakpoints';
@use '../mixins/buttons';
@use '../mixins/grid';
@use '../mixins/type';

$app-header-bp: lg;

.app-header {
  background: variables.$navy;
}

.app-header__wrap {
  @include grid.make-container;

  & {
    display: flex;
  }

  @media print {
    display: block;
  }
}

.app-header__wrap--main {
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-end;
}

.app-header__logo {
  position: relative;
  top: 1rem;
  width: 44px;
  z-index: 2;

  @include breakpoints.breakpoint(lg) {
    width: 67px;
  }

  @media print {
    float: right;
  }
}

.app-header__title {
  margin: auto 0;

  @include type.h2;
  @include grid.make-col(9);
}

.app-header__link {
  color: variables.$white;

  @media print {
    display: block;
    margin-top: variables.$spacing-3;
  }
}

.app-header__secondary {
  background: variables.$gray-lighter;
  position: relative;
  @include mixins.print-hide;
}

.app-header__button {
  @include buttons.button-base;
  font-size: variables.$typescale-2;
  font-weight: variables.$font-weight-medium;
  padding: variables.$spacing-3;
  border: 0;

  @include breakpoints.breakpoint($app-header-bp) {
    padding-left: 0;
    padding-right: 0;
    font-size: variables.$typescale-3;
    font-weight: variables.$font-weight-normal;

    &:hover,
    &.is-toggled {
      box-shadow: inset 0 -4px 0 0 variables.$navy;
    }
  }
}

.app-header__dropdown {
  flex: 0 0 auto;

  // HACK: pull buttons to left to line up with site title since container has padding
  &:first-child {
    margin-left: -#{variables.$spacing-3};
    @include breakpoints.breakpoint($app-header-bp) {
      margin-left: 0;
    }
  }

  @include breakpoints.breakpoint($app-header-bp) {
    // use relative position at larger screen so search dropdown lines up with toggle button
    position: relative;
  }
}

.app-header__nav {
  display: none;
  position: absolute;
  background: variables.$gray-lighter;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: variables.$z-index-app-header-nav;

  &.is-toggled {
    display: block;
  }

  @include breakpoints.breakpoint($app-header-bp) {
    display: block;
    position: relative;
    top: 0;
  }
}

.app-header__search {
  background: variables.$gray-lighter;
  border-bottom: 1px solid variables.$border-color;
  border-top: 1px solid variables.$border-color;
  padding: variables.$spacing-3;
  position: absolute;
  top: 100%;
  right: 0;
  width: 100%;
  transition: opacity 0.2s;
  visibility: hidden;
  opacity: 0;
  z-index: variables.$z-index-app-header-search;

  &.is-toggled {
    opacity: 1;
    visibility: visible;
  }

  @include breakpoints.breakpoint($app-header-bp) {
    width: 400px;
    border: 1px solid variables.$border-color;
  }
}
