@use '../core/functions';
@use '../core/variables';

.badge {
  display: inline-block;
  font-size: variables.$typescale-1;
  color: variables.$gray;
  border: 1px solid currentcolor;
  padding: functions.rem(2) functions.rem(2) functions.rem(1) functions.rem(2);
  font-weight: variables.$font-weight-semibold;
  text-transform: uppercase;
  line-height: variables.$line-height-solid;
  font-family: variables.$font-family-sans-serif;
  letter-spacing: variables.$letter-spacing;
}

.badge--primary {
  background: variables.$navy;
  color: variables.$white;
  border-color: variables.$navy;

  &.badge--outline {
    background: transparent;
    color: variables.$navy;
  }

  &.badge--no-outline {
    background: transparent;
    color: variables.$navy;
    border-color: transparent;
  }
}
