@use '../core/functions';
@use '../core/variables';
@use '../mixins/breakpoints';

@use 'sass:math';

.banner {
  background-color: variables.$navy-dark;
  padding: variables.$spacing-3;

  @include breakpoints.breakpoint(sm) {
    padding: variables.$spacing-4 variables.$spacing-3;
  }

  @include breakpoints.breakpoint(lg) {
    padding: variables.$spacing-5;
  }

  figure {
    position: relative;
    // max-width: 1376px;
    max-width: fit-content;

    img {
      min-height: 250px;
      object-fit: cover;
      max-width: fit-content;
      width: 100%;
      height: 100%;
    }
  }

  .banner__top-line,
  .banner__bottom-line {
    position: absolute;
    display: block;
    width: math.percentage(math.div(12, 12));

    @include breakpoints.breakpoint(sm) {
      width: math.percentage(math.div(9, 12));
    }
  }

  .banner__top-line {
    border-top: variables.$spacing-1 solid variables.$blue;
  }

  .banner__bottom-line {
    bottom: 0;
    right: 0;
    border-top: 1px solid #a7c504;
  }

  .banner__content {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: variables.$spacing-3;

    @include breakpoints.breakpoint(sm) {
      margin-right: variables.$spacing-4;
    }

    @include breakpoints.breakpoint(xl) {
      margin-right: variables.$spacing-5;
    }
  }

  .banner__campaign-logo {
    display: flex;
    flex-direction: column;
    margin-top: -(variables.$spacing-1);

    @include breakpoints.breakpoint(md) {
      margin-top: 0;
    }

    svg {
      fill: variables.$white;

      &:first-child {
        margin-left: -(variables.$spacing-5);
        margin-bottom: variables.$spacing-2;
        width: 200px;

        @include breakpoints.breakpoint(md) {
          width: initial;
          margin-left: functions.rem(-144);
          margin-bottom: variables.$spacing-3;
        }
      }

      &:nth-child(2) {
        width: 200px;

        @include breakpoints.breakpoint(md) {
          width: initial;
        }
      }
    }
  }

  .banner__link {
    position: absolute;
    bottom: 0;
    right: variables.$spacing-3;
    margin-bottom: variables.$spacing-3;
    color: variables.$white;
    font-size: variables.$typescale-1;
    font-weight: variables.$font-weight-semibold;
    letter-spacing: variables.$letter-spacing;
    text-transform: uppercase;

    @include breakpoints.breakpoint(sm) {
      margin-bottom: variables.$spacing-4;
      right: variables.$spacing-4;
    }

    @include breakpoints.breakpoint(xl) {
      right: variables.$spacing-5;
    }
  }
}
