@use '../core/mixins';
@use '../core/variables';
@use '../mixins/breakpoints';

.breadcrumb {
  @include mixins.print-hide;
}

.breadcrumb__list {
  display: flex;
  flex-wrap: wrap;
}

.breadcrumb__item {
  display: none;

  @include breakpoints.breakpoint(md) {
    display: block;
  }

  &:not(:last-of-type) {
    margin-right: 5px;

    &:after {
      content: '/';
    }
  }

  &:last-child {
    display: block;
  }
}

.breadcrumb__link {
  font-size: variables.$typescale-2;
}

.breadcrumb--light {
  .breadcrumb__item:after,
  .breadcrumb__link {
    color: variables.$white;
  }
}
