///
//// chart group
///

.chart-group {
}

.chart-group__title {
}

.chart-group__list {
  @include make-row;
}

.chart-group__item {
  @include make-col-ready;
  margin-bottom: $spacing-5;

  // TODO: clever class names we should change to pass stylelint class pattern
  // stylelint-disable-next-line
  .chart-group__list--2 & {
    @include breakpoint(md) {
      @include make-col(6);
    }
  }

  // stylelint-disable-next-line
  .chart-group__list--3\+ & {
    @include breakpoint(md) {
      @include make-col(4);
    }
  }
}

.chart-group__item--stats {
  @include breakpoint(sm) {
    @include make-col(6);
  }
  @include breakpoint(md) {
    @include make-col(4);
  }
}

///
//// Single chart
///

.chart {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.chart--singlebar {
  max-width: none;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

.chart--percentage-bar {
  figcaption {
    font-size: $typescale-2;
    font-weight: $font-weight-medium;
    text-align: center;
    padding: $spacing-4;
  }
}
///
//// Chart legend
///

.chart-legend {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: center;
}

.chart-legend--inline {
  .chart-legend__list {
    @include breakpoint(md) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .chart-legend__item {
    flex: 0 0 auto;
    @include breakpoint(md) {
      &:not(:last-child) {
        margin-right: 1rem;
      }
    }
  }
}

.chart-legend__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.chart-legend__item {
  display: flex;
  align-items: center;
  margin-bottom: $spacing-1;

  &, p {
    font-size: $typescale-2;
  }
}

.chart-legend__icon {
  display: inline-block;
  background: $gray-light;
  width: 1rem;
  height: 0.5rem;
  margin-right: $spacing-2;
}