@use '../core/functions';
@use '../core/variables';
@use '../mixins/breakpoints';
@use '../mixins/grid';
@use '../mixins/type';

// Grid Hover

.quad-item-1,
.quad-item-2,
.quad-item-3,
.quad-item-4 {
  position: relative;

  .grid-expandable-tile {
    height: 100%;
    width: 100%;
  }

  @include breakpoints.breakpoint(lg) {
    &:hover,
    &:focus-within {
      > .grid-hover__overlay {
        opacity: 1;
      }

      > .grid-expandable-tile {
        opacity: 0.1;
      }
    }
  }
}

.grid-hover__overlay {
  transition: 0.2s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: variables.$white;
  width: 100%;
  padding: 0 variables.$spacing-4;
  display: none;

  @include breakpoints.breakpoint(lg) {
    display: block;
  }

  .grid-hover__text {
    p {
      font-size: variables.$typescale-6;
    }
  }

  &.text-small {
    padding: 0 variables.$spacing-3;

    @include breakpoints.breakpoint(xl) {
      padding: 0 variables.$spacing-4;
    }

    p {
      font-size: variables.$typescale-4;
    }
  }
}

// Grid Modal Overlay

.grid-modal {
  display: none;
  background: rgba(variables.$navy-dark, 0.95);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 300;
  color: variables.$white;

  &.is-open {
    display: block;
    align-items: center;
    overflow-y: scroll;
  }
}

.grid-modal__overlay {
  figure {
    padding-top: variables.$spacing-9;
    padding-bottom: variables.$spacing-5;

    @include breakpoints.breakpoint(lg) {
      padding-bottom: variables.$spacing-7;
    }
  }

  .portrait-video__content,
  .video__content {
    background: variables.$black;
  }

  .portrait-video--grid {
    margin: inherit;
    max-width: 225px;

    .grid-portrait-video__button {
      z-index: 2;
    }

    @include breakpoints.breakpoint(md) {
      max-width: 288px;
    }

    @include breakpoints.breakpoint(lg) {
      max-width: 405px;
    }

    @include breakpoints.breakpoint(xl) {
      max-width: 459px;
    }
  }

  .video__text,
  .image__text {
    font-size: variables.$typescale-2;

    a {
      color: variables.$white;
      @include type.link-border;
    }

    @include breakpoints.breakpoint(md) {
      font-size: variables.$typescale-4;
    }
  }

  .grid-video__body,
  .grid-image__body {
    text-align: left;
    margin-top: variables.$spacing-2;

    @include breakpoints.breakpoint(lg) {
      margin-right: 8.33333%;
    }
  }

  .grid-video__transcript .transcript__button {
    color: variables.$white;

    &:hover {
      border-color: variables.$white;
      text-decoration: none;
    }
  }
}

.grid-modal__button-container {
  width: 100%;
  position: fixed;
}

.grid-modal__button {
  text-transform: uppercase;
  letter-spacing: variables.$letter-spacing;
  font-weight: variables.$font-weight-semibold;
  font-size: variables.$typescale-2;
  color: variables.$white;
  background: none;
  border: 0;
  display: block;
  margin-top: variables.$spacing-4;
  margin-right: variables.$spacing-3;

  @include breakpoints.breakpoint(lg) {
    margin-top: variables.$spacing-5;
    margin-right: variables.$spacing-5;
  }

  &:hover,
  &:focus {
    opacity: 1;
  }
}

.grid-modal__button--close {
  margin-left: auto;

  .icon {
    width: 1.5em;
    height: 1.5em;
  }
}

// Grid Quote

.grid-quote {
  height: 100%;
  width: 100%;
  background: url('/src/images/homepage-quote-blue.svg') no-repeat
    variables.$spacing-2 -0.75rem;
  background-size: 76px 60px;
  background-color: variables.$white;
  color: variables.$navy;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: variables.$spacing-2;
  position: relative;

  @include breakpoints.breakpoint(md) {
    padding: variables.$spacing-3;
    background-position-x: variables.$spacing-3;
    background-position-y: -0.625rem;
  }

  @include breakpoints.breakpoint(lg) {
    background-position-y: -0.75rem;
    background-size: 120px 95px;
  }

  .grid-quote__text {
    font-weight: variables.$font-weight-normal;
    font-size: variables.$typescale-4;
    line-height: 2;
    text-align: left;

    @include breakpoints.breakpoint(md) {
      font-size: variables.$typescale-5;
    }

    @include breakpoints.breakpoint(lg) {
      font-weight: variables.$font-weight-light;
      line-height: 2.2;
      font-size: functions.rem(32);
    }

    @include breakpoints.breakpoint(xl) {
      line-height: 2.6;
      font-size: variables.$typescale-8;
    }
  }

  .grid-quote__caption {
    position: absolute;
    bottom: variables.$spacing-2;
    right: variables.$spacing-2;

    @include breakpoints.breakpoint(md) {
      bottom: variables.$spacing-3;
      right: variables.$spacing-3;
    }
  }

  .grid-quote__caption,
  .grid-quote__caption p {
    text-align: right;
    line-height: variables.$line-height-heading !important;
    font-size: variables.$typescale-1 !important;

    @include breakpoints.breakpoint(lg) {
      font-size: variables.$typescale-3 !important;
    }

    @include breakpoints.breakpoint(xl) {
      font-size: variables.$typescale-4 !important;
    }
  }

  &.quote--dark {
    background-image: url('/src/images/homepage-quote-white.svg');
    background-color: #c0e3fd;
    color: variables.$navy;

    @include breakpoints.breakpoint(md) {
      background-position-x: variables.$spacing-2;
    }

    @include breakpoints.breakpoint(lg) {
      background-position-x: variables.$spacing-3;
    }
  }

  &.quote-text--small {
    background-size: 56px 44px;
    padding: variables.$spacing-2;

    @include breakpoints.breakpoint(lg) {
      padding: variables.$spacing-3;
      padding-top: variables.$spacing-4;
      background-size: 104px 82px;
    }

    .grid-quote__text {
      font-size: variables.$typescale-1;
      font-weight: variables.$font-weight-semibold;
      line-height: variables.$line-height-base;

      @include breakpoints.breakpoint(md) {
        font-size: variables.$typescale-2;
      }

      @include breakpoints.breakpoint(lg) {
        line-height: 2;
        font-weight: variables.$font-weight-normal;
        font-size: variables.$typescale-5;
      }

      @include breakpoints.breakpoint(xl) {
        font-weight: variables.$font-weight-light;
        font-size: variables.$typescale-7;
      }
    }

    .grid-quote__caption {
      bottom: variables.$spacing-2;
      right: variables.$spacing-2;

      @include breakpoints.breakpoint(lg) {
        bottom: variables.$spacing-3;
        right: variables.$spacing-3;
      }
    }

    .grid-quote__caption,
    .grid-quote__caption p {
      font-size: functions.rem(10) !important;
      font-weight: variables.$font-weight-semibold;
      line-height: variables.$line-height-heading;

      @include breakpoints.breakpoint(lg) {
        font-weight: variables.$font-weight-normal;
        font-size: variables.$typescale-2 !important;
      }
    }
  }
}

// Grid Stats

.grid-stats {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  height: 100%;

  &.dark {
    background: variables.$navy;
    color: #fff;

    .chart-group__list .chart-group__item .stats__label {
      border-bottom: 1px solid variables.$white;
    }
  }

  .chart-group__list {
    display: block;
    width: 100%;
    margin: 0;

    .chart-group__item {
      @include grid.make-col(9);

      & {
        padding: 0;
        margin: auto;
      }

      .stats__label {
        display: flex;
        justify-content: center;
        border-bottom: 1px solid variables.$navy;
        font-size: variables.$typescale-5;
        font-weight: variables.$font-weight-bold;
        padding-bottom: variables.$spacing-1;
        margin-bottom: variables.$spacing-1;

        @include breakpoints.breakpoint(md) {
          font-size: variables.$typescale-7;
        }

        @include breakpoints.breakpoint(lg) {
          font-size: variables.$typescale-10;
          font-weight: variables.$font-weight-normal;
          padding-bottom: variables.$spacing-2;
          margin-bottom: variables.$spacing-2;
        }
      }

      .stats__text {
        font-weight: variables.$font-weight-semibold;
        font-size: variables.$typescale-1;
        line-height: variables.$line-height-heading;

        @include breakpoints.breakpoint(md) {
          font-size: variables.$typescale-2;
        }

        @include breakpoints.breakpoint(lg) {
          font-size: variables.$typescale-4;
          line-height: 1.5;
        }
      }
    }

    &.chart-group__list--2 {
      .chart-group__item:first-child {
        margin-bottom: variables.$spacing-3;

        @include breakpoints.breakpoint(md) {
          margin-bottom: variables.$spacing-4;
        }

        @include breakpoints.breakpoint(lg) {
          margin-bottom: variables.$spacing-5;
        }

        @include breakpoints.breakpoint(xl) {
          margin-bottom: variables.$spacing-7;
        }
      }
    }
  }
}
