// Grid Hover

.quad-item-1,
.quad-item-2,
.quad-item-3,
.quad-item-4 {
  position: relative;

  .grid-expandable-tile {
    height: 100%;
    width: 100%;
  }

  @include breakpoint(lg) {
    &:hover,
    &:focus-within {
      > .grid-hover__overlay {
        opacity: 1;
      }

      > .grid-expandable-tile {
        opacity: 0.1;
      }
    }
  }
}

.grid-hover__overlay {
  transition: 0.2s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: $white;
  width: 100%;
  padding: 0 $spacing-4;
  display: none;

  @include breakpoint(lg) {
    display: block;
  }

  .grid-hover__text {
    p {
      font-size: $typescale-6;
    }
  }

  &.text-small {
    padding: 0 $spacing-3;

    @include breakpoint(xl) {
      padding: 0 $spacing-4;
    }

    p {
      font-size: $typescale-4;
    }
  }
}

// Grid Modal Overlay

.grid-modal {
  display: none;
  background: rgba($navy-dark, 0.95);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 300;
  color: $white;

  &.is-open {
    display: block;
    align-items: center;
    overflow-y: scroll;
  }
}

.grid-modal__overlay {
  figure {
    padding-top: $spacing-9;
    padding-bottom: $spacing-5;

    @include breakpoint(lg) {
      padding-bottom: $spacing-7;
    }
  }

  .portrait-video__content,
  .video__content {
    background: $black;
  }

  .portrait-video--grid {
    margin: inherit;
    max-width: 225px;

    .grid-portrait-video__button {
      z-index: 2;
    }

    @include breakpoint(md) {
      max-width: 288px;
    }

    @include breakpoint(lg) {
      max-width: 405px;
    }

    @include breakpoint(xl) {
      max-width: 459px;
    }
  }

  .video__text,
  .image__text {
    font-size: $typescale-2;

    a {
      color: $white;
      @include link-border;
    }

    @include breakpoint(md) {
      font-size: $typescale-4;
    }
  }

  .grid-video__body,
  .grid-image__body {
    text-align: left;
    margin-top: $spacing-2;

    @include breakpoint(lg) {
      margin-right: 8.33333%;
    }
  }

  .grid-video__transcript .transcript__button {
    color: $white;

    &:hover {
      border-color: $white;
      text-decoration: none;
    }
  }
}

.grid-modal__button-container {
  width: 100%;
  position: fixed;
}

.grid-modal__button {
  text-transform: uppercase;
  letter-spacing: $letter-spacing;
  font-weight: $font-weight-semibold;
  font-size: $typescale-2;
  color: $white;
  background: none;
  border: 0;
  display: block;
  margin-top: $spacing-4;
  margin-right: $spacing-3;

  @include breakpoint(lg) {
    margin-top: $spacing-5;
    margin-right: $spacing-5;
  }

  &:hover,
  &:focus {
    opacity: 1;
  }
}

.grid-modal__button--close {
  margin-left: auto;

  .icon {
    width: 1.5em;
    height: 1.5em;
  }
}

// Grid Quote

.grid-quote {
  height: 100%;
  width: 100%;
  background: url(/src/images/homepage-quote-blue.svg) no-repeat $spacing-2 -0.75rem;
  background-size: 76px 60px;
  background-color: $white;
  color: $navy;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: $spacing-2;
  position: relative;

  @include breakpoint(md) {
    padding: $spacing-3;
    background-position-x: $spacing-3;
    background-position-y: -0.625rem;
  }

  @include breakpoint(lg) {
    background-position-y: -0.75rem;
    background-size: 120px 95px;
  }

  .grid-quote__text {
    font-weight: $font-weight-normal;
    font-size: $typescale-4;
    line-height: 2;
    text-align: left;

    @include breakpoint(md) {
      font-size: $typescale-5;
    }

    @include breakpoint(lg) {
      font-weight: $font-weight-light;
      line-height: 2.2;
      font-size: rem(32);
    }

    @include breakpoint(xl) {
      line-height: 2.6;
      font-size: $typescale-8;
    }
  }

  .grid-quote__caption {
    position: absolute;
    bottom: $spacing-2;
    right: $spacing-2;

    @include breakpoint(md) {
      bottom: $spacing-3;
      right: $spacing-3;
    }
  }

  .grid-quote__caption,
  .grid-quote__caption p {
    text-align: right;
    line-height: $line-height-heading !important;
    font-size: $typescale-1 !important;

    @include breakpoint(lg) {
      font-size: $typescale-3 !important;
    }

    @include breakpoint(xl) {
      font-size: $typescale-4 !important;
    }
  }

  &.quote--dark {
    background-image: url(/src/images/homepage-quote-white.svg);
    background-color: #c0e3fd;
    color: $navy;

    @include breakpoint(md) {
      background-position-x: $spacing-2;
    }

    @include breakpoint(lg) {
      background-position-x: $spacing-3;
    }
  }

  &.quote-text--small {
    background-size: 56px 44px;
    padding: $spacing-2;

    @include breakpoint(lg) {
      padding: $spacing-3;
      padding-top: $spacing-4;
      background-size: 104px 82px;
    }

    .grid-quote__text {
      font-size: $typescale-1;
      font-weight: $font-weight-semibold;
      line-height: $line-height-base;

      @include breakpoint(md) {
        font-size: $typescale-2;
      }

      @include breakpoint(lg) {
        line-height: 2;
        font-weight: $font-weight-normal;
        font-size: $typescale-5;
      }

      @include breakpoint(xl) {
        font-weight: $font-weight-light;
        font-size: $typescale-7;
      }
    }

    .grid-quote__caption {
      bottom: $spacing-2;
      right: $spacing-2;

      @include breakpoint(lg) {
        bottom: $spacing-3;
        right: $spacing-3;
      }
    }

    .grid-quote__caption,
    .grid-quote__caption p {
      font-size: rem(10) !important;
      font-weight: $font-weight-semibold;
      line-height: $line-height-heading;

      @include breakpoint(lg) {
        font-weight: $font-weight-normal;
        font-size: $typescale-2 !important;
      }
    }
  }
}

// Grid Stats

.grid-stats {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  height: 100%;

  &.dark {
    background: $navy;
    color: #fff;

    .chart-group__list .chart-group__item .stats__label {
      border-bottom: 1px solid $white;
    }
  }

  .chart-group__list {
    display: block;
    width: 100%;
    margin: 0;

    .chart-group__item {
      @include make-col(9);
      padding: 0;
      margin: auto;

      .stats__label {
        display: flex;
        justify-content: center;
        border-bottom: 1px solid $navy;
        font-size: $typescale-5;
        font-weight: $font-weight-bold;
        padding-bottom: $spacing-1;
        margin-bottom: $spacing-1;

        @include breakpoint(md) {
          font-size: $typescale-7;
        }

        @include breakpoint(lg) {
          font-size: $typescale-10;
          font-weight: $font-weight-normal;
          padding-bottom: $spacing-2;
          margin-bottom: $spacing-2;
        }
      }

      .stats__text {
        font-weight: $font-weight-semibold;
        font-size: $typescale-1;
        line-height: $line-height-heading;

        @include breakpoint(md) {
          font-size: $typescale-2;
        }

        @include breakpoint(lg) {
          font-size: $typescale-4;
          line-height: 1.5;
        }
      }
    }

    &.chart-group__list--2 {
      .chart-group__item:first-child {
        margin-bottom: $spacing-3;

        @include breakpoint(md) {
          margin-bottom: $spacing-4;
        }

        @include breakpoint(lg) {
          margin-bottom: $spacing-5;
        }

        @include breakpoint(xl) {
          margin-bottom: $spacing-7;
        }
      }
    }
  }
}
