@use '../core/variables';
@use '../mixins/breakpoints';
@use '../mixins/grid';
@use '../mixins/type';

.cookie-banner {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: variables.$black;
  color: variables.$white;
  z-index: variables.$z-index-cookie-banner;
  display: flex;
  flex-direction: column-reverse;
  padding: variables.$spacing-4 variables.$spacing-3;

  @include breakpoints.breakpoint(md) {
    padding: variables.$spacing-5 variables.$spacing-3;
    flex-direction: row;
  }

  @include breakpoints.breakpoint(lg) {
    padding: variables.$spacing-5;
  }

  &.is-toggled {
    display: none;
  }

  p {
    @include breakpoints.breakpoint(md) {
      @include grid.make-col(10);
    }

    a {
      font-weight: variables.$font-weight-semibold;
      color: variables.$white;
      @include type.link-border;
    }
  }

  .cookie-banner__button {
    text-transform: uppercase;
    letter-spacing: variables.$letter-spacing;
    font-weight: variables.$font-weight-semibold;
    font-size: variables.$typescale-2;
    color: variables.$white;
    background: none;
    border: 0;

    .cookie-banner__button-icon {
      width: variables.$typescale-5;
      height: variables.$typescale-5;
    }
  }

  .cookie-banner__button--close {
    margin-bottom: variables.$spacing-4;
    margin-left: auto;

    @include breakpoints.breakpoint(md) {
      margin-bottom: auto;
    }
  }
}
