@use '../core/variables';
@use '../mixins/breakpoints';

.count {
  display: block;
  padding-top: variables.$spacing-2;
  padding-bottom: variables.$spacing-2;
  border-top: 4px solid variables.$navy;
  border-bottom: 1px solid variables.$border-color;
  font-size: variables.$typescale-3;
  margin-bottom: variables.$spacing-4;
  @include breakpoints.breakpoint(md) {
    margin-bottom: variables.$spacing-7;
  }
}
