.count {
  display: block;
  padding-top: $spacing-2;
  padding-bottom: $spacing-2;
  border-top: 4px solid $navy;
  border-bottom: 1px solid $border-color;
  font-size: $typescale-3;
  margin-bottom: $spacing-4;
  @include breakpoint(md) {
    margin-bottom: $spacing-7;
  }
}
