@use '../core/variables';
@use '../mixins/breakpoints';
@use '../mixins/grid';
@use '../mixins/type';

.footer-cta-light {
  h2 {
    font-size: variables.$typescale-4;
    letter-spacing: 2px;
  }
}

.cta-group {
  @include grid.make-row;
}

.cta-group__item {
  @include grid.make-col-ready;

  & {
    padding-top: variables.$spacing-4;
    padding-bottom: variables.$spacing-4;
    text-align: center;
  }

  @include breakpoints.breakpoint(md) {
    padding-top: variables.$spacing-5;
    padding-bottom: variables.$spacing-5;
  }

  @include breakpoints.breakpoint(lg) {
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    // From grid framework.
    // Makes cols equal widths no matter amount since cta-group can be 2-4 items.
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }

  &:not(:last-of-type) {
    border-bottom: 1px solid variables.$border-color;

    @include breakpoints.breakpoint(lg) {
      border-bottom: 0;
      border-right: 1px solid variables.$border-color;
    }

    &.blue-border {
      border-bottom: 0;

      @include breakpoints.breakpoint(lg) {
        border-color: variables.$blue;
      }

      & + .border-bottom {
        display: block;
        width: variables.$spacing-7;
        margin: auto;
        border-bottom: 1px solid variables.$blue;

        @include breakpoints.breakpoint(lg) {
          display: none;
        }
      }
    }
  }
}

.cta-group__title {
  @include type.h2;

  & {
    margin-bottom: variables.$spacing-2;
  }
}

.cta-group__text {
  font-size: variables.$typescale-4;
  margin-bottom: variables.$spacing-4;

  @include breakpoints.breakpoint(md) {
    margin-bottom: variables.$spacing-5;
  }
}

.cta-group__button {
  margin-top: auto;
  align-self: center; // prevents button from becoming full width
}

.footer-cta-light {
  h2 {
    font-family: variables.$font-family-sans-serif;
    text-transform: uppercase;
  }
}
