@use '../core/variables';
@use '../mixins/breakpoints';
@use '../mixins/grid';

.cta-bar {
  display: block;
  background: variables.$navy;
  text-align: center;
  text-decoration: none;
  font-weight: variables.$font-weight-semibold;
  font-size: variables.$typescale-3;
  transition: background 0.2s;
  padding-top: variables.$spacing-1;
  padding-bottom: variables.$spacing-2;
  @include grid.make-gutters;

  @include breakpoints.breakpoint(md) {
    padding-bottom: variables.$spacing-1;
  }

  &:hover,
  &:focus {
    background: variables.$navy-dark;

    .cta-bar__text,
    .cta-bar__button {
      opacity: 0.8;
    }
  }
}

.cta-bar__text {
  color: variables.$white;
  display: block;
  margin-bottom: variables.$spacing-2;
  transition: opacity 0.2s;

  @include breakpoints.breakpoint(md) {
    display: inline-block;
    margin-right: variables.$spacing-5;
    margin-bottom: 0;
  }
}

.cta-bar__button {
  transition: opacity 0.2s;
  background: variables.$white;
}
