@use '../core/variables';

@use '../../../node_modules/pikaday/scss/pikaday' with (
  $pd-text-color: variables.$black,
  $pd-title-color: variables.$color-primary,
  $pd-title-bg: variables.$white,
  $pd-picker-bg: variables.$white,
  $pd-picker-border: variables.$border-color,
  $pd-picker-border-bottom: variables.$border-color,
  $pd-picker-shadow: none,
  $pd-th-color: variables.$black,
  $pd-day-color: variables.$color-primary,
  $pd-day-bg: transparent,
  $pd-day-hover-color: variables.$color-primary,
  $pd-day-hover-bg: variables.$gray-light,
  $pd-day-today-color: variables.$color-primary,
  $pd-day-selected-color: variables.$white,
  $pd-day-selected-bg: variables.$color-primary,
  $pd-day-selected-shadow: transparent,
  $pd-day-disabled-color: #999,
  $pd-week-color: #999,
  $pd-font-family: variables.$font-family-sans-serif
);

.pika-single {
  z-index: variables.$z-index-datepicker;
  border: 0;
  padding: 0;
}

.pika-lendar {
  float: none;
  width: inherit;
}

.pika-table {
  th {
    font-size: 14px;
    color: variables.$black;
    font-weight: normal;
    padding-bottom: 0.5rem;
  }

  td {
    border: 1px solid variables.$gray-light;
  }

  abbr {
    text-decoration: none;
    cursor: default;
  }
}

.pika-prev,
.pika-next {
  &:focus {
    opacity: 1;
    outline: 1px solid variables.$color-primary;
  }
}

.pika-button {
  text-align: center;
  font-size: 14px;
  line-height: 1.5;
  border-radius: 0 !important;
  box-shadow: none !important;
  padding: 0.5rem;

  .is-selected & {
    &:focus,
    &:hover {
      background: pikaday.$pd-day-selected-bg;
      color: pikaday.$pd-day-selected-color;
    }
  }

  .is-disabled &,
  .is-outside-current-month & {
    opacity: 1;
    color: variables.$gray-light;
  }

  &:focus {
    background: pikaday.$pd-day-hover-bg;
    color: pikaday.$pd-day-hover-color;
  }
}
