$pd-text-color: $black;
$pd-title-color: $color-primary;
$pd-title-bg: $white;
$pd-picker-bg: $white;
$pd-picker-border: $border-color;
$pd-picker-border-bottom: $border-color;
$pd-picker-shadow: none;
$pd-th-color: $black;
$pd-day-color: $color-primary;
$pd-day-bg: transparent;
$pd-day-hover-color: $color-primary;
$pd-day-hover-bg: $gray-light;
$pd-day-today-color: $color-primary;
$pd-day-selected-color: $white;
$pd-day-selected-bg: $color-primary;
$pd-day-selected-shadow: transparent;
$pd-day-disabled-color: #999;
$pd-week-color: #999;

$pd-font-family: $font-family-sans-serif;

// @import '../../../node_modules/pikaday/scss/pikaday';

.pika-single {
  z-index: $z-index-datepicker;
  border: 0;
  padding: 0;
}

.pika-lendar {
  float: none;
  width: inherit;
}

.pika-table {
  th {
    font-size: 14px;
    color: $black;
    font-weight: normal;
    padding-bottom: 0.5rem;
  }

  td {
    border: 1px solid $gray-light;
  }

  abbr {
    text-decoration: none;
    cursor: default;
  }
}

.pika-prev,
.pika-next {
  &:focus {
    opacity: 1;
    outline: 1px solid $color-primary;
  }
}

.pika-button {
  text-align: center;
  font-size: 14px;
  line-height: 1.5;
  border-radius: 0 !important;
  box-shadow: none !important;
  padding: 0.5rem;

  .is-selected & {
    &:focus,
    &:hover {
      background: $pd-day-selected-bg;
      color: $pd-day-selected-color;
    }
  }

  .is-disabled &,
  .is-outside-current-month & {
    opacity: 1;
    color: $gray-light;
  }

  &:focus {
    background: $pd-day-hover-bg;
    color: $pd-day-hover-color;
  }
}
