@use '../core/functions';
@use '../core/mixins';
@use '../core/variables';
@use '../mixins/breakpoints';

.school-header {
  &.davis-header {
    background: variables.$black;
    position: relative;
    border: 0;

    .school-header__main {
      align-items: flex-start;

      @include breakpoints.breakpoint(sm) {
        align-items: center;
      }

      @include breakpoints.breakpoint(xl) {
        align-items: flex-start;
      }
    }

    .school-header__menu-content {
      display: flex;
      flex-direction: column;
    }

    .school-header__logo {
      img:first-child {
        padding-bottom: variables.$spacing-7;

        @include breakpoints.breakpoint(sm) {
          padding-bottom: 0;
          padding-right: functions.rem(12);
        }
      }

      img:nth-child(2) {
        position: absolute;
        left: variables.$spacing-3;
        top: functions.rem(70);
        width: 288px;

        @include breakpoints.breakpoint(sm) {
          position: initial;
        }

        @include breakpoints.breakpoint(md) {
          width: 309px;
        }
      }

      & {
        padding-top: variables.$spacing-3;
        padding-bottom: variables.$spacing-3;
      }

      @include breakpoints.breakpoint(md) {
        padding-top: variables.$spacing-4;
        padding-bottom: variables.$spacing-4;
      }

      @include breakpoints.breakpoint(lg) {
        padding-bottom: variables.$spacing-5;
      }
    }

    .school-header__util-links {
      display: flex;
      flex-direction: row-reverse;

      .school-search__handle {
        color: variables.$white;
        font-weight: variables.$font-weight-semibold;
      }
    }
  }
}

.theme-uwc {
  .page-header--has-image {
    min-height: 400px;
  }

  .drawer__content {
    background: variables.$black;
  }

  .drawer-nav__item {
    border-top-color: variables.$gray;
  }

  .drawer-nav__handle {
    border-left-color: variables.$gray;
  }

  .drawer-nav__list {
    border-top-color: variables.$gray;
  }
}

.davis-nav {
  display: none;

  @include mixins.print-hide;
  @include breakpoints.breakpoint(xl) {
    display: initial;
  }

  .davis-nav__link {
    font-size: variables.$typescale-1;
    padding-top: variables.$spacing-3;
    padding-bottom: 0;
    border-bottom: 1px solid transparent;
    text-decoration: none;

    &:hover {
      border-bottom-color: currentcolor;
      text-decoration: none;
    }
  }
}

.davis-nav__handle {
  display: inline-block;
  padding: variables.$spacing-3;
  padding-right: 0;
  font-size: variables.$typescale-2;
  font-weight: variables.$font-weight-semibold;
  line-height: variables.$line-height-body;
  color: variables.$white;
  background: none;
  border: 0;

  @include breakpoints.breakpoint(xl) {
    display: none;
  }
}

.davis-nav__menu {
  display: none;

  @include breakpoints.breakpoint(xl) {
    display: flex;
    flex-direction: column-reverse;
  }
}

.davis-nav__bars {
  .davis-nav__handle.is-toggled & {
    display: none;
  }
}

.davis-nav__times {
  display: none;

  .davis-nav__handle.is-toggled & {
    display: inline-block;
  }
}

.davis-nav__list {
  display: flex;
  justify-content: flex-end;
}

.davis-nav__list--sub {
  display: block; // unset display-flex
  position: absolute;
  top: 100%;
  left: 0;
  background-color: variables.$black;
  padding: #{variables.$spacing-3 * 0.5} variables.$spacing-3;
  transition: opacity 0.2s;
  opacity: 0;
  visibility: hidden;
  z-index: variables.$z-index-school-nav-dropdown;
  min-width: 300px;
}

.davis-nav__list--cols {
  column-count: 2;
  min-width: 500px;

  .davis-nav__item {
    width: 100%;
    display: inline-block;
  }
}

.davis-nav__item {
  position: relative;
  display: block;
  transition: opacity 0.2s;

  &:not(:last-child):not(.davis-nav__item--sub) {
    margin-right: variables.$spacing-5;
  }

  &:focus-within,
  &:hover {
    .davis-nav__list--sub {
      visibility: visible;
      opacity: 1;
    }
  }
}

.davis-nav__link {
  display: block;
  padding-top: variables.$spacing-2;
  padding-bottom: variables.$spacing-2;
  color: variables.$white;
  font-size: variables.$typescale-2;
  font-weight: variables.$font-weight-semibold;
  opacity: 0.8;
  transition:
    opacity 0.2s,
    border-color 0.2s;

  &:hover {
    text-decoration: none;
    opacity: 1;
  }

  &.is-toggled {
    opacity: 1;
    border-color: variables.$white;
  }
}

.davis-nav__link {
  .school-search__times {
    display: none;
  }

  &.is-toggled {
    .school-search__times {
      display: inline-block;
    }

    .school-search__mag {
      display: none;
    }
  }
}

.davis-nav__link--sub {
  padding-top: variables.$spacing-3 * 0.5;
  padding-bottom: variables.$spacing-3 * 0.5;
  font-size: variables.$typescale-2;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.davis-nav__link--top {
  border-bottom: 4px solid transparent;

  .davis-nav__item:focus-within &,
  .davis-nav__item:hover & {
    @include mixins.themify(border-color);
  }
}

.davis-nav__link--active {
  @include mixins.themify(border-color);
}
