.school-header {
  &.davis-header {
    background: $black;
    position: relative;
    border: 0;

    .school-header__main {
      align-items: flex-start;

      @include breakpoint(sm) {
        align-items: center;
      }

      @include breakpoint(xl) {
        align-items: flex-start;
      }
    }

    .school-header__menu-content {
      display: flex;
      flex-direction: column;
    }

    .school-header__logo {
      img:first-child {
        padding-bottom: $spacing-7;

        @include breakpoint(sm) {
          padding-bottom: 0;
          padding-right: rem(12);
        }
      }

      img:nth-child(2) {
        position: absolute;
        left: $spacing-3;
        top: rem(70);

        @include breakpoint(sm) {
          position: initial;
        }
      }

      padding-top: $spacing-3;
      padding-bottom: $spacing-3;

      @include breakpoint(md) {
        padding-top: $spacing-4;
        padding-bottom: $spacing-4;
      }

      @include breakpoint(lg) {
        padding-bottom: $spacing-5;
      }
    }

    .school-header__util-links {
      display: flex;
      flex-direction: row-reverse;

      .school-search__handle {
        color: $white;
        font-weight: $font-weight-semibold;
      }
    }
  }
}

.theme-uwc {
  .page-header--has-image {
    min-height: 400px;
  }

  .drawer__content {
    background: $black;
  }

  .drawer-nav__item {
    border-top-color: $gray;
  }

  .drawer-nav__handle {
    border-left-color: $gray;
  }

  .drawer-nav__list {
    border-top-color: $gray;
  }
}

.davis-nav {
  @include print-hide;
  display: none;

  @include breakpoint(xl) {
    display: initial;
  }

  .davis-nav__link {
    font-size: $typescale-1;
    padding-top: $spacing-3;
    padding-bottom: 0;
    border-bottom: 1px solid transparent;
    text-decoration: none;

    &:hover {
      border-bottom-color: currentcolor;
      text-decoration: none;
    }
  }
}

.davis-nav__handle {
  display: inline-block;
  padding: $spacing-3;
  padding-right: 0;
  font-size: $typescale-2;
  font-weight: $font-weight-semibold;
  line-height: $line-height-body;
  color: $white;
  background: none;
  border: 0;

  @include breakpoint(xl) {
    display: none;
  }
}

.davis-nav__menu {
  display: none;

  @include breakpoint(xl) {
    display: flex;
    flex-direction: column-reverse;
  }
}

.davis-nav__bars {
  .davis-nav__handle.is-toggled & {
    display: none;
  }
}

.davis-nav__times {
  display: none;

  .davis-nav__handle.is-toggled & {
    display: inline-block;
  }
}

.davis-nav__list {
  display: flex;
  justify-content: flex-end;
}

.davis-nav__list--sub {
  display: block; // unset display-flex
  position: absolute;
  top: 100%;
  left: 0;
  background-color: $black;
  padding: #{$spacing-3 / 2} $spacing-3;
  transition: opacity 0.2s;
  opacity: 0;
  visibility: hidden;
  z-index: $z-index-school-nav-dropdown;
  min-width: 300px;
}

.davis-nav__list--cols {
  column-count: 2;
  min-width: 500px;

  .davis-nav__item {
    width: 100%;
    display: inline-block;
  }
}

.davis-nav__item {
  position: relative;
  display: block;
  transition: opacity 0.2s;

  &:not(:last-child):not(.davis-nav__item--sub) {
    margin-right: $spacing-5;
  }

  &:focus-within,
  &:hover {
    .davis-nav__list--sub {
      visibility: visible;
      opacity: 1;
    }
  }
}

.davis-nav__link {
  display: block;
  padding-top: $spacing-2;
  padding-bottom: $spacing-2;
  color: $white;
  font-size: $typescale-2;
  font-weight: $font-weight-semibold;
  opacity: 0.8;
  transition:
    opacity 0.2s,
    border-color 0.2s;

  &:hover {
    text-decoration: none;
    opacity: 1;
  }

  &.is-toggled {
    opacity: 1;
    border-color: $white;
  }
}

.davis-nav__link {
  .school-search__times {
    display: none;
  }

  &.is-toggled {
    .school-search__times {
      display: inline-block;
    }

    .school-search__mag {
      display: none;
    }
  }
}

.davis-nav__link--sub {
  padding-top: $spacing-3 / 2;
  padding-bottom: $spacing-3 / 2;
  font-size: $typescale-2;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.davis-nav__link--top {
  border-bottom: 4px solid transparent;

  .davis-nav__item:focus-within &,
  .davis-nav__item:hover & {
    @include themify(border-color);
  }
}

.davis-nav__link--active {
  @include themify(border-color);
}
