@use '../core/mixins';
@use '../core/variables';
@use '../mixins/breakpoints';

.digest {
  border-left: 1px solid variables.$gray-light;
  @include mixins.print-hide;

  @include breakpoints.breakpoint(lg) {
    max-height: 70vh;
    overflow-y: auto;

    // force scrollbars to display to convey scrollable digest nav

    // firefox
    scrollbar-color: variables.$gray-light variables.$white;
    scrollbar-width: auto;

    // for safari and chrome
    &::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 7px;
    }

    // for safari and chrome
    &::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background-color: rgb(0 0 0 / 0.1);
    }
  }
}

.digest__title {
  text-transform: uppercase;
  letter-spacing: variables.$letter-spacing;
  font-size: variables.$typescale-2;
  font-family: variables.$font-family-sans-serif;
  padding: variables.$spacing-3;
  padding-left: variables.$spacing-3 + variables.$spacing-1;
  @include breakpoints.breakpoint(lg) {
    background: variables.$white;
    position: sticky;
    top: 0;
  }
}

.digest__nav {
  background-color: variables.$white;
}

.digest__list {
}

.digest__item {
  margin-bottom: variables.$spacing-2;
}

.digest__link {
  display: block;
  font-size: variables.$typescale-2;
  padding: variables.$spacing-1 variables.$spacing-3;
  border-left: 4px solid transparent;
  transition: border-color 0.2s;

  .digest__item.active & {
    border-color: variables.$color-primary;
  }
}
