@use 'sass:math';

@use '../core/functions';
@use '../core/variables';
@use '../mixins/breakpoints';
@use '../mixins/type';

$dispatches-sm-border: variables.$spacing-2 solid variables.$blue;
$dispatches-border: variables.$spacing-1 solid variables.$blue;
$dispatches-card-height: 470px;

.dispatches-item {
  height: $dispatches-card-height;
  border: $dispatches-sm-border;
  border-top: 0;

  & p + article {
    padding-top: 0;
  }

  @include breakpoints.breakpoint(sm) {
    border-left: $dispatches-border;
    border-bottom: $dispatches-border;
    border-right: 0;
  }
}

.dispatches-item__card {
  height: 100%;
}

.dispatches-item__label {
  position: absolute;
  bottom: 0;
  font-size: variables.$typescale-1;
  line-height: variables.$line-height-solid;
  text-transform: uppercase;
  letter-spacing: variables.$letter-spacing;
  padding: variables.$spacing-2;
  margin-top: variables.$spacing-3;

  @include breakpoints.breakpoint(md) {
    padding-left: variables.$spacing-3;
    padding-right: variables.$spacing-3;
  }

  @include breakpoints.breakpoint(xl) {
    padding-left: variables.$spacing-4;
    padding-right: variables.$spacing-4;
  }
}

.dispatches-item__image-wrapper {
  position: relative;

  &:before {
    display: block;
    content: '';
    width: 100%;
    padding-top: math.div(9, 16) * 100%;
  }

  > .dispatches-item__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  img {
    object-fit: cover;
    font-family: 'object-fit: cover;';
    height: 100%;
    width: 100%;
  }
}

.dispatches-item__content {
  z-index: variables.$z-index-card-carousel-item-content;
}

.dispatches-item__side {
  animation: fadeInDown 0.8s;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.dispatches-item__side--front {
  .dispatches-item.has-toggler.is-toggled & {
    display: none;
  }
}

.dispatches-item__side--back {
  background-color: variables.$blue-lighter;

  .dispatches-item.has-toggler & {
    display: none;
  }

  .dispatches-item.is-toggled & {
    display: flex;
  }
}

.dispatches-item__toggle {
  // position: absolute;
  right: 0;
  top: 0;
  padding: variables.$spacing-2;
}

.dispatches-item__header {
  padding: variables.$spacing-3;
  padding-right: variables.$spacing-6;
  padding-bottom: variables.$spacing-4;
  background-image: linear-gradient(
    to bottom,
    rgba(variables.$black, 0.75) 20%,
    rgba(variables.$white, 0)
  );

  .dispatches-item__side--back & {
    // remove gradient from card back header
    background: 0;
  }
}

.dispatches-item__body {
  padding: 0 variables.$spacing-2;
  overflow: hidden;
  height: calc(0.52 * 470px);

  @media only screen and (min-width: 375px) {
    height: calc(0.4 * 470px);
  }

  @include breakpoints.breakpoint(sm) {
    height: calc(0.65 * 470px);
  }

  @include breakpoints.breakpoint(md) {
    padding: 0 variables.$spacing-3;
    height: calc(0.55 * 470px);
  }

  @include breakpoints.breakpoint(lg) {
    height: calc(0.6 * 470px);
  }

  @include breakpoints.breakpoint(xl) {
    padding: 0 variables.$spacing-4;
    height: calc(0.47 * 470px);
  }

  h4 {
    line-height: variables.$line-height-body;
    font-weight: variables.$font-weight-bold;
    margin-top: variables.$spacing-2;
    margin-bottom: variables.$spacing-1;
  }

  p {
    font-size: variables.$typescale-3;
    display: inline;
  }

  .dispatches-item__title-label {
    display: inline;
    padding: 0 variables.$spacing-1;
    margin-left: variables.$spacing-1;
    background-color: variables.$white;
    color: variables.$navy;
    border-color: variables.$white;
    border: 1px solid variables.$navy;
    border-radius: variables.$spacing-3;

    .dispatches-item__icon {
      width: 0.625em;
      height: 0.875em;
      margin-left: functions.rem(2);
      margin-bottom: functions.rem(2);
    }
  }
}

.dispatches-item__body-text {
  h4 {
    line-height: variables.$line-height-body;
    font-weight: variables.$font-weight-bold;
    margin-top: variables.$spacing-2;
    margin-bottom: variables.$spacing-1;
  }

  p {
    font-size: variables.$typescale-3;
  }
}

.dispatches-item__footer {
  flex: 0 1 auto;
  padding: variables.$spacing-3;
  text-align: center;
  // position: relative;
  margin-top: auto;

  .dispatches-item__side--back & {
    &:after {
      content: '';
      display: block;
      background-image: linear-gradient(
        to bottom,
        rgba(variables.$white, 0),
        variables.$blue-lighter
      );
      // position: absolute;
      bottom: 100%;
      left: 0;
      width: 100%;
      height: variables.$spacing-5;
    }
  }
}

.dispatches-item__title {
  @include type.h4;

  .dispatches-item__side--front & {
    color: variables.$white;
  }
}

.dispatches-item__text {
  font-size: variables.$typescale-3;

  .dispatches-item__side--front & {
    color: variables.$white;
  }
}

.dispatches-item__header--band {
  padding: variables.$spacing-2 variables.$spacing-3;
  margin-top: variables.$spacing-9;
}
