@use '../core/variables';

$drawer-nav-color: variables.$navy-light;

.drawer-nav {
}

.drawer-nav__handle {
  background: none;
  border: 0;
  display: inline-block;
  padding: variables.$spacing-3;
  font-size: variables.$typescale-2;
  font-weight: variables.$font-weight-medium;
  line-height: variables.$line-height-body;
  color: variables.$white;
  border-left: 1px solid $drawer-nav-color;
}

.drawer-nav__chevron {
  transition: variables.$chevron-transition;

  .drawer-nav__handle.is-toggled & {
    transform: variables.$chevron-transform;
  }
}

.drawer-nav__list {
  width: 100%;
}

.drawer-nav__list--util {
  border-top: 4px solid $drawer-nav-color;
}

.drawer-nav__list--top {
}

.drawer-nav__list--sub {
  display: none;

  &.is-toggled {
    display: block;
  }
}

.drawer-nav__item {
  position: relative;
  border-top: 1px solid $drawer-nav-color;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.drawer-nav__item-cta {
  border-top-color: variables.$navy;
  background-color: variables.$navy-light;
}

.drawer-nav__link {
  display: block;
  padding: variables.$spacing-3;
  color: variables.$white;
  flex: 1;
}

.drawer-nav__link--sub {
  padding-left: variables.$spacing-7;
  font-size: variables.$typescale-2;
}

.drawer-nav__link--top {
  font-weight: variables.$font-weight-medium;
}

.drawer-nav__link--util {
  font-size: variables.$typescale-2;
  font-weight: normal;
}
