// TODO: rename to select or picklist since that is closer to its function. Then rename nav-dropdown to dropdown
.dropdown {
  position: relative;
}

.dropdown__button {
  font-family: inherit;
  font-weight: $font-weight-medium;
  border: 1px solid $border-color;
  background: $white;
  padding: $spacing-3;
  line-height: 1;
  width: 100%;
  text-align: left;
  color: $navy;
  cursor: pointer;
  transition:
    border-color 0.2s,
    background 0.2s;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .dropdown.is-active & {
    background: $navy;
    color: $white;
  }

  .dropdown.is-active &,
  &:hover,
  &:focus {
    border-color: $navy;
  }
}

.dropdown__icon {
  transition: $chevron-transition;

  .dropdown.is-active & {
    transform: $chevron-transform;
  }
}

.dropdown__list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border: 1px solid $navy;
  border-top: 0;
  background: $white;
  // max-height: 80vh;
  // overflow-y: auto;
  transition: opacity 0.2s;
  opacity: 0;
  visibility: hidden;
  z-index: $z-index-dropdown-list;

  .dropdown.is-active & {
    visibility: visible;
    opacity: 1;
  }
}

.dropdown__item {
}

.dropdown__link {
  display: block;
  padding: $spacing-2 $spacing-3;
  font-weight: $font-weight-medium;

  &:hover {
    background: $gray-lighter;
  }
}
