@use '../core/variables';

// TODO: rename to select or picklist since that is closer to its function. Then rename nav-dropdown to dropdown
.dropdown {
  position: relative;
}

.dropdown__button {
  font-family: inherit;
  font-weight: variables.$font-weight-medium;
  border: 1px solid variables.$border-color;
  background: variables.$white;
  padding: variables.$spacing-3;
  line-height: 1;
  width: 100%;
  text-align: left;
  color: variables.$navy;
  cursor: pointer;
  transition:
    border-color 0.2s,
    background 0.2s;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .dropdown.is-active & {
    background: variables.$navy;
    color: variables.$white;
  }

  .dropdown.is-active &,
  &:hover,
  &:focus {
    border-color: variables.$navy;
  }
}

.dropdown__icon {
  transition: variables.$chevron-transition;

  .dropdown.is-active & {
    transform: variables.$chevron-transform;
  }
}

.dropdown__list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border: 1px solid variables.$navy;
  border-top: 0;
  background: variables.$white;
  // max-height: 80vh;
  // overflow-y: auto;
  transition: opacity 0.2s;
  opacity: 0;
  visibility: hidden;
  z-index: variables.$z-index-dropdown-list;

  .dropdown.is-active & {
    visibility: visible;
    opacity: 1;
  }
}

.dropdown__item {
}

.dropdown__link {
  display: block;
  padding: variables.$spacing-2 variables.$spacing-3;
  font-weight: variables.$font-weight-medium;

  &:hover {
    background: variables.$gray-lighter;
  }
}
