@use '../core/variables';
@use '../mixins/buttons';
@use '../mixins/forms';
@use '../mixins/type';

// can't control markrup for emma form so we have to disable class lint
// stylelint-disable selector-class-pattern
.e2ma_signup_form {
  max-width: 400px;
  margin-bottom: 4rem;

  a {
    @include type.link-border;
  }
}

.e2ma_signup_message {
  @include type.h3;
  margin-bottom: variables.$spacing-4;
}

.e2ma_signup_form_row {
  @include forms.form-group;
}

.e2ma_signup_form_label {
  @include forms.form-label;
}

.e2ma_signup_form_required_asterix {
  color: variables.$danger;
}

.e2ma_signup_form_element {
  select,
  input {
    @include forms.form-control;
  }

  select {
    @include forms.form-select;
  }
}

.e2ma_signup_form_required_footnote {
  @include forms.form-text;
  @include forms.form-group;
}

.e2ma_signup_form_button {
  @include buttons.button-base;
  @include buttons.button-theme('primary');
}
