/* filters */

.filters {
}

.filters__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 4px solid $navy;
  margin-bottom: $spacing-3;
}

.filters__title {
  @include small-caps;
}

/* filter tiles */
.filter {
  margin-bottom: $spacing-3;
  border: 1px solid $border-color;
}

.filter__legend {
  float: left;
  width: 100%;
}

.filter__body {
  &:before {
    content: '';
    display: block;
    clear: both;
  }

  &.has-toggler {
    display: none;
    @include breakpoint(lg) {
      display: block;
    }
  }

  &.is-toggled {
    display: block;
    @include breakpoint(lg) {
      display: none;
    }
  }
}

.filter__children {
  margin-left: $spacing-5;
  border-left: 1px solid $color-primary;

  /* Decrease the left padding to account for our extra indent and border. */
  .checkbox--filter .checkbox__label {
    padding-left: $spacing-2;
  }
}

.filter__button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: $spacing-3;
  font-weight: $font-weight-semibold;
  font-size: $typescale-2;
  font-family: $font-family-sans-serif;
  color: $navy;
  transition: background 0.2s;
  text-align: left;

  &:hover {
    background: $gray-lighter;
  }

  &:focus {
    outline: 1px dashed $color-primary;
  }

  &.has-toggler {
    .filter__icon-open {
      display: block;
      @include breakpoint(lg) {
        display: none;
      }
    }
    .filter__icon-close {
      display: none;
      @include breakpoint(lg) {
        display: block;
      }
    }
  }

  &.is-toggled {
    .filter__icon-open {
      display: none;
      @include breakpoint(lg) {
        display: block;
      }
    }
    .filter__icon-close {
      display: block;
      @include breakpoint(lg) {
        display: none;
      }
    }
  }
}
