@use '../core/variables';
@use '../mixins/type';

.flowchart {
  counter-reset: flowchart;
  background: variables.$blue-lighter;
}

.flowchart__item {
  padding: variables.$spacing-5;
  padding-left: variables.$spacing-7;

  &:not(:last-child) {
    border-bottom: 1px solid variables.$border-color;
  }
}

.flowchart__item--active {
  border-left: 4px solid variables.$navy;
}

.flowchart__item--answer {
  background: variables.$navy;
  color: variables.$white;

  @include type.links-current;
}

.flowchart__title {
  position: relative;

  &:before {
    counter-increment: flowchart;
    display: block;
    content: counter(flowchart) '.';
    position: absolute;
    top: 0;
    right: 100%;
    margin-right: 4px;
  }
}
