@use '../core/functions';
@use '../core/variables';
@use '../mixins/breakpoints';

@use 'sass:math';

.paragraph--fluencies {
  padding-top: variables.$spacing-4;
  padding-bottom: variables.$spacing-4;
  background-color: variables.$blue-darker;
  color: variables.$white;
  border-top: solid variables.$spacing-2 variables.$blue;

  > h2,
  * {
    font-family: variables.$font-family-sans-serif;
  }

  @include breakpoints.breakpoint(md) {
    padding-top: variables.$spacing-6;
  }

  @include breakpoints.breakpoint(lg) {
    padding-top: variables.$spacing-5;
  }

  @include breakpoints.breakpoint(xl) {
    padding-top: variables.$spacing-7;
  }

  h2 {
    font-size: variables.$typescale-7;
    font-weight: variables.$font-weight-semibold;
    text-transform: uppercase;
    letter-spacing: 2px;

    @include breakpoints.breakpoint(lg) {
      font-size: functions.rem(40);
      font-weight: variables.$font-weight-normal;
    }

    @include breakpoints.breakpoint(xl) {
      font-size: variables.$typescale-9;
    }

    & + p {
      font-size: variables.$typescale-6;
      font-weight: variables.$font-weight-light;
      line-height: variables.$line-height-heading;

      @include breakpoints.breakpoint(lg) {
        font-size: functions.rem(32);
      }

      @include breakpoints.breakpoint(xl) {
        font-size: functions.rem(40);
      }
    }
  }

  .focus-area--wrapper {
    overflow-x: scroll;

    @include breakpoints.breakpoint(lg) {
      // firefox
      scrollbar-color: variables.$gray-light variables.$white;
      scrollbar-width: 4px;

      // for safari and chrome
      &::-webkit-scrollbar {
        -webkit-appearance: none;
        height: 4px;
      }

      // for safari and chrome
      &::-webkit-scrollbar-thumb {
        border-radius: 2px;
        background-color: rgb(255 255 255 / 0.75);
      }
    }

    @include breakpoints.breakpoint(xl) {
      overflow: initial;
    }
  }

  ul {
    width: 100%;
    min-width: 1136px;

    li {
      padding: 0;
      margin-right: variables.$spacing-2;

      @include breakpoints.breakpoint(xl) {
        margin: 0;
        padding-right: variables.$spacing-3;
      }

      .focus-area-item__media {
        position: relative;

        &:before {
          content: '';
          display: block;
          padding-top: 100%;
          width: 100%;
        }

        a {
          height: 100%;
          width: 100%;
          left: 0;
          top: 0;
          position: absolute;

          img {
            height: 100%;
            object-fit: cover;
            width: 100%;
          }
        }
      }

      .focus-area-item__content {
        position: relative;
        border-bottom: solid variables.$spacing-2 variables.$blue;
        background-color: variables.$white;
        color: variables.$black;

        &:before {
          content: '';
          display: block;
          padding-top: math.percentage(math.div(143, 166));
          width: 100%;

          @include breakpoints.breakpoint(xl) {
            padding-top: math.percentage(math.div(133, 166));
          }
        }

        .focus-area-item__content-text {
          height: 100%;
          width: 100%;
          left: 0;
          top: 0;
          position: absolute;
          padding: variables.$spacing-3;

          a {
            display: block;
            width: 65%;

            &:hover {
              text-decoration-thickness: 1px;
            }
          }

          h3 {
            font-size: variables.$typescale-5;
            font-weight: variables.$font-weight-normal;
            color: variables.$navy;
            padding-bottom: variables.$spacing-2;

            @include breakpoints.breakpoint(md) {
              font-size: variables.$typescale-6;
            }

            @media only screen and (min-width: 1440px) {
              font-size: functions.rem(32);
              font-weight: variables.$font-weight-light;
            }
          }

          p {
            font-size: variables.$typescale-2;

            @media only screen and (min-width: 1440px) {
              font-size: variables.$typescale-3;
            }
          }
        }
      }

      &:first-child {
        .focus-area-item__content-text a {
          width: 65%;

          @include breakpoints.breakpoint(lg) {
            width: 75%;
          }
        }
      }

      &:nth-child(2) {
        .focus-area-item__content-text a {
          width: 55%;

          @include breakpoints.breakpoint(lg) {
            width: 65%;
          }
        }
      }

      &:last-child {
        margin: 0;

        .focus-area-item__content-text a {
          width: 85%;

          @include breakpoints.breakpoint(lg) {
            width: 100%;
          }
        }
      }

      .focus-area-item--button {
        color: variables.$navy;
        font-size: variables.$typescale-1;
        font-weight: variables.$font-weight-semibold;
        letter-spacing: variables.$letter-spacing;
        text-transform: uppercase;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        padding: variables.$spacing-1 variables.$spacing-3;
        border-top: 1px solid variables.$gray-light;

        .icon {
          width: 1.5em;
          height: 1.5em;
        }

        @include breakpoints.breakpoint(md) {
          padding: variables.$spacing-2 variables.$spacing-3;
        }
      }
    }
  }
}
