@use '../core/variables';
@use '../mixins/breakpoints';

// TODO: switch page-nav to this
.foldable {
}

.foldable__button {
  padding: variables.$spacing-3;
  border: 1px solid variables.$border-color;
  width: 100%;
  background: none;
  font-size: variables.$typescale-2;
  font-weight: variables.$font-weight-semibold;
  text-align: left;
  color: variables.$color-primary;

  @include breakpoints.breakpoint(lg) {
    display: none;
  }
}

.foldable__icon {
  float: right;
  transition: variables.$chevron-transition;

  .foldable__button.is-toggled & {
    transform: variables.$chevron-transform;
  }
}

.foldable__content {
  padding: variables.$spacing-3;
  border: 1px solid variables.$border-color;
  border-top: 0;
  background-color: variables.$gray-lighter;

  @include breakpoints.breakpoint(lg) {
    padding: 0;
    border: 0;
    background-color: transparent;
  }

  &.has-toggler {
    display: none;

    @include breakpoints.breakpoint(lg) {
      display: block;
    }
  }

  &.is-toggled {
    display: block;
  }
}
