@use '../core/mixins';
@use '../core/variables';
@use '../mixins/breakpoints';
@use '../mixins/type';

.footer-menu {
  margin-top: variables.$spacing-5;
  @include breakpoints.breakpoint(lg) {
    margin-top: 0;
  }
  @include mixins.print-hide;
}

.footer-menu__title {
  @include type.h5;
  color: variables.$white;
  margin-bottom: variables.$spacing-4;
}

.footer-menu__list--cols {
  @include breakpoints.breakpoint(sm) {
    columns: 2;
  }
}

.footer-menu__list--four-cols {
  @include breakpoints.breakpoint(sm) {
    columns: 4;
  }
}

.footer-menu__item {
  &:not(:last-child) {
    margin-bottom: variables.$spacing-4;
  }
}

.footer-menu__link {
  color: variables.$white;
  font-size: variables.$typescale-2;
}
