@use 'sass:math';

@use '../core/variables';
@use '../mixins/grid';
@use '../mixins/grid-framework';

.container {
  @include grid.make-container;

  @media print {
    padding-left: 0;
    padding-right: 0;
  }
}

.row {
  @include grid.make-row;
}

.row--no-gutters {
  margin-left: 0 !important;
  margin-right: 0 !important;

  > .col,
  > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
  }
}

.row--sm-gutters {
  margin-right: math.div(variables.$grid-gutter-width, -2) !important;
  margin-left: math.div(variables.$grid-gutter-width, -2) !important;

  > .col,
  > [class*='col-'] {
    padding-left: variables.$grid-gutter-width * 0.5;
    padding-right: variables.$grid-gutter-width * 0.5;
  }
}

@include grid-framework.make-grid-columns;
