@use '../core/functions';
@use '../core/variables';
@use '../mixins/breakpoints';

$midd-header-background-gradient: linear-gradient(
  0deg,
  rgb(0 0 0 / 0) 4%,
  rgb(0 0 0 / 0.4) 100%
);

.midd-header.midd-header--transparent {
  background-color: unset;
}

.midd-header--transparent {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: variables.$z-index-midd-header-transparent;
  transition: 0.2s background-color;
  height: 75px;

  @include breakpoints.breakpoint(sm) {
    height: 100px;
  }

  @include breakpoints.breakpoint(lg) {
    height: 120px;
  }

  .midd-header__container {
    max-width: initial;
    align-items: flex-start;
    padding-left: variables.$spacing-3;
    padding-right: variables.$spacing-3;
    opacity: 1;

    @include breakpoints.breakpoint(md) {
      padding-left: variables.$spacing-3;
      padding-right: variables.$spacing-3;
    }

    @include breakpoints.breakpoint(lg) {
      padding-left: variables.$spacing-5;
      padding-right: variables.$spacing-5;
    }
  }

  @include breakpoints.breakpoint(lg) {
    transition: none;
  }

  .midd-header__brand {
    height: fit-content;
    padding-top: functions.rem(12);

    @include breakpoints.breakpoint(md) {
      padding-top: variables.$spacing-3;
    }

    @include breakpoints.breakpoint(lg) {
      padding-top: variables.$spacing-4;
    }

    a {
      text-decoration: none;

      .midd-header__shield {
        width: 42px;
        top: 0;

        @include breakpoints.breakpoint(md) {
          width: 64px;
        }
      }

      .midd-header__wordmark {
        width: 78px;
        margin-left: functions.rem(8);

        @include breakpoints.breakpoint(md) {
          width: 116px;
          margin-left: functions.rem(10);
        }
      }
    }
  }

  &.has-toggler {
    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-image: $midd-header-background-gradient;
      z-index: -1;
      opacity: 0.75;

      @include breakpoints.breakpoint(md) {
        opacity: 1;
      }
    }

    &.is-toggled {
      &:before {
        background-image: none;
        background-color: variables.$navy-dark;
        opacity: 1;

        @include breakpoints.breakpoint(lg) {
          background-image: $midd-header-background-gradient;
          background-color: unset;
        }
      }
    }
  }

  .midd-nav {
    padding-top: variables.$spacing-2;

    @include breakpoints.breakpoint(lg) {
      padding-top: 0;
    }

    .midd-nav__handle {
      padding-left: variables.$spacing-4;

      @include breakpoints.breakpoint(lg) {
        padding-left: variables.$spacing-3;
      }
    }

    .midd-nav__list--top {
      transition: 0.2s opacity;

      @include breakpoints.breakpoint(lg) {
        background-color: transparent;
      }
    }

    .midd-nav__item--top {
      &:last-child:after {
        @include breakpoints.breakpoint(lg) {
          color: variables.$white;
          padding-top: variables.$spacing-3;
          padding-left: variables.$spacing-4;
          content: '|';
        }
      }
    }

    .midd-nav__link {
      opacity: 1;
    }
  }

  .midd-search {
    padding-top: variables.$spacing-2;

    @include breakpoints.breakpoint(lg) {
      padding-top: 0;
    }

    .midd-search__handle {
      display: flex;
      opacity: 1;
      padding-right: 0;

      &:after {
        padding-left: variables.$spacing-4;
        content: '|';

        @include breakpoints.breakpoint(lg) {
          padding-left: 0;
          content: none;
        }
      }
    }

    .midd-search__mag,
    .midd-search__times {
      @include breakpoints.breakpoint(sm) {
        margin-right: functions.rem(12);
      }
    }
  }

  .midd-schools__button {
    font-weight: variables.$font-weight-semibold;
    line-height: variables.$line-height-solid;
    color: variables.$white;
    padding: variables.$spacing-3 0;
    margin-top: variables.$spacing-2;
    border: 2px solid variables.$white;
    height: fit-content;
    width: 164px;
    order: 3;
  }
}
