@use '../core/variables';
@use '../mixins/breakpoints';
@use '../mixins/grid';
@use '../mixins/type';

.link-list {
}

.link-list__list {
  margin-top: variables.$spacing-7;

  @include breakpoints.breakpoint(sm) {
    @include grid.make-row;
  }
}

.link-list__item {
  margin-bottom: variables.$spacing-5;

  @include breakpoints.breakpoint(sm) {
    @include grid.make-col-ready;
    @include grid.make-col(6);
  }
  @include breakpoints.breakpoint(md) {
    @include grid.make-col(4);
  }
}

.link-list__box {
  border-bottom: 1px solid variables.$border-color;
  height: 100%;
  padding-bottom: variables.$spacing-5;
}

.link-list__link {
  font-size: variables.$typescale-5;
  font-weight: variables.$font-weight-medium;
  font-family: variables.$font-family-sans-serif;
  @include type.link-border;
}

.link-list__info {
  font-size: variables.$typescale-2;
  margin-top: variables.$spacing-2;
}
