@use '../core/variables';
@use '../mixins/breakpoints';

.logo-bar {
  background: variables.$blue-lighter;
  padding: variables.$spacing-5;

  @include breakpoints.breakpoint(md) {
    padding: variables.$spacing-4;
  }
}

.logo-bar__title {
  font-family: variables.$font-family-sans-serif;
  font-weight: variables.$font-weight-medium;
  font-size: variables.$typescale-3;
  text-transform: uppercase;
  text-align: center;
  line-height: variables.$line-height-heading;
  margin-bottom: variables.$spacing-7;
  letter-spacing: 2.5px;
}

.logo-bar__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  row-gap: variables.$spacing-7;
}

.logo-bar__item {
  opacity: 0.5;
  text-align: center;
  flex: 1 1 100%;

  @include breakpoints.breakpoint(sm) {
    flex-basis: 50%;
  }

  @include breakpoints.breakpoint(xl) {
    flex-basis: auto;
  }
}
