@use '../core/functions';
@use '../core/variables';
@use '../mixins/breakpoints';

.table--course-list {
  width: 100%;
  margin-bottom: variables.$spacing-7;
  border-collapse: collapse;
  color: variables.$navy;
  empty-cells: hide;

  thead {
    font-size: variables.$typescale-2;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    line-height: variables.$line-height-solid;
    border-top: 4px solid variables.$navy;
  }

  th {
    border-bottom: 1px solid variables.$border-color;
    padding-top: variables.$spacing-3;
    padding-bottom: variables.$spacing-3;
    font-weight: variables.$font-weight-semibold;
    width: 100%;

    &:first-child {
      text-align: left;
      padding-left: variables.$spacing-3;
    }

    @include breakpoints.breakpoint(md) {
      width: initial;
    }
  }

  tr {
    border-bottom: 1px solid variables.$border-color;
    font-weight: variables.$font-weight-medium;
  }

  td {
    padding-top: variables.$spacing-3;
    padding-bottom: variables.$spacing-3;

    &:first-child {
      padding-left: variables.$spacing-3;
      width: 50%;
    }

    &:not(:first-child) {
      text-align: right;
    }

    &:last-child {
      text-align: left;
    }
  }

  a {
    text-decoration: underline;

    &:hover {
      border-bottom: none;
      text-decoration: none;
    }
  }

  .row-label,
  .track-label {
    border: none;
  }

  .row-label {
    font-size: variables.$typescale-2;
    background-color: variables.$blue-lighter;
    color: variables.$black;
  }

  .row-label--cell {
    line-height: variables.$line-height-solid;
    padding-top: functions.rem(10);
    padding-bottom: functions.rem(10);
    margin: 0;
  }

  .track-label--cell {
    text-transform: uppercase;
    color: variables.$gray-dark;
    font-weight: variables.$font-weight-semibold;
    font-size: functions.rem(12);
    letter-spacing: variables.$letter-spacing;
    padding-left: 2rem !important;
    padding-bottom: 0;
  }

  &.desktop {
    display: none;
  }

  &.mobile {
    display: inline-table;
    border-collapse: collapse;

    & th {
      display: block;
    }

    td {
      &:before {
        display: none;
      }
    }
  }

  .sublist {
    text-align: left;

    td:first-child {
      padding-left: variables.$spacing-5;
      width: 12.5%;
    }
  }

  .category {
    font-size: 1rem;
    line-height: variables.$line-height-body;
    padding-top: variables.$spacing-2;
  }
}

@include breakpoints.breakpoint(md) {
  .table--course-list {
    &.desktop {
      display: initial;
    }

    &.mobile {
      display: none;
    }
  }
}
