.table--course-list {
  width: 100%;
  margin-bottom: $spacing-7;
  border-collapse: collapse;
  color: $navy;
  empty-cells: hide;

  thead {
    font-size: $typescale-2;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    line-height: $line-height-solid;
    border-top: 4px solid $navy;
  }

  th {
    border-bottom: 1px solid $border-color;
    padding-top: $spacing-3;
    padding-bottom: $spacing-3;
    font-weight: $font-weight-semibold;
    width: 100%;

    &:first-child {
      text-align: left;
      padding-left: $spacing-3;
    }

    @include breakpoint(md) {
      width: initial;
    }
  }

  tr {
    border-bottom: 1px solid $border-color;
    font-weight: $font-weight-medium;
  }

  td {
    padding-top: $spacing-3;
    padding-bottom: $spacing-3;

    &:first-child {
      padding-left: $spacing-3;
      width: 50%;
    }

    &:not(:first-child) {
      text-align: right;
    }

    &:last-child {
      text-align: left;
    }
  }

  a {
    text-decoration: underline;

    &:hover {
      border-bottom: none;
      text-decoration: none;
    }
  }

  .row-label,
  .track-label {
    border: none;
  }

  .row-label {
    font-size: $typescale-2;
    background-color: $blue-lighter;
    color: $black;
  }

  .row-label--cell {
    line-height: $line-height-solid;
    padding-top: rem(10);
    padding-bottom: rem(10);
    margin: 0;
  }

  .track-label--cell {
    text-transform: uppercase;
    color: $gray-dark;
    font-weight: $font-weight-semibold;
    font-size: rem(12);
    letter-spacing: $letter-spacing;
    padding-left: 2rem !important;
    padding-bottom: 0;
  }

  &.desktop {
    display: none;
  }

  &.mobile {
    display: inline-table;
    border-collapse: collapse;

    & th {
      display: block;
    }

    td {
      &:before {
        display: none;
      }
    }
  }

  .sublist {
    text-align: left;

    td:first-child {
      padding-left: $spacing-5;
      width: 12.5%;
    }
  }
  .category {
    font-size: 1rem;
    line-height: $line-height-body;
    padding-top: $spacing-2;
  }
}

@include breakpoint(md) {
  .table--course-list {
    &.desktop {
      display: initial;
    }

    &.mobile {
      display: none;
    }
  }
}
