@use '../core/variables';
@use '../mixins/buttons';
@use '../mixins/forms';

.masquerade {
  margin-bottom: variables.$spacing-6;

  h2 {
    @include forms.form-label;
  }

  .container-inline {
    display: flex;
  }

  input[type='text'] {
    @include forms.form-control;
    font-size: variables.$input-font-size-sm;
    padding: variables.$input-padding-y-sm variables.$input-padding-x-sm;
  }

  input[type='submit'] {
    // @include button-base;
    @include buttons.button-theme('primary');
    @include buttons.button-size('sm');
    height: 100%; // set height since its wrapped in a div and wont match flex height
  }
}
