@use '../core/functions';
@use '../core/variables';
@use '../mixins/breakpoints';

%media-object-border-top {
  border-top: 1px solid variables.$gray-light;
}

.media-object {
  @include breakpoints.breakpoint(sm) {
    display: flex;
  }
}

.media-object__scholarly-icon-list {
  width: 100%;
}

.media-object__scholarly-icon {
  width: 1.25em;
  height: 1.25em;

  path {
    fill: variables.$navy;
  }
}

.media-object__social-icons {
  li {
    margin-right: variables.$spacing-2 !important;
  }
}

.media-object__image,
.media-object__image-profile-teaser {
  margin-bottom: variables.$spacing-2;

  @include breakpoints.breakpoint(sm) {
    margin-right: variables.$spacing-4;
    min-width: 100px;
    margin-bottom: 0;
  }
}

.media-object__image-profile-teaser {
  flex: 0 0 calc(3 / 7 * 100%);
  max-width: calc(3 / 7 * 100%);
  min-width: 126px;

  @include breakpoints.breakpoint(sm) {
    padding-bottom: variables.$spacing-2;
    padding-right: variables.$spacing-5;
    margin-right: 0;
  }

  @include breakpoints.breakpoint(lg) {
    margin-right: variables.$spacing-5;
  }
}

.media-object__body {
  .media-object__pronouns {
    font-family: variables.$font-family-serif;
    font-size: variables.$typescale-4;
    line-height: variables.$line-height-heading;
    margin-bottom: functions.rem(2);
  }

  @include breakpoints.breakpoint(sm) {
    flex: 1;
  }
}

.media-object--right {
  .media-object__image {
    @include breakpoints.breakpoint(sm) {
      order: 2;
      margin-right: 0;
      margin-left: variables.$spacing-4;
    }
  }
}

.border-top {
  padding-top: variables.$spacing-2;
  @extend %media-object-border-top;
}

.border-bottom {
  border-bottom: 1px solid variables.$gray-light;
}

.paragraph--profile-list {
  .media-object {
    margin-left: -(variables.$spacing-3);
    margin-right: -(variables.$spacing-3);
    padding-left: variables.$spacing-3;
    padding-right: variables.$spacing-3;

    @include breakpoints.breakpoint(sm) {
      margin: 0;
      padding: 0;
    }
  }

  .profile-list .media-object:not(:nth-child(1)) {
    border-top: solid 4px variables.$gray-light;
    padding-top: variables.$spacing-5;

    @include breakpoints.breakpoint(lg) {
      padding-top: variables.$spacing-7;
    }
  }

  dl {
    div:last-child {
      padding-bottom: 0 !important;
    }

    & ~ ul {
      margin-top: variables.$spacing-2;
    }
  }
}
