@use '../core/functions';
@use '../core/variables';
@use '../mixins/breakpoints';
@use '../mixins/grid';
@use '../mixins/type';

@use 'sass:math';
%make-columns {
  text-align: center;
  @include grid.make-col-ready;

  @include breakpoints.breakpoint(sm) {
    @include grid.make-col(8);
  }

  @include breakpoints.breakpoint(lg) {
    @include grid.make-col(6);
  }
}

.mega-cta {
  position: relative;
  min-height: 640px;
  background: #000;

  @include breakpoints.breakpoint(md) {
    height: 0;
    padding-top: math.percentage(math.div(9, 16));
    overflow: hidden;
  }
  @include breakpoints.breakpoint(lg) {
    min-height: auto;
  }

  &.mega-cta--miis {
    @include breakpoints.breakpoint(lg) {
      min-height: initial;
      height: initial;
      padding-top: unset;
    }

    & img {
      object-position: center;

      @include breakpoints.breakpoint(lg) {
        position: initial;
      }
    }
  }
}

.mega-cta__back {
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    font-family: 'object-fit: cover;';
    opacity: 0.4;
    z-index: variables.$z-index-mega-cta-image;

    .mega-cta--hero & {
      @include breakpoints.breakpoint(md) {
        opacity: 1;
      }
    }
  }
}

.mega-cta__back-gradient {
  img {
    @include breakpoints.breakpoint(lg) {
      opacity: 1;
    }
  }
}

$mega-cta-alignments: (
  left-bottom: left bottom,
  right-bottom: right bottom,
  left-top: left top,
  right-top: right top
);

@each $key, $pos in $mega-cta-alignments {
  .mega-cta--gradient-#{$key} {
    @include breakpoints.breakpoint(lg) {
      background: linear-gradient(
        to $pos,
        transparent 45%,
        variables.$black 100%
      );
    }
  }
}

@each $key, $pos in $mega-cta-alignments {
  .mega-cta--image-#{$key} {
    img {
      @include breakpoints.breakpoint(lg) {
        object-position: $pos;
        font-family: 'object-position: #{$pos};';
      }
    }
  }
}

.mega-cta__front {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: variables.$z-index-mega-cta-front;

  .mega-cta--hero & {
    align-items: flex-start;
    padding-top: variables.$spacing-7;

    @include breakpoints.breakpoint(md) {
      padding-top: 0;
      align-items: center;
    }
  }
}

.mega-cta__front--with-borders {
  .mega-cta__content {
    z-index: variables.$z-index-mega-cta-front;
  }

  &:after,
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border: 5px solid;
  }

  &:before {
    width: 100%;
    height: 100%;
    border-top-width: 10px;
    border-left-width: 0;
    border-right-width: 0;
    border-color: var(--dual-border-color-primary);
  }

  &:after {
    width: 100%;
    height: calc(100% - 5px);
    border-left-width: 0;
    border-right-width: 0;
    border-color: var(--dual-border-color-secondary);
  }
}

.mega-cta__content {
  @extend %make-columns;
}

.mega-cta__content-miis {
  @extend %make-columns;

  @include breakpoints.breakpoint(md) {
    @include grid.make-col(6);
  }

  @include breakpoints.breakpoint(lg) {
    @include grid.make-col(4);
  }
}

.mega-cta__content-position {
  position: absolute;
  text-align: left;
  padding: 0 1rem;

  &-left-top {
    top: variables.$spacing-7;
    @include breakpoints.breakpoint(md) {
      padding: 0;
      top: variables.$spacing-8;
      left: functions.rem(80);
    }
    @include breakpoints.breakpoint(lg) {
      top: variables.$spacing-8;
      left: functions.rem(132);
    }
    @include breakpoints.breakpoint(xl) {
      top: variables.$spacing-8;
      left: functions.rem(152);
    }
  }

  &-left-bottom {
    top: variables.$spacing-7;
    @include breakpoints.breakpoint(md) {
      padding: 0;
      top: variables.$spacing-8;
      left: functions.rem(80);
    }
    @include breakpoints.breakpoint(lg) {
      top: initial;
      bottom: variables.$spacing-8;
      left: functions.rem(132);
    }
    @include breakpoints.breakpoint(xl) {
      top: initial;
      bottom: variables.$spacing-8;
      left: functions.rem(152);
    }
  }

  &-right-top {
    top: variables.$spacing-7;
    @include breakpoints.breakpoint(md) {
      padding: 0;
      top: variables.$spacing-8;
      left: functions.rem(80);
    }
    @include breakpoints.breakpoint(lg) {
      top: variables.$spacing-8;
      right: functions.rem(132);
      left: initial;
    }
    @include breakpoints.breakpoint(xl) {
      top: variables.$spacing-8;
      right: functions.rem(152);
    }
  }

  &-right-bottom {
    top: variables.$spacing-7;
    @include breakpoints.breakpoint(md) {
      padding: 0;
      top: variables.$spacing-8;
      left: functions.rem(80);
    }
    @include breakpoints.breakpoint(lg) {
      top: initial;
      bottom: variables.$spacing-8;
      right: functions.rem(132);
      left: initial;
    }
    @include breakpoints.breakpoint(xl) {
      top: initial;
      bottom: variables.$spacing-8;
      right: functions.rem(152);
    }
  }
  @include breakpoints.breakpoint(md) {
    margin-top: variables.$spacing-8;
  }
  @include breakpoints.breakpoint(lg) {
    margin-top: 0;
  }
}

.mega-cta__title {
  color: variables.$white;
  margin-bottom: variables.$spacing-2;
  @include type.h0;

  @include breakpoints.breakpoint(md) {
    margin-bottom: variables.$spacing-3;
  }

  .mega-cta--hero & {
    text-align: left;
  }
}

.mega-cta__title-miis {
  color: variables.$white;
  font-size: functions.rem(28);
  margin-bottom: variables.$spacing-1;
}

.mega-cta__text {
  color: variables.$white;
  font-size: variables.$typescale-2;
  margin-bottom: variables.$spacing-4;

  @include breakpoints.breakpoint(md) {
    margin-bottom: variables.$spacing-5;
    font-size: variables.$typescale-3;
  }

  @include breakpoints.breakpoint(lg) {
    margin-bottom: variables.$spacing-7;
    font-size: variables.$typescale-4;
  }

  .mega-cta--hero & {
    text-align: left;
  }
}

.mega-cta__text-miis {
  color: variables.$white;
  font-size: functions.rem(18);
  margin-bottom: variables.$spacing-5;
}

.mega-cta__link {
  :hover {
    text-decoration: underline;
    color: variables.$white;
  }
}

.mega-cta__caption {
  position: absolute;
  right: variables.$spacing-5;
  bottom: variables.$spacing-8;
  z-index: variables.$z-index-mega-cta-caption;

  @include breakpoints.breakpoint(md) {
    bottom: variables.$spacing-4;
  }
}

.mega-cta--blse {
  .mega-cta__text {
    color: variables.$yellow;
    font-size: variables.$typescale-6;
    @include breakpoints.breakpoint(lg) {
      font-size: variables.$typescale-8;
    }
  }

  .mega-cta__content {
    text-align: left;
    @include breakpoints.breakpoint(lg) {
      @include grid.make-col(8);
    }
  }
}
