@use '../core/functions';
@use '../core/variables';
@use '../mixins/breakpoints';
@use '../mixins/grid';

.mega-cta {
  &.mega-cta--customizable {
    background: unset;

    .mega-cta__content {
      position: absolute;
      text-align: left;

      @include breakpoints.breakpoint(md) {
        @include grid.make-col(5);
      }
    }

    .mega-cta__content {
      &--top-left,
      &--top-right {
        top: variables.$spacing-7;
      }

      &--bottom-left,
      &--bottom-right {
        bottom: variables.$spacing-7;

        @include breakpoints.breakpoint(xl) {
          bottom: variables.$spacing-8;
        }
      }

      &--top-left,
      &--bottom-left,
      &--center-left {
        left: 0;
      }

      &--top-right,
      &--bottom-right,
      &--center-right {
        right: 0;
      }
    }

    .mega-cta__title {
      font-size: variables.$typescale-6;
      font-weight: variables.$font-weight-normal;
      margin-bottom: variables.$spacing-1;

      @include breakpoints.breakpoint(lg) {
        font-size: functions.rem(40);
        font-weight: variables.$font-weight-light;
        margin-bottom: variables.$spacing-2;
      }
    }

    .mega-cta__text {
      font-size: variables.$typescale-2;
      margin-bottom: variables.$spacing-4;

      @include breakpoints.breakpoint(lg) {
        font-size: variables.$typescale-3;
        margin-bottom: variables.$spacing-5;
      }
    }

    .button {
      font-size: variables.$typescale-2;
      font-weight: variables.$font-weight-semibold;

      @include breakpoints.breakpoint(lg) {
        font-size: variables.$typescale-3;
        font-weight: variables.$font-weight-normal;
      }
    }

    .mega-cta__content--light {
      .mega-cta__link {
        .mega-cta__title {
          color: variables.$navy;
        }
      }

      .mega-cta__text {
        color: variables.$black;
      }
    }

    .mega-cta__content--dark {
      .mega-cta__link {
        .mega-cta__title {
          color: variables.$white;
        }
      }
    }
  }
}
