@use '../core/mixins';
@use '../core/variables';
@use '../mixins/breakpoints';

.midd-nav {
  order: 2;
  z-index: variables.$z-index-midd-nav;

  // Pull menu toggler out of container so it's flush with the opened menu
  margin-right: -#{variables.$spacing-3};

  @include mixins.print-hide;

  @include breakpoints.breakpoint(lg) {
    order: 1;
    margin-left: auto;
    margin-right: 0;
  }
}

.midd-nav__handle {
  display: inline-block;
  font-weight: variables.$font-weight-medium;
  font-size: variables.$typescale-2;
  color: variables.$white;
  line-height: variables.$line-height-solid;
  padding: variables.$spacing-3;
  background: none;
  border: 0;

  @include breakpoints.breakpoint(lg) {
    display: none;
  }
}

.midd-nav__handle--sub {
  border-left: 1px solid variables.$navy-light;
}

.midd-nav__bars {
  .midd-nav__handle.is-toggled & {
    display: none;
  }
}

.midd-nav__times {
  display: none;

  .midd-nav__handle.is-toggled & {
    display: inline-block;
  }
}

.midd-nav__list {
}

.midd-nav__list--top {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: variables.$navy-dark;
  padding-top: variables.$spacing-4;
  transition: 0.2s;
  opacity: 0;
  visibility: hidden;

  &.is-toggled {
    opacity: 1;
    visibility: visible;
  }

  @include breakpoints.breakpoint(lg) {
    opacity: 1;
    visibility: visible;
    display: flex;
    position: relative;
    top: 0;
    padding-top: 0;
  }
}

.midd-nav__list--sub {
  display: none;
  width: 100%;

  &.is-toggled {
    display: block;
  }

  @include breakpoints.breakpoint(lg) {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 240px;
    background: variables.$navy-dark;
    padding: variables.$spacing-2;
    z-index: variables.$z-index-midd-nav-dropdown;
    border-top: 1px solid variables.$white;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s;

    .midd-nav__item:hover &,
    .midd-nav__item:focus-within & {
      visibility: visible;
      opacity: 1;
    }
  }
}

.midd-nav__item {
  border-top: 1px solid variables.$navy-light;

  @include breakpoints.breakpoint(lg) {
    border-top: 0;
    flex: 1 0 auto;
  }
}

.midd-nav__item--top {
  display: flex;
  flex-wrap: wrap;
  position: relative;

  @include breakpoints.breakpoint(lg) {
    border-top: 0;
    margin-right: variables.$spacing-4;
  }
}

.midd-nav__link {
  font-size: variables.$typescale-3;
  color: variables.$white;
  display: block;

  @include breakpoints.breakpoint(lg) {
    font-weight: variables.$font-weight-medium;
    font-size: variables.$typescale-2;
    transition: 0.2s;
    opacity: 0.8;

    &:hover {
      opacity: 1;
    }
  }
}

.midd-nav__link--top {
  flex: 1 0 auto;
  padding: variables.$spacing-4 variables.$spacing-3;
  line-height: variables.$line-height-solid;

  @include breakpoints.breakpoint(lg) {
    padding-left: variables.$spacing-5;
    padding-right: variables.$spacing-5;
  }

  @include breakpoints.breakpoint(lg) {
    border-top: 4px solid transparent;
    padding-top: calc(#{variables.$spacing-4} - 4px);
    padding-bottom: variables.$spacing-4;
    padding-left: 0;
    padding-right: 0;
  }

  .midd-nav__item:hover &,
  .midd-nav__item:focus-within & {
    border-top-color: variables.$white;
    text-decoration: none;
  }
}

.midd-nav__link--sub {
  padding: variables.$spacing-3;
  // inset sub menu items
  padding-left: variables.$spacing-6;

  @include breakpoints.breakpoint(lg) {
    padding-left: variables.$spacing-4 * 0.5;
  }
}

.midd-nav__chevron {
  transition: variables.$chevron-transition;

  .midd-nav__handle.is-toggled & {
    transform: variables.$chevron-transform;
  }
}
