@use '../core/functions';
@use '../core/mixins';
@use '../core/variables';
@use '../mixins/breakpoints';

.midd-footer {
  background-color: variables.$navy-dark;
  padding-top: variables.$spacing-4;
  padding-bottom: variables.$spacing-4;
  @include mixins.print-hide;
}

.midd-footer__list {
  @include breakpoints.breakpoint(lg) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    margin-top: variables.$spacing-3;
  }
}

.midd-footer__item {
  &:not(:first-child) {
    @include breakpoints.breakpoint(lg) {
      margin-left: variables.$spacing-3;
    }
    @include breakpoints.breakpoint(xl) {
      margin-left: variables.$spacing-4;
    }
  }
}

.midd-footer__link {
  color: variables.$white;
  font-size: variables.$typescale-2;
  display: block;
  padding-top: variables.$spacing-1;
  padding-bottom: variables.$spacing-1;
  white-space: nowrap;

  @include breakpoints.breakpoint(lg) {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.midd-footer {
  &.davis-footer {
    padding-top: variables.$spacing-4;
    padding-bottom: variables.$spacing-4;
    background-color: variables.$black;

    @include breakpoints.breakpoint(lg) {
      padding-top: variables.$spacing-7;
      padding-bottom: variables.$spacing-7;
    }

    .midd-footer__list {
      @include breakpoints.breakpoint(lg) {
        display: block;
      }

      @include breakpoints.breakpoint(xl) {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 100%;
      }
    }

    .davis-logo {
      img {
        margin-bottom: variables.$spacing-3;
      }

      img:first-child {
        margin-right: functions.rem(12);
      }

      img:nth-child(2) {
        width: 288px;

        @include breakpoints.breakpoint(md) {
          width: 309px;
        }
      }
    }

    .midd-footer__item {
      &:not(:first-child) {
        @include breakpoints.breakpoint(lg) {
          margin-left: 0;
        }
        @include breakpoints.breakpoint(xl) {
          margin-left: variables.$spacing-4;
        }
      }
    }

    .midd-footer__link {
      @include breakpoints.breakpoint(lg) {
        padding-top: variables.$spacing-1;
        padding-bottom: variables.$spacing-1;
      }

      @include breakpoints.breakpoint(xl) {
        padding-top: 0;
        padding-bottom: 0;
      }
    }
  }
}
