@use '../core/variables';
@use '../mixins/breakpoints';

.paragraph--policy {
  background: rgba(variables.$gray-light, 0.3);
  font-weight: variables.$font-weight-light;

  p {
    font-size: variables.$typescale-2;

    @include breakpoints.breakpoint(lg) {
      font-size: variables.$typescale-3;
    }
  }

  a {
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}
