.paragraph--policy {
  background: rgba($gray-light, 0.3);
  font-weight: $font-weight-light;

  p {
    font-size: $typescale-2;

    @include breakpoint(lg) {
      font-size: $typescale-3;
    }
  }

  a {
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}
