@use '../core/functions';
@use '../core/variables';
@use '../mixins/breakpoints';
@use '../mixins/grid';

.office-footer {
  background: variables.$gray-lighter;
  text-align: center;
  border-top: 1px solid variables.$border-color;

  @include breakpoints.breakpoint(lg) {
    padding-top: variables.$spacing-5;
    padding-bottom: variables.$spacing-5;
  }
}

.office-footer__row {
  @include grid.make-row;

  & {
    justify-content: center;
  }
}

.office-footer__col {
  @include grid.make-col-ready;

  & {
    padding-bottom: variables.$spacing-4;
    padding-top: variables.$spacing-4;
  }

  @include breakpoints.breakpoint(md) {
    padding-bottom: variables.$spacing-5;
    padding-top: variables.$spacing-5;
  }

  @include breakpoints.breakpoint(lg) {
    @include grid.make-col(4);

    & {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  &:not(:last-child) {
    border-bottom: 1px solid variables.$border-color;

    @include breakpoints.breakpoint(lg) {
      border-bottom: 0;
      border-right: 1px solid variables.$border-color;
    }
  }
}

.office-footer__col div {
  &:not(:first-child) {
    h3 {
      margin-left: -(variables.$spacing-3);
      margin-right: -(variables.$spacing-3);
      margin-top: variables.$spacing-4;
      padding-top: variables.$spacing-4;
      border-top: 1px solid variables.$border-color;

      @include breakpoints.breakpoint(lg) {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
}

.office-footer__col h4 {
  margin-top: functions.rem(14);
}
