.office-hours {
  background: $blue-lighter;
  @include breakpoint(md) {
    padding-top: $spacing-2;
    padding-bottom: $spacing-2;
  }
}

.office-hours__list {
  @include breakpoint(md) {
    display: flex;
  }
}

.office-hours__item {
  font-size: $typescale-2;
  padding-top: $spacing-2;
  padding-bottom: $spacing-2;

  @include breakpoint(md) {
    padding-top: 0;
    padding-bottom: 0;
    margin-right: $spacing-4;
    padding-right: $spacing-4;
  }

  &:not(:last-child) {
    border-bottom: 1px solid $border-color;
    @include breakpoint(md) {
      border-bottom: 0;
      border-right: 1px solid $border-color;
    }
  }
}
