@use '../core/functions';
@use '../core/mixins';
@use '../core/variables';
@use '../mixins/breakpoints';
@use '../mixins/grid';
@use '../mixins/type';

@use 'sass:math';

.page-header {
}

.page-header--has-image {
  padding-top: math.percentage(2 * 0.2);
  height: 0;
  position: relative;
  overflow: hidden;
  min-height: 300px;
  margin-bottom: variables.$spacing-7;

  img {
    @include mixins.absolute-fill;
    object-fit: cover;
  }

  .page-header__title {
    color: variables.$white;
    padding-right: variables.$spacing-4; // make room for tooltip on image
  }
}

.page-header--wrmc {
  overflow: initial;

  .page-header__figure {
    &:before {
      content: '';
      z-index: 6;
      width: 75%;
      height: 50%;
      display: block;
      position: absolute;
      right: 0;
      background: linear-gradient(
        to bottom left,
        rgba(variables.$black, 0.9) 0%,
        transparent 50%
      );

      @include breakpoints.breakpoint(sm) {
        width: 50%;
        background: linear-gradient(
          to bottom left,
          rgba(variables.$black, 0.9) 0%,
          transparent 40%
        );
      }

      @include breakpoints.breakpoint(lg) {
        background: linear-gradient(
          to bottom left,
          rgba(variables.$black, 0.9) 0%,
          transparent 30%
        );
      }

      @include breakpoints.breakpoint(xl) {
        background: linear-gradient(
          to bottom left,
          rgba(variables.$black, 0.9) 0%,
          transparent 25%
        );
      }
    }
  }
}

.page-header__figure {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.page-header__caption {
  position: absolute;
  right: variables.$spacing-3;
  bottom: variables.$spacing-7;
  z-index: variables.$z-index-page-header-caption;

  @include breakpoints.breakpoint(md) {
    bottom: variables.$spacing-4;
    right: variables.$spacing-5;
  }
}

.page-header__list-toggle {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  column-gap: variables.$spacing-3;
  color: variables.$white;
  font-size: variables.$typescale-2;
  font-weight: variables.$font-weight-semibold;
  line-height: variables.$line-height-solid;
  text-transform: uppercase;
  padding-top: variables.$spacing-3;
  padding-right: variables.$spacing-3;
  z-index: 8;

  @include breakpoints.breakpoint(lg) {
    padding-right: variables.$spacing-5;
  }

  .page-header__list-ellipsis {
    & > span {
      display: block;
      width: variables.$spacing-1;
      height: variables.$spacing-1;
      border-radius: 50%;
      background-color: variables.$white;
      margin: variables.$spacing-1 0;
    }
  }

  &:hover,
  &:focus {
    color: variables.$navy;

    .page-header__list-ellipsis {
      & > span {
        background-color: variables.$navy;
      }
    }

    ~ .page-header__list {
      background-color: variables.$white;
      transition: background-color 0.2s;
      z-index: 7;

      .page-header__list-overlay {
        display: block;
        padding-left: variables.$spacing-7;
        padding-right: variables.$spacing-5;
        padding-top: functions.rem(56);
        padding-bottom: variables.$spacing-3;
      }
    }
  }
}

.page-header__list {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 200px;
  box-shadow: 0 0 variables.$spacing-2 0 rgba(variables.$black, 0.25);

  .page-header__list-overlay {
    display: none;
    counter-reset: ol;

    &,
    p {
      font-size: variables.$typescale-2;
      font-weight: variables.$font-weight-semibold;
      line-height: variables.$line-height-heading;
    }

    > li {
      counter-increment: ol;
      position: relative;

      &:before {
        content: counter(ol) '.';
        position: absolute;
        right: calc(100% + #{variables.$spacing-2});
        color: variables.$wrmc-pink;
      }

      &:not(:last-child) {
        margin-bottom: variables.$spacing-2;
      }

      p:last-child {
        color: variables.$wrmc-pink;
      }
    }
  }
}

.page-header__main {
  .page-header--has-image & {
    background-image: linear-gradient(to bottom, transparent, variables.$black);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

.page-header--has-menu {
  margin-bottom: 0;
}

.page-header__content {
  @include grid.make-col-ready;

  & {
    padding-top: variables.$spacing-5;
    padding-bottom: variables.$spacing-4;
  }

  @include breakpoints.breakpoint(md) {
    padding-top: variables.$spacing-6;
    @include grid.make-col(10);
    @include grid.make-col-offset(1);
  }

  @include breakpoints.breakpoint(lg) {
    padding-top: variables.$spacing-8;
    padding-bottom: variables.$spacing-9;
  }

  .page-header--has-image & {
    padding-top: variables.$spacing-9;
    padding-bottom: variables.$spacing-5;
  }

  .page-header--has-menu & {
    padding-bottom: variables.$spacing-3;

    @include breakpoints.breakpoint(md) {
      padding-bottom: variables.$spacing-4;
    }

    @include breakpoints.breakpoint(lg) {
      padding-bottom: variables.$spacing-5;
    }
  }

  .page-header--has-image.page-header--has-menu & {
    padding-bottom: variables.$spacing-7;
  }
}

.page-header__title {
  @include type.h1;
}

.page-header--app {
  .page-header__content {
    padding-top: variables.$spacing-4;
    padding-bottom: variables.$spacing-4;
    @include breakpoints.breakpoint(lg) {
      padding-top: variables.$spacing-8;
      padding-bottom: variables.$spacing-8;
    }
  }

  .page-header__title {
    font-size: variables.$typescale-7;

    @include breakpoints.breakpoint(md) {
      font-size: variables.$typescale-8;
    }
  }
}
