@use '../core/variables';
@use '../mixins/breakpoints';
@use '../mixins/type';

.pagination {
  margin-bottom: variables.$spacing-9;
  margin-top: variables.$spacing-7;
}

.pagination__list {
  display: flex;
}

.pagination__item {
  display: none;

  &:not(:last-of-type) {
    margin-right: 1rem;
  }

  @include breakpoints.breakpoint(md) {
    display: block;
  }
}

.pagination__item--next,
.pagination__item--previous,
.pagination__item--active {
  display: inline-block;
}

.pagination__item--first,
.pagination__item--last,
.pagination__item--others {
  @include breakpoints.breakpoint(sm) {
    display: inline-block;
  }
}

.pagination__link {
  display: block;
  font-weight: variables.$font-weight-semibold;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: variables.$letter-spacing;
  text-align: center;
  padding: 0.25rem 0.5rem;
  transition: background 0.2s;

  &:hover,
  &:focus {
    text-decoration: none;
    background-color: variables.$gray-light;
  }

  &.pagination__link--active {
    background-color: variables.$color-primary;
    color: variables.$white;
  }

  .pagination__item--next &,
  .pagination__item--previous & {
    padding-left: 0;
    padding-right: 0;
    @include type.link-border;

    &:focus,
    &:hover {
      background: transparent;
    }
  }
}
