@use '../core/functions';
@use '../core/mixins';
@use '../core/variables';
@use '../mixins/breakpoints';
@use '../mixins/type';

.page-nav {
  margin-bottom: variables.$spacing-4;
  @include breakpoints.breakpoint(md) {
    margin-bottom: variables.$spacing-8;
  }
  @include mixins.print-hide;
}

.page-nav__title {
  border-bottom: 4px solid variables.$border-color;
  @include type.small-caps;
}

.page-nav__button {
  padding: 1rem;
  border: 1px solid variables.$border-color;
  width: 100%;
  background: none;
  font-size: variables.$typescale-2;
  font-weight: variables.$font-weight-semibold;
  // font-family: inherit;
  text-align: left;
  color: variables.$color-primary;
  display: flex;
  flex-direction: column;

  @include breakpoints.breakpoint(lg) {
    display: none;
  }

  .page-nav__button-text__label {
    @include type.gray-label;
    margin-bottom: variables.$spacing-1;
    line-height: 1.4;
    color: variables.$gray-semi-light;
  }

  .page-nav__button-text {
    display: flex;
    align-items: center;
  }
}

.page-nav__icon {
  float: right;
  transition: variables.$chevron-transition;
  margin-left: variables.$spacing-2;
  margin-top: functions.rem(2);

  .page-nav__button.is-toggled & {
    transform: variables.$chevron-transform;
  }
}

.page-nav__content {
  padding-left: 1rem;
  padding-right: 1rem;
  border: 1px solid variables.$border-color;
  border-top: 0;
  background-color: #f2f2f2;

  @include breakpoints.breakpoint(lg) {
    padding-left: 0;
    padding-right: 0;
    border: 0;
    background-color: transparent;
  }

  &.has-toggler {
    display: none;

    @include breakpoints.breakpoint(lg) {
      display: block;
    }
  }

  &.is-toggled {
    display: block;
  }
}

.page-nav__list {
  // nested lists
  .page-nav__list {
    margin-left: 2rem;
    border-top: 1px solid variables.$border-color;
  }
}

.page-nav__item {
  &:not(:last-of-type) {
    border-bottom: 1px solid variables.$border-color;
  }
}

.page-nav__link {
  display: block;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.page-nav__link--active {
  color: variables.$sky;
  font-weight: variables.$font-weight-semibold;
}
