.section.paragraph--pardot-form {
  margin-bottom: $spacing-7;
  margin-top: $spacing-7;

  .form-group {
    margin-bottom: $spacing-4;
  }

  @include breakpoint(md) {
    margin-bottom: $spacing-8;
    margin-top: $spacing-8;

    .section__title {
      margin-bottom: $spacing-5;
    }
  }

  @include breakpoint(lg) {
    margin-bottom: $spacing-9;
    margin-top: $spacing-9;

    .section__title {
      margin-bottom: $spacing-7;
    }

    .form-group {
      margin-bottom: $spacing-5;
    }
  }
}
