.portrait-video {
  max-width: 300px;
  margin: 0 auto;
}

.portrait-video__content {
  position: relative;
  padding-bottom: percentage(16 / 9);

  img,
  iframe {
    @include absolute-fill;
  }
}

.portrait-video__body {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(to top, #000, transparent);
  padding: $spacing-3;
  padding-top: $spacing-8;
  z-index: 3;
}

.portrait-video__link {
  &:after {
    content: '';
    display: block;
    background: rgba($navy, 0.5);
    opacity: 0;
    transition: opacity 0.2s;
    @include absolute-fill;
    z-index: 1;
  }

  &:hover,
  &:focus {
    &:after {
      opacity: 1;
    }
    .portrait-video__title {
      transform: translateY(-1rem);
    }
  }
}

.portrait-video__title {
  font-family: $font-family-sans-serif;
  font-size: $typescale-4;
  font-weight: $font-weight-semibold;
  color: $white;
  transition: transform 0.2s;
}
