@use '../core/mixins';
@use '../core/variables';

@use 'sass:math';

.portrait-video {
  max-width: 300px;
  margin: 0 auto;
}

.portrait-video__content {
  position: relative;
  padding-bottom: math.percentage(math.div(16, 9));

  img,
  iframe {
    @include mixins.absolute-fill;
  }
}

.portrait-video__body {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(to top, #000, transparent);
  padding: variables.$spacing-3;
  padding-top: variables.$spacing-8;
  z-index: 3;
}

.portrait-video__link {
  &:after {
    content: '';
    display: block;
    background: rgba(variables.$navy, 0.5);
    opacity: 0;
    transition: opacity 0.2s;
    @include mixins.absolute-fill;
    z-index: 1;
  }

  &:hover,
  &:focus {
    &:after {
      opacity: 1;
    }

    .portrait-video__title {
      transform: translateY(-1rem);
    }
  }
}

.portrait-video__title {
  font-family: variables.$font-family-sans-serif;
  font-size: variables.$typescale-4;
  font-weight: variables.$font-weight-semibold;
  color: variables.$white;
  transition: transform 0.2s;
}
