@use '../core/variables';
@use '../mixins/breakpoints';

.profile-spotlight-item {
  margin-bottom: variables.$spacing-5;
  display: flex;

  @include breakpoints.breakpoint(md) {
    display: block;
    margin-bottom: 0;
  }
}

.profile-spotlight-item__media {
  margin-bottom: variables.$spacing-3;
  margin-right: variables.$spacing-3;

  @include breakpoints.breakpoint(md) {
    margin-right: 0;
  }
}

.profile-spotlight-item__content {
  flex: 1;
}

.profile-spotlight-item__text {
  font-size: variables.$typescale-3;
  font-weight: variables.$font-weight-normal;
  margin-bottom: variables.$spacing-3;
}

.profile-spotlight-item__name {
  font-family: variables.$font-family-sans-serif;
  font-size: variables.$typescale-3;
  font-weight: variables.$font-weight-medium;
  margin-bottom: variables.$spacing-1;
}

.profile-spotlight-item__title {
  color: variables.$gray;
  font-size: variables.$typescale-2;
  font-style: italic;
  margin-bottom: variables.$spacing-3;
}

.profile-spotlight-item__link {
  font-size: variables.$typescale-2;
}
