@use '../core/variables';
@use '../mixins/breakpoints';
@use '../mixins/type';

$profile-detail-programs-border: 1px solid variables.$gray-light;
$profile-detail-programs-border-thick: 4px solid variables.$gray-light;

.profile-detail {
  @each $icon-name, $color in variables.$scholarly-icons {
    .profile-detail-#{$icon-name} {
      fill: $color;
    }
  }
}

.profile-detail__programs {
  padding: variables.$spacing-2 0;
  border-bottom: $profile-detail-programs-border;
  border-top: $profile-detail-programs-border-thick;
  margin-bottom: variables.$spacing-4;
  margin-left: -(variables.$spacing-3);
  margin-right: -(variables.$spacing-3);
  padding-left: variables.$spacing-3;

  a {
    @include type.link-border;
  }

  @include breakpoints.breakpoint(sm) {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
  }

  @include breakpoints.breakpoint(lg) {
    border-top: 0;
    padding-top: 0;
  }

  span {
    // display: inline-flex;

    &:not(:last-child):after {
      content: ';';
      color: variables.$black;
      margin-left: -3px;
    }
  }
}

.profile-detail__link-table {
  margin-bottom: variables.$spacing-8;
  border-spacing: variables.$spacing-3;
  border: 1px solid #dedede;
  padding: variables.$spacing-3;

  div[role='row'] {
    vertical-align: top;
    flex-direction: column;

    div[role='cell'] {
      overflow-wrap: break-word;

      &:not(:first-child) {
        margin-top: variables.$spacing-3;
        border-top: 1px solid #dedede;
        padding-top: variables.$spacing-3;
      }
    }
  }

  @include breakpoints.breakpoint(md) {
    margin-bottom: 4.5rem;
    border-spacing: variables.$spacing-2;
    padding: variables.$spacing-2;

    div[role='row'] {
      vertical-align: top;
      flex-direction: row;

      div[role='cell'] {
        padding: variables.$spacing-2;
        width: 50%;

        &:not(:first-child) {
          border-top: none;
          margin-top: 0;
          border-left: 1px solid #dedede;
          padding: variables.$spacing-2;
          padding-left: variables.$spacing-3;
        }
      }
    }
  }

  @include breakpoints.breakpoint(xl) {
    margin-bottom: variables.$spacing-9;
  }
}
