.quote {
  border-top: 4px solid $blue;
  border-bottom: 1px solid $blue;
  margin-top: $spacing-7;
  margin-bottom: $spacing-7;
  padding: $spacing-5 $spacing-3;

  @include breakpoint(md) {
    margin-top: $spacing-7;
    margin-bottom: $spacing-7;
  }
}

.quote__text {
  color: $blue-dark;
  font-size: $typescale-5;
  line-height: $line-height-heading;
  margin-bottom: $spacing-2;

  @include breakpoint(md) {
    font-size: $typescale-6;
  }

  .quote--marks & {
    quotes: '“' '”';
    position: relative;

    &:before {
      content: open-quote;
      position: absolute;
      top: 0;
      right: 100%;
    }

    &:after {
      content: close-quote;
    }
  }
}

.quote__cite {
  font-size: $typescale-3;
}
