@use '../core/variables';
@use '../mixins/breakpoints';

.quote {
  border-top: 4px solid variables.$blue;
  border-bottom: 1px solid variables.$blue;
  margin-top: variables.$spacing-7;
  margin-bottom: variables.$spacing-7;
  padding: variables.$spacing-5 variables.$spacing-3;

  @include breakpoints.breakpoint(md) {
    margin-top: variables.$spacing-7;
    margin-bottom: variables.$spacing-7;
  }
}

.quote__text {
  color: variables.$blue-dark;
  font-size: variables.$typescale-5;
  line-height: variables.$line-height-heading;
  margin-bottom: variables.$spacing-2;

  @include breakpoints.breakpoint(md) {
    font-size: variables.$typescale-6;
  }

  .quote--marks & {
    quotes: '“' '”';
    position: relative;

    &:before {
      content: open-quote;
      position: absolute;
      top: 0;
      right: 100%;
    }

    &:after {
      content: close-quote;
    }
  }
}

.quote__cite {
  font-size: variables.$typescale-3;
}
