.school-search {
  @include print-hide;
}

.school-search__handle {
  display: inline-block;
  padding: $spacing-3;
  font-size: $typescale-2;
  color: $navy;

  &:hover {
    text-decoration: none;
  }

  @include breakpoint($school-header-breakpoint) {
    font-weight: $font-weight-medium;
    font-size: $typescale-3;
    padding-left: 0;
    padding-right: 0;
    border-bottom: 4px solid transparent;
    opacity: 0.8;
    transition:
      opacity 0.2s,
      border-color 0.2s;

    &.is-toggled,
    &:hover {
      opacity: 1;
      @include themify(border-color);
    }
  }
}

.school-search__content {
  position: absolute;
  top: 100%;
  right: 0;
  width: 100%;
  padding: $spacing-3;
  background-color: $white;
  visibility: hidden;
  opacity: 0;
  transition: 0.2s;
  z-index: $z-index-school-search-content;
  border-top: 1px solid $color-primary;
  border-bottom: 1px solid $color-primary;

  &.is-toggled {
    visibility: visible;
    opacity: 1;
  }

  @include breakpoint($school-header-breakpoint) {
    width: 400px;
    border: 1px solid $color-primary;
  }
}

.school-search__times {
  display: none;
  .school-search__handle.is-toggled & {
    display: inline-block;
  }
}

.school-search__mag {
  .school-search__handle.is-toggled & {
    display: none;
  }
}
