// schedule-header
.schedule-header {
  background-color: $blue-lighter;
  padding: $spacing-2;
}

.schedule-header__date {
  font-size: $typescale-3;
  font-family: $font-family-sans-serif;
  font-weight: $font-weight-medium;
  text-transform: uppercase;
  letter-spacing: $letter-spacing;
  margin-bottom: $spacing-1;
}

.schedule-header__title {
  font-size: $typescale-5;
  font-weight: $font-weight-semibold;
  font-family: $font-family-serif;
  line-height: $line-height-heading;
}

// schedule-item
.schedule-item {
  padding-top: $spacing-2;
  padding-left: $spacing-2;
  padding-right: $spacing-2;
  padding-bottom: $spacing-5;

  & + & {
    border-top: 1px solid $border-color;
  }

  @include breakpoint(sm) {
    display: flex;
    padding-top: $spacing-5;
    padding-bottom: $spacing-7;
  }
}

.schedule-item__details {
  margin-bottom: $spacing-3;
  text-align: center;

  @include breakpoint(sm) {
    text-align: left;
    width: 30%;
    padding-right: $spacing-3;
  }
}

.schedule-item__time {
  font-size: $typescale-3;
}

.schedule-item__local {
  font-size: $typescale-3;
}

.schedule-item__body {
  @include breakpoint(sm) {
    width: 70%;
  }
}

.schedule-item__img {
  margin-bottom: $spacing-3;

  .media__caption {
    font-size: $typescale-1;
  }
}

.schedule-item__title {
  @include h4;
  font-weight: $font-weight-semibold;
  margin-bottom: $spacing-2;
}

.schedule-item__text {
  font-size: $typescale-3;
  @include contains-links;
}

.schedule-item__button {
  margin-top: $spacing-4;
  display: block;
  @include breakpoint(sm) {
    margin-top: $spacing-5;
    display: inline-block;
  }
}

.schedule-item__speakers {
  margin-bottom: $spacing-3;
}
.schedule-item__speaker {
  &:not(:last-child) {
    margin-bottom: $spacing-3;
  }
}

.schedule-item__name {
  font-size: $typescale-3;
  font-weight: $font-weight-medium;
}

.schedule-item__job {
  font-size: $typescale-2;
}
