@use '../core/mixins';
@use '../core/variables';
@use '../mixins/breakpoints';
@use '../mixins/type';

// schedule-header
.schedule-header {
  background-color: variables.$blue-lighter;
  padding: variables.$spacing-2;
}

.schedule-header__date {
  font-size: variables.$typescale-3;
  font-family: variables.$font-family-sans-serif;
  font-weight: variables.$font-weight-medium;
  text-transform: uppercase;
  letter-spacing: variables.$letter-spacing;
  margin-bottom: variables.$spacing-1;
}

.schedule-header__title {
  font-size: variables.$typescale-5;
  font-weight: variables.$font-weight-semibold;
  font-family: variables.$font-family-serif;
  line-height: variables.$line-height-heading;
}

// schedule-item
.schedule-item {
  padding-top: variables.$spacing-2;
  padding-left: variables.$spacing-2;
  padding-right: variables.$spacing-2;
  padding-bottom: variables.$spacing-5;

  & + & {
    border-top: 1px solid variables.$border-color;
  }

  @include breakpoints.breakpoint(sm) {
    display: flex;
    padding-top: variables.$spacing-5;
    padding-bottom: variables.$spacing-7;
  }
}

.schedule-item__details {
  margin-bottom: variables.$spacing-3;
  text-align: center;

  @include breakpoints.breakpoint(sm) {
    text-align: left;
    width: 30%;
    padding-right: variables.$spacing-3;
  }
}

.schedule-item__time {
  font-size: variables.$typescale-3;
}

.schedule-item__local {
  font-size: variables.$typescale-3;
}

.schedule-item__body {
  @include breakpoints.breakpoint(sm) {
    width: 70%;
  }
}

.schedule-item__img {
  margin-bottom: variables.$spacing-3;

  .media__caption {
    font-size: variables.$typescale-1;
  }
}

.schedule-item__title {
  @include type.h4;
  font-weight: variables.$font-weight-semibold;
  margin-bottom: variables.$spacing-2;
}

.schedule-item__text {
  font-size: variables.$typescale-3;
  @include mixins.contains-links;
}

.schedule-item__button {
  margin-top: variables.$spacing-4;
  display: block;
  @include breakpoints.breakpoint(sm) {
    margin-top: variables.$spacing-5;
    display: inline-block;
  }
}

.schedule-item__speakers {
  margin-bottom: variables.$spacing-3;
}

.schedule-item__speaker {
  &:not(:last-child) {
    margin-bottom: variables.$spacing-3;
  }
}

.schedule-item__name {
  font-size: variables.$typescale-3;
  font-weight: variables.$font-weight-medium;
}

.schedule-item__job {
  font-size: variables.$typescale-2;
}
