@use '../core/mixins';
@use '../core/variables';
@use '../mixins/breakpoints';
@use 'school-header';

.school-search {
  @include mixins.print-hide;
}

.school-search__handle {
  display: inline-block;
  padding: variables.$spacing-3;
  font-size: variables.$typescale-2;
  color: variables.$navy;

  @include breakpoints.breakpoint(xl) {
    padding: variables.$spacing-2;
  }

  &:hover {
    text-decoration: none;
  }

  @include breakpoints.breakpoint(school-header.$school-header-breakpoint) {
    font-weight: variables.$font-weight-medium;
    font-size: variables.$typescale-3;
    padding-left: 0;
    padding-right: 0;
    border-bottom: 8px solid transparent;
    // opacity: 0.8;
    transition:
      opacity 0.2s,
      border-color 0.2s;

    &.is-toggled,
    &:hover {
      // opacity: 1;
      @include mixins.themify(border-color);
    }
  }
}

.school-search__content {
  position: absolute;
  top: 100%;
  right: 0;
  width: 100%;
  padding: variables.$spacing-3;
  background-color: variables.$white;
  visibility: hidden;
  opacity: 0;
  transition: 0.2s;
  z-index: variables.$z-index-school-search-content;
  border-top: 1px solid variables.$color-primary;
  border-bottom: 1px solid variables.$color-primary;

  &.is-toggled {
    visibility: visible;
    opacity: 1;
  }

  @include breakpoints.breakpoint(school-header.$school-header-breakpoint) {
    width: 400px;
    border: 1px solid variables.$color-primary;
  }
}

.school-search__times {
  display: none;

  .school-search__handle.is-toggled & {
    display: inline-block;
  }
}

.school-search__mag {
  .school-search__handle.is-toggled & {
    display: none;
  }
}
