@use '../core/mixins';
@use '../core/variables';
@use '../mixins/breakpoints';
@use 'school-header';

.school-nav {
  @include mixins.print-hide;
}

.school-nav__handle {
  display: inline-block;
  padding: variables.$spacing-3;
  font-size: variables.$typescale-2;
  font-weight: variables.$font-weight-medium;
  line-height: variables.$line-height-body;
  color: variables.$navy;
  background: none;
  border: 0;

  @include breakpoints.breakpoint(school-header.$school-header-breakpoint) {
    display: none;
  }
}

.school-nav__menu {
  display: none;

  @include breakpoints.breakpoint(school-header.$school-header-breakpoint) {
    display: flex;
    flex-direction: column-reverse;
  }
}

.school-nav__menu {
  nav:first-child {
    margin-top: variables.$spacing-3;
  }

  nav:last-child {
    display: flex;
    justify-content: flex-end;

    .school-nav__list--extended {
      border-left: 1px solid variables.$navy;
      margin: variables.$spacing-2 0;
      margin-left: variables.$spacing-5;
      padding-left: variables.$spacing-5;

      .school-nav__list {
        margin: -(variables.$spacing-2) 0;

        .school-nav__link {
          font-weight: variables.$font-weight-bold;
        }
      }
    }
  }

  // nav:last-child {
  //   .school-nav__item:nth-last-child(-n + 3) {
  //     padding: variables.$spacing-2 0;
  //     margin: variables.$spacing-2 0;

  //     .school-nav__link {
  //       padding: 0;
  //       font-weight: variables.$font-weight-bold;
  //     }
  //   }

  //   .school-nav__item:nth-last-child(3) {
  //     // border-left: 1px solid currentColor;
  //     &:before {
  //       content: '|';
  //     }
  //   }
  // }
}

.school-nav__bars {
  .school-nav__handle.is-toggled & {
    display: none;
  }
}

.school-nav__times {
  display: none;

  .school-nav__handle.is-toggled & {
    display: inline-block;
  }
}

.school-nav__list {
  display: flex;
  justify-content: flex-end;
}

.school-nav__list--sub {
  display: block; // unset display-flex
  position: absolute;
  top: 100%;
  left: 0;
  background-color: variables.$white;
  padding: #{variables.$spacing-3 * 0.5} variables.$spacing-3;
  border: 1px solid variables.$navy;
  transition: opacity 0.2s;
  opacity: 0;
  visibility: hidden;
  z-index: variables.$z-index-school-nav-dropdown;
  min-width: 300px;
}

.school-nav__list--cols {
  column-count: 2;
  min-width: 500px;

  .school-nav__item {
    width: 100%;
    display: inline-block;
  }
}

.school-nav__item {
  position: relative;
  display: block;
  transition: opacity 0.2s;

  &:not(:last-child):not(.school-nav__item--sub) {
    margin-right: variables.$spacing-5;
  }

  &:focus-within,
  &:hover {
    .school-nav__list--sub {
      visibility: visible;
      opacity: 1;
    }
  }
}

.school-nav__link {
  display: block;
  padding-top: variables.$spacing-2;
  padding-bottom: variables.$spacing-2;
  color: variables.$navy;
  font-size: variables.$typescale-3;
  font-weight: variables.$font-weight-medium;
  // opacity: 0.8;
  transition: border-color 0.2s;

  &:hover {
    text-decoration: none;
    opacity: 1;
  }
}

.school-nav__link--sub {
  padding-top: variables.$spacing-3 * 0.5;
  padding-bottom: variables.$spacing-3 * 0.5;
  font-size: variables.$typescale-2;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.school-nav__link--top {
  border-bottom: 8px solid transparent;

  .school-nav__item:focus-within &,
  .school-nav__item:hover & {
    @include mixins.themify(border-color);
  }
}

.school-nav__link--active {
  @include mixins.themify(border-color);
}

.school-nav__link--util {
  font-size: variables.$typescale-2;
  border-top: 4px solid transparent;

  &:hover,
  &:focus {
    text-decoration: none;
    @include mixins.themify(border-top-color);
  }
}
