@use '../core/variables';
@use '../mixins/breakpoints';
@use '../mixins/grid';
@use '../mixins/type';

.school-footer {
  background-color: variables.$color-primary;
  padding-top: variables.$spacing-5;
  padding-bottom: variables.$spacing-5;

  @include breakpoints.breakpoint(md) {
    padding-top: variables.$spacing-7;
    padding-bottom: variables.$spacing-7;
  }
}

.school-footer__main {
  @include grid.make-col-ready;

  @include breakpoints.breakpoint(lg) {
    @include grid.make-col(4);
  }
}

.school-footer__primary {
  @include grid.make-col-ready;

  @include breakpoints.breakpoint(md) {
    @include grid.make-col(5);
  }

  @include breakpoints.breakpoint(lg) {
    @include grid.make-col(12);
  }

  .school-footer--lite & {
    @include breakpoints.breakpoint(lg) {
      @include grid.make-col(5);
    }
  }
}

.school-footer__secondary {
  @include grid.make-col-ready;

  & {
    padding-top: variables.$spacing-5;
    padding-bottom: variables.$spacing-5;
  }

  @include breakpoints.breakpoint(md) {
    @include grid.make-col(4);

    & {
      margin-left: auto;
    }
  }

  @include breakpoints.breakpoint(lg) {
    @include grid.make-col(12);

    & {
      padding-bottom: 0;
    }
  }

  .school-footer--lite & {
    padding-bottom: 0;
    @include breakpoints.breakpoint(md) {
      border-left: 1px solid variables.$navy-light;
      padding-top: variables.$spacing-3;
      padding-bottom: variables.$spacing-3;
    }

    @include breakpoints.breakpoint(lg) {
      @include grid.make-col(4);
    }
  }
}

.school-footer__text {
  @include type.h0;

  & {
    color: variables.$white;
    margin-bottom: variables.$spacing-4;
  }

  @include breakpoints.breakpoint(md) {
    margin-bottom: variables.$spacing-5;
  }
}

.school-footer__nav {
  @include grid.make-col-ready;

  & {
    border-top: 1px solid variables.$navy-light;
  }

  @include breakpoints.breakpoint(md) {
    margin-top: variables.$spacing-5;
  }

  @include breakpoints.breakpoint(lg) {
    @include grid.make-col(8);

    & {
      border-left: 1px solid variables.$navy-light;
      border-top: 0;
      margin-top: 0;
    }
  }
}
