@use '../core/variables';
@use '../mixins/breakpoints';
@use '../mixins/type';

.section {
  margin-bottom: variables.$spacing-8;

  @include breakpoints.breakpoint(md) {
    margin-bottom: variables.$spacing-9;
  }
}

.section__header {
  border-top: 4px solid variables.$navy;
  padding-top: variables.$spacing-2;
  margin-bottom: variables.$spacing-5;

  @include breakpoints.breakpoint(md) {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: variables.$spacing-7;
  }
}

.section__title {
  letter-spacing: variables.$letter-spacing;
  text-transform: uppercase;
  font-family: variables.$font-family-sans-serif;
  font-weight: variables.$font-weight-normal;
  font-size: variables.$typescale-6;
  // % unit is defined on flex basis value for ie11
  // https://stackoverflow.com/a/42630660/2193516
  flex: 1 1 0%;

  // Adds border style to title and removes it when nested in section header
  // so we don't need extra header elements in sections which do not have a cta link or blurb.
  border-top: 4px solid variables.$navy;
  padding-top: variables.$spacing-2;
  margin-bottom: variables.$spacing-5;

  @include breakpoints.breakpoint(md) {
    margin-bottom: variables.$spacing-7;
  }

  .section__header & {
    border-top: 0;
    padding-top: 0;
    margin-bottom: 0;
  }

  &.section__title-publications {
    margin-bottom: variables.$spacing-3;
  }
}

.section__link {
  @include type.link-border;
  flex: 0 0 auto;

  @include breakpoints.breakpoint(md) {
    .section__title + & {
      margin-left: variables.$spacing-3;
    }
  }
}

.section__text {
  margin-top: variables.$spacing-2;
  flex: 0 0 100%;

  a {
    @include type.link-border;
  }
}
