.spotlight {
  position: relative;
  @include breakpoint(lg) {
    // use padding bottom instead of margin otherwise
    // paragraph--spotlight does not combine the margins to have
    // the correct bottom spacing
    padding-bottom: $spacing-8;
  }
}

.spotlight__figure {
  @include breakpoint(lg) {
    padding-top: percentage(9 / 16);
    position: relative;
    height: 0;
    overflow: hidden;
  }

  img {
    @include breakpoint(lg) {
      @include absolute-fill;
      object-fit: cover;
      font-family: 'object-fit: cover;';
      z-index: $z-index-spotlight-image;
    }
  }
}

.spotlight__content {
  background: $white;

  @include breakpoint(lg) {
    position: absolute;
    right: $spacing-6;
    bottom: 0;
    // TODO: get rid of magic number?
    //  same as themed-panel secondary
    width: 360px;
    z-index: $z-index-spotlight-content;
  }
}

.spotlight__title {
  @include h0;
  background: $color-primary;
  color: $white;
  padding-top: $spacing-4;
  padding-bottom: $spacing-4;

  @include breakpoint(md) {
    // fake column offset with padding plus gutter width
    padding-left: calc(#{percentage(1 / 12)} + #{$grid-gutter-width / 2});
    padding-right: calc(#{percentage(1 / 12)} + #{$grid-gutter-width / 2});
  }

  // place after so largest breakpoint overrides
  @include make-gutters;
}

.spotlight__body {
  padding-top: $spacing-4;
  padding-bottom: $spacing-4;
  border-bottom: 8px solid $color-primary;

  @include breakpoint(md) {
    // fake column offset with padding plus gutter width
    padding-top: $spacing-5;
    padding-bottom: $spacing-5;
    padding-left: calc(#{percentage(1 / 12)} + #{$grid-gutter-width / 2});
    padding-right: calc(#{percentage(1 / 12)} + #{$grid-gutter-width / 2});
  }

  // place after so largest breakpoint overrides
  @include make-gutters;
}
