@use '../core/variables';

.stats {
  // display: inline-block;
  // text-align: center;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.stats__label {
  display: block;
  border-bottom: 1px solid variables.$navy;
  font-size: variables.$typescale-9;
  font-family: variables.$font-family-serif;
  line-height: variables.$line-height-solid;
  font-weight: 300;
  padding-bottom: variables.$spacing-2;
  margin-bottom: variables.$spacing-2;
  text-align: center;
  white-space: nowrap;
}

.stats__text {
  display: block;
  text-transform: uppercase;
  letter-spacing: variables.$letter-spacing;
  font-weight: variables.$font-weight-semibold;
  font-size: variables.$typescale-2;
  text-align: center;
}
