@use '../core/functions';
@use '../core/mixins';
@use '../core/variables';
@use '../mixins/breakpoints';

.tabs {
  width: calc(100vw - #{variables.$spacing-5});
  margin-top: variables.$spacing-6;

  @include breakpoints.breakpoint(md) {
    width: 100%;
    margin-top: 0;
  }
}

.tabs__nav {
  position: relative;
  right: 0;
  margin: 0 (-(variables.$spacing-3));

  @include breakpoints.breakpoint(md) {
    margin: 0;
  }

  @include mixins.print-hide;

  &:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 4rem;
    background-image: linear-gradient(
      to right,
      transparent,
      rgba(variables.$navy, 0.7)
    );

    @include breakpoints.breakpoint(md) {
      display: none;
    }
  }
}

.tabs__list {
  border-bottom: 4px solid variables.$black;
  margin-bottom: functions.rem(36);
  padding: 0 variables.$spacing-3;
  display: flex;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;

  @include mixins.print-hide;

  @include breakpoints.breakpoint(md) {
    margin-bottom: variables.$spacing-5;
    padding: 0;
    overflow-x: auto;
  }

  .tabs--light & {
    border-color: variables.$white;
  }
}

.tabs__item {
  &:last-child {
    padding-right: 4rem;
    @include breakpoints.breakpoint(md) {
      padding-right: 0;
    }
  }

  &:not(:last-child) {
    margin-right: variables.$spacing-4;
  }
}

.tabs__button {
  display: inline-block;
  padding-top: variables.$spacing-2;
  padding-bottom: variables.$spacing-2;
  border-top: 1px solid transparent;
  opacity: 0.8;
  transition: 0.2s;
  font-weight: variables.$font-weight-medium;

  &:hover {
    text-decoration: none;
    border-top-color: variables.$border-color;
    opacity: 1;
  }

  &.tabs__button--active,
  &[aria-selected='true'] {
    border-top-color: variables.$black;
    color: variables.$navy;
  }

  .tabs--light & {
    color: variables.$white;

    &:hover {
      text-decoration: none;
      border-top-color: rgba(variables.$white, 0.5);
      opacity: 1;
    }

    &[aria-selected='true'] {
      border-top-color: variables.$white;
      color: variables.$white;
    }
  }
}
