@use '../core/variables';
@use '../mixins/breakpoints';

@mixin terms() {
  @include breakpoints.breakpoint(lg) {
    display: flex;
    flex-wrap: wrap;
  }

  li,
  p {
    font-size: variables.$typescale-3;
  }
}
@mixin terms-title() {
  flex: 0 0 30%;
  font-weight: variables.$font-weight-medium;
  margin-bottom: variables.$spacing-2;

  &:last-child {
    margin-bottom: 0;
  }

  @include breakpoints.breakpoint(lg) {
    flex: 0 0 30%;
    padding-bottom: variables.$spacing-4;
    margin-bottom: variables.$spacing-4;
    padding-right: variables.$spacing-2;

    &:not(:last-of-type) {
      border-bottom: 1px solid variables.$border-color;
    }
  }
}
@mixin terms-text() {
  padding-bottom: variables.$spacing-4;
  margin-bottom: variables.$spacing-4;

  &:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  &:not(:last-of-type) {
    border-bottom: 1px solid variables.$border-color;
  }

  @include breakpoints.breakpoint(lg) {
    flex: 0 0 70%;
    padding-left: variables.$spacing-2;
  }
}

.terms {
  @include terms;
}

.terms__title {
  @include terms-title;
}

.terms__text {
  @include terms-text;
}
