@use 'sass:math';

@use '../core/variables';
@use '../mixins/breakpoints';
@use '../mixins/type';

/*
 * 1. prevent issues with dropdowns and other z-index layers above this component
 */
.themed-panel {
  background: variables.$navy;
  z-index: variables.$z-index-themed-panel;
}

.themed-panel__main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.themed-panel__title {
  font-size: variables.$typescale-8;
  color: variables.$white;
  padding: variables.$spacing-3;

  @include breakpoints.breakpoint(md) {
    font-size: variables.$typescale-9;
  }

  @include breakpoints.breakpoint(lg) {
    font-size: variables.$typescale-10;
    padding: variables.$spacing-3 variables.$spacing-5;
  }
}

.themed-panel__figure {
  position: relative;

  &:before {
    display: block;
    content: '';
    width: 100%;
    padding-top: math.div(9, 16) * 100%;
  }

  @include breakpoints.breakpoint(sm) {
    margin: variables.$spacing-3 variables.$spacing-3 0;
  }

  @include breakpoints.breakpoint(lg) {
    margin: variables.$spacing-5 variables.$spacing-5 0;
  }

  .themed-panel__title + & {
    margin-top: 0;
  }

  img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;

    @include breakpoints.breakpoint(xl) {
      object-fit: cover;
      font-family: 'object-fit: cover;';
    }
  }
}

.themed-panel__secondary {
  display: flex;
  flex-direction: column;
}

.themed-panel__main-article {
  display: block;
  background: variables.$navy;
  margin-left: variables.$spacing-3;
  margin-right: variables.$spacing-3;
  margin-bottom: variables.$spacing-4;
  position: relative;
  z-index: 1;

  @include breakpoints.breakpoint(md) {
    margin-bottom: variables.$spacing-5;
  }

  @include breakpoints.breakpoint(lg) {
    margin-left: variables.$spacing-5;
    margin-right: variables.$spacing-5;
  }

  .themed-panel__article {
    margin: auto;
    margin-top: -(variables.$spacing-7);
  }
}

.themed-panel__article {
  background: variables.$white;
  padding: variables.$spacing-2;
  padding-bottom: variables.$spacing-4;

  @include breakpoints.breakpoint(md) {
    padding-top: variables.$spacing-3;
    padding: variables.$spacing-4;
  }

  @include breakpoints.breakpoint(lg) {
    padding: variables.$spacing-4;
  }

  .themed-panel__text {
    color: variables.$black;

    a {
      color: variables.$navy;
    }
  }
}

.themed-panel__subarticles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: variables.$spacing-5;
  margin-top: variables.$spacing-5;

  .themed-panel__main-article + & {
    margin-top: 0;
  }

  @include breakpoints.breakpoint(md) {
    flex-direction: row;
  }
}

.themed-panel__subarticle {
  .themed-panel__heading {
    color: variables.$white;
    font-weight: variables.$font-weight-bold;
  }

  &:not(:last-child) {
    width: calc(100% - #{variables.$spacing-5});
    padding: 0;
    padding-bottom: variables.$spacing-5;
    margin: 0 variables.$spacing-3;
    margin-bottom: variables.$spacing-5;
    border-bottom: 1px solid rgba(variables.$white, 0.3);

    @include breakpoints.breakpoint(md) {
      width: initial;
      margin: 0;
      padding-bottom: 0;
      padding-left: variables.$spacing-3;
      padding-right: variables.$spacing-3;
      border-bottom: 0;
      border-right: 1px solid rgba(variables.$white, 0.3);
    }

    @include breakpoints.breakpoint(lg) {
      padding-left: variables.$spacing-5;
      padding-right: variables.$spacing-5;
    }
  }
}

.themed-panel__heading {
  margin-bottom: variables.$spacing-1;

  @include breakpoints.breakpoint(lg) {
    margin-bottom: variables.$spacing-2;
  }

  &.h2 {
    font-weight: variables.$font-weight-bold;

    @include breakpoints.breakpoint(lg) {
      font-weight: variables.$font-weight-normal;
    }
  }
}

.themed-panel__text {
  color: variables.$white;
  font-size: variables.$typescale-3;

  @include breakpoints.breakpoint(lg) {
    font-size: variables.$typescale-4;
  }

  .themed-panel__subarticle & {
    font-size: variables.$typescale-3;
  }

  a {
    color: variables.$white;
    @include type.link-border;
  }
}

.themed-panel__cta {
  color: variables.$white;
  font-weight: variables.$font-weight-semibold;
  padding: variables.$spacing-2;
  margin-top: variables.$spacing-4;

  &.button--light {
    font-size: variables.$typescale-2;
  }
}
