@use '../core/mixins';
@use '../core/variables';
@use '../mixins/breakpoints';

// TODO: switch box menu to this.
.themed-box {
  box-shadow: inset 0 0 0 1px variables.$gray-light;
  border-top: 8px solid variables.$navy;
  @include mixins.themify(border-top-color);
  background-color: variables.$white;
  padding: variables.$spacing-4;
  margin-bottom: variables.$spacing-7;

  @include breakpoints.breakpoint(md) {
    margin-bottom: variables.$spacing-8;
  }
}

.themed-box--compress {
  @include breakpoints.breakpoint(md) {
    padding-left: 10%;
    padding-right: 10%;
  }
}
