@use '../core/functions';
@use '../core/variables';

.to-top-btn {
  color: variables.$navy;
  padding: functions.rem(14);
  background: variables.$white;
  font-weight: variables.$font-weight-medium;
  box-shadow: 0 0 8px rgba(#000, 0.2);
  position: fixed;
  bottom: variables.$spacing-8;
  right: variables.$spacing-2;
  transition:
    transform 0.2s,
    bottom 0.2s;
  z-index: variables.$z-index-to-top-button;

  &[hidden] {
    transform: translateY(100%);
    bottom: 0;
  }

  &:hover {
    @media (hover: hover) {
      transform: translateY(-10%);
    }
  }
}
