@use '../core/mixins';
@use '../core/variables';
@use '../mixins/type';

@use 'sass:math';

.video {
  // position: relative;
}

.video__content {
  position: relative;
  padding-top: math.percentage(math.div(9, 16));
  height: 0;
  overflow: hidden;
  background-color: #000;

  iframe,
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.video__link {
  &:after {
    content: '';
    display: block;
    background: rgba(variables.$navy, 0.5);
    opacity: 0;
    transition: opacity 0.2s;
    @include mixins.absolute-fill;
  }

  &:hover,
  &:focus {
    &:after {
      opacity: 1;
    }
  }
}

.video__button {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: variables.$z-index-video-button;
}

.video__body {
  padding: variables.$spacing-3 variables.$spacing-4;
  border: 1px solid variables.$border-color;
}

.video__title {
  @include type.h3;
  margin-bottom: variables.$spacing-2;
}

.video__text {
  font-size: variables.$typescale-3;

  a {
    @include type.link-border;
  }
}
