@use '../core/functions';
@use '../core/variables';
@use '../mixins/breakpoints';
@use '../mixins/type';

.wrmc-footer {
  background-color: variables.$wrmc-blue-light;
  padding: variables.$spacing-7 0;

  @include breakpoints.breakpoint(md) {
    padding: variables.$spacing-5 0;
  }
}

.wrmc-footer__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 variables.$spacing-5;

  @include breakpoints.breakpoint(md) {
    flex-direction: row;
    align-items: initial;
    padding: 0 variables.$spacing-3;
  }

  @include breakpoints.breakpoint(lg) {
    padding: 0 variables.$spacing-5;
  }
}

.wrmc-footer__logo {
  color: variables.$black;
  font-size: variables.$typescale-1;
  font-weight: 800;
  line-height: variables.$line-height-solid;
  letter-spacing: variables.$letter-spacing;
  text-transform: uppercase;

  span {
    margin-left: -(variables.$spacing-2);
  }

  &:hover {
    text-decoration: none;
  }
}

.wrmc-footer__logo-image {
  position: relative;
  padding-bottom: functions.rem(14);

  img:first-child {
    position: absolute;
  }

  img:last-child {
    z-index: 2;
    position: relative;
    left: variables.$spacing-7;
    top: variables.$spacing-3;
  }
}

.wrmc-footer__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: variables.$spacing-1;

  @include breakpoints.breakpoint(md) {
    flex-direction: row;
    row-gap: initial;
  }
}

.wrmc-footer__link {
  font-size: variables.$typescale-1;
  font-weight: variables.$font-weight-semibold;
  line-height: variables.$line-height-solid;

  @include type.link-border;
}
