@use '../core/functions';
@use '../core/mixins';
@use '../core/variables';
@use '../mixins/breakpoints';
@use '../mixins/type';
@use 'school-header';

$school-header-breakpoint: xl;

.wrmc-header {
  background: variables.$wrmc-blue-light;
  position: relative;
  // overflow-y: hidden;

  @include mixins.themify(border-top-color);

  &.headroom {
    will-change: transform;
    transition: transform 0.4s ease-in-out;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: variables.$z-index-school-header;

    @media print {
      position: relative;
    }
  }

  &.headroom--pinned {
    transform: translateY(0%);
  }

  &.headroom--unpinned {
    transform: translateY(-100%);
  }

  @media print {
    border: 0;
  }
}

.wrmc-header__title {
  font-size: 100%;
}

.wrmc-header__main {
  display: flex;
  justify-content: space-between;
  // align-items: center;
}

.wrmc-header__logo {
  // padding: rem(12) 0;
  display: flex;
  align-items: center;
  position: relative;
  margin-left: -(variables.$spacing-5);
  padding-left: variables.$spacing-5;
  overflow-y: hidden;
}

.wrmc-header__logo-graphic {
  display: flex;
  // flex-direction: column;
  margin: variables.$spacing-3 0;

  @include breakpoints.breakpoint(lg) {
    margin: 0;
  }

  &:hover {
    text-decoration: none;
  }
}

.wrmc-header__logo-background {
  position: absolute;
  top: 0;
  left: -(variables.$spacing-4);
  z-index: -1;

  @include breakpoints.breakpoint(md) {
    left: 0;
  }
}

.wrmc-header__logo-wordmark {
  display: flex;
  flex-direction: column;
  margin-top: variables.$spacing-1;
  margin-left: variables.$spacing-2;
  font-family: variables.$font-family-sans-serif;
  font-weight: 800;
  line-height: variables.$line-height-journey;
  letter-spacing: 2px;
  text-transform: uppercase;

  @include breakpoints.breakpoint(sm) {
    line-height: variables.$line-height-solid;
  }

  // img {
  //   width: fit-content;

  //   &:last-child {
  //     margin-left: rem(14);
  //     margin-top: rem(14);
  //   }
  // }

  span:first-child {
    font-size: variables.$typescale-6;

    @include breakpoints.breakpoint(sm) {
      font-size: variables.$typescale-9;
    }

    @include breakpoints.breakpoint(xl) {
      font-size: functions.rem(64);
    }
  }

  span:last-child {
    // margin-top: $spacing-1;
    font-size: variables.$typescale-2;
    line-height: 1.2;

    @include breakpoints.breakpoint(sm) {
      margin-left: functions.rem(12);
      margin-top: variables.$spacing-2;
      font-size: variables.$typescale-4;
    }

    @include breakpoints.breakpoint(xl) {
      margin-top: variables.$spacing-1;
      font-size: variables.$typescale-4;
    }
  }
}

.wrmc-header__content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row-reverse;

  @include breakpoints.breakpoint(md) {
    position: relative;
  }
}

.wrmc-nav {
  @include mixins.print-hide;

  @include breakpoints.breakpoint(md) {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }
}

.wrmc-nav__handle {
  display: flex;
  align-items: center;
  margin-top: variables.$spacing-4;
  font-size: variables.$typescale-2;
  font-weight: variables.$font-weight-semibold;
  line-height: variables.$line-height-body;
  color: variables.$navy;
  background: none;
  border: 0;

  @include breakpoints.breakpoint(md) {
    margin-top: 0;
    margin-bottom: variables.$spacing-4;
  }

  @include breakpoints.breakpoint(lg) {
    display: none;
  }
}

.wrmc-nav__menu {
  display: none;
  padding-top: variables.$spacing-3;
  padding-bottom: variables.$spacing-2;

  @include breakpoints.breakpoint(md) {
    display: flex;
    flex-direction: column;
  }
}

.wrmc-nav__secondary-menu {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;

  img {
    mix-blend-mode: multiply;
    height: fit-content;
  }

  .wrmc-nav__secondary-menu--links {
    display: flex;
    flex-direction: column;
    margin-left: variables.$spacing-3;

    .button {
      font-size: variables.$typescale-2;
      font-weight: variables.$font-weight-semibold;
      text-transform: uppercase;
      padding: variables.$spacing-1 functions.rem(12);
      margin: variables.$spacing-3 0;
      width: fit-content;
    }

    a:last-child {
      font-size: variables.$typescale-1;
      font-weight: variables.$font-weight-semibold;
      @include type.link-border;
    }
  }
}

.wrmc-nav__bars {
  .wrmc-nav__handle.is-toggled & {
    display: none;
  }
}

.wrmc-nav__times {
  display: none;

  .wrmc-nav__handle.is-toggled & {
    display: inline-block;
  }
}

.wrmc-nav__list {
  display: none;
  justify-content: flex-end;
  align-items: baseline;
  margin-top: variables.$spacing-6;

  @include breakpoints.breakpoint(lg) {
    display: flex;
  }
}

.wrmc-nav__list--sub {
  display: block; // unset display-flex
  position: absolute;
  top: 100%;
  left: 0;
  background-color: variables.$white;
  padding: #{variables.$spacing-3 * 0.5} variables.$spacing-3;
  border: 1px solid variables.$navy;
  transition: opacity 0.2s;
  opacity: 0;
  visibility: hidden;
  z-index: variables.$z-index-school-nav-dropdown;
  min-width: 300px;
}

.wrmc-nav__list--cols {
  column-count: 2;
  min-width: 500px;

  .wrmc-nav__item {
    width: 100%;
    display: inline-block;
  }
}

.wrmc-nav__item {
  position: relative;
  display: block;
  transition: opacity 0.2s;

  &:not(:last-child):not(.wrmc-nav__item--sub) {
    margin-right: variables.$spacing-5;
  }

  &:focus-within,
  &:hover {
    .wrmc-nav__list--sub {
      visibility: visible;
      opacity: 1;
    }
  }

  .school-search__handle {
    padding: 0;
    padding-bottom: variables.$spacing-1;
    font-size: variables.$typescale-2;
    font-weight: variables.$font-weight-semibold;
  }
}

.wrmc-nav__link {
  display: block;
  // padding-bottom: $spacing-1;
  color: variables.$navy;
  font-size: variables.$typescale-2;
  font-weight: variables.$font-weight-semibold;
  opacity: 0.8;
  transition:
    opacity 0.2s,
    border-color 0.2s;

  &:hover {
    text-decoration: none;
    opacity: 1;
  }
}

.wrmc-nav__link--sub {
  padding-top: variables.$spacing-3 * 0.5;
  padding-bottom: variables.$spacing-3 * 0.5;
  font-size: variables.$typescale-2;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.wrmc-nav__link--top {
  border-bottom: 4px solid transparent;

  .wrmc-nav__item:focus-within &,
  .wrmc-nav__item:hover & {
    @include mixins.themify(border-color);
  }
}

.wrmc-nav__link--active {
  @include mixins.themify(border-color);
}

.wrmc-nav__link--util {
  font-size: variables.$typescale-2;
  border-top: 4px solid transparent;

  &:hover,
  &:focus {
    text-decoration: none;
    @include mixins.themify(border-top-color);
  }
}

.wrmc-drawer.drawer {
  .drawer__header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: variables.$spacing-5;
  }

  .wrmc-nav__secondary-menu {
    justify-content: flex-start;
    padding-left: variables.$spacing-3;
    padding-top: variables.$spacing-3;

    @include breakpoints.breakpoint(md) {
      display: none;
    }
  }

  .drawer__content {
    background-color: variables.$wrmc-blue-light;
  }

  .drawer-nav__item {
    border-top-color: variables.$white;
  }

  .drawer__close,
  .drawer-nav__link {
    color: variables.$navy;
  }
}
