@use '../core/variables';
@use '../mixins/breakpoints';

@use 'sass:color';
@use 'sass:map';

.show-teaser {
  display: flex;
  flex-direction: column;
  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  padding: variables.$spacing-4 variables.$spacing-3;

  @include breakpoints.breakpoint(md) {
    flex-direction: row;
    width: 100%;
    margin: 0;
  }
}

.show-time {
  margin-bottom: variables.$spacing-2;

  @include breakpoints.breakpoint(md) {
    flex: 0 0 30%;
    width: 30%;
    margin-bottom: 0;
  }
}

.show-details {
  h3 {
    font-size: variables.$typescale-6;
    font-family: variables.$font-family-sans-serif;
    margin-bottom: variables.$spacing-1;
  }

  .show-details__hosts {
    font-size: variables.$typescale-3;
    line-height: variables.$line-height-heading;
  }

  .show-details__description {
    font-size: variables.$typescale-2;
    margin: variables.$spacing-3 0;
  }

  .show-details__genres {
    margin-top: variables.$spacing-3;
    display: flex;

    .show-details__genre {
      width: fit-content;
      padding: variables.$spacing-2;
      background-color: variables.$navy;
      color: variables.$white;
      font-size: variables.$typescale-1;
      font-weight: variables.$font-weight-semibold;
      line-height: variables.$line-height-heading;
      text-transform: uppercase;

      &:not(:first-of-type) {
        margin-left: variables.$spacing-2;
      }

      &:hover {
        text-decoration: none;
      }

      @each $genre, $genre-theme in variables.$wrmc-genre-colors {
        &.#{$genre} {
          background-color: map.get($genre-theme, 'bg-color');
          color: map.get($genre-theme, 'color');

          &:hover {
            background-color: color.adjust(
              map.get($genre-theme, 'bg-color'),
              $lightness: 5%
            );
          }
        }
      }
    }
  }
}

.weekly-schedule {
  .weekly-schedule__show-teaser {
    display: none;
    position: absolute;
    z-index: 1;
    width: 50vw;
    max-width: 468px;
    margin-top: variables.$spacing-2;
    background-color: variables.$white;
    filter: drop-shadow(0 0 variables.$spacing-2 rgb(0 0 0 / 0.2));

    &.align-top {
      bottom: calc(100% + #{variables.$spacing-2});
    }

    &.align-right {
      right: 0;
    }

    &.align-top-right {
      bottom: calc(100% + #{variables.$spacing-2});
      right: 0;
    }

    &.show-teaser {
      flex-direction: column;
      font-weight: variables.$font-weight-normal;
      letter-spacing: initial;
      padding: variables.$spacing-3;

      .show-time {
        font-size: variables.$typescale-3;
        font-weight: variables.$font-weight-normal;
        line-height: variables.$line-height-body;
        margin-bottom: variables.$spacing-4;
      }

      .show-details__description {
        margin-bottom: 0;
      }

      .show-details__close {
        width: fit-content;
        position: absolute;
        top: 0;
        right: 0;
        background: none;
        border: 0;
        color: variables.$navy;
        padding: variables.$spacing-3;
        font-size: variables.$typescale-2;
        font-weight: normal;
        letter-spacing: initial;
      }
    }
  }
}
