@use '../core/functions';
@use '../core/variables';
@use '../mixins/breakpoints';

@use 'sass:math';

.paragraph--top-thirty-songs {
  justify-content: center;

  .row {
    row-gap: variables.$spacing-6;

    @include breakpoints.breakpoint(md) {
      row-gap: variables.$spacing-8;
    }
  }
}

.songs {
  img {
    width: 100%;
  }

  ol {
    counter-reset: ol;

    > li {
      counter-increment: ol;
      position: relative;

      &:before {
        content: '0' counter(ol);
        position: absolute;
        z-index: 6;
        font-size: functions.rem(18);
        font-weight: variables.$font-weight-semibold;
        line-height: variables.$line-height-solid;
      }

      &:nth-child(n + 10):before {
        content: counter(ol);
      }

      .song__trapezoid-marker {
        position: absolute;
        z-index: 5;
        width: variables.$spacing-5;
        border-bottom: variables.$typescale-5 solid variables.$wrmc-blue-light;
        border-left: 0 solid transparent;
        border-right: variables.$typescale-1 solid transparent;
      }
    }
  }

  .song__album-placeholder {
    position: relative;

    &:before {
      content: '';
      display: block;
      padding-top: math.percentage(math.div(1, 1));
      background-color: variables.$wrmc-pink;
    }

    .song__album-placeholder-image {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      padding: variables.$spacing-2;

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }

  p {
    font-size: variables.$typescale-2;
    font-weight: variables.$font-weight-bold;

    &.song__artist {
      margin-top: variables.$spacing-1;

      @include breakpoints.breakpoint(md) {
        margin-top: variables.$spacing-2;
      }
    }

    &.song__title {
      color: variables.$wrmc-pink-darker;
      line-height: variables.$line-height-heading;
    }
  }
}
