@use '../core/functions';
@use '../core/variables';

.status-bar {
  display: flex;
  align-items: center;
  background-color: variables.$black;
  color: variables.$white;
  overflow: hidden;

  .status-bar__broadcast-status {
    font-family: variables.$font-family-sans-serif;
    font-size: variables.$typescale-9;
    font-weight: variables.$font-weight-light;
    color: variables.$wrmc-green;
    text-transform: uppercase;
    line-height: variables.$line-height-solid;
    padding: 0 functions.rem(12);
  }

  .status-bar-divider {
    position: absolute;
    width: 100%;
    background-color: rgba(variables.$wrmc-blue-light, 0.5);
    margin: 0;
  }

  .status-bar-content {
    width: calc(100% - 95px);
    // min-width: 1344px;
    overflow: auto;

    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */

    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
      display: none;
    }

    .status-bar-content__wrapper {
      width: max-content;
    }
  }

  .status-bar-row {
    display: flex;

    .status-bar-section {
      padding: variables.$spacing-2 functions.rem(12);

      &.section-show {
        padding-right: variables.$spacing-4;
        border-right: 1px solid rgba(variables.$wrmc-blue-light, 0.5);
      }

      &.section-playlist {
        .status-bar-section__playlist-items {
          display: flex;
          min-width: max-content;
        }
      }

      dd {
        color: variables.$wrmc-blue-light;
        font-family: variables.$font-family-sans-serif;
        font-size: variables.$typescale-2;
        font-weight: variables.$font-weight-semibold;
        line-height: variables.$line-height-solid;
        text-transform: uppercase;
        margin-bottom: variables.$spacing-1;
      }

      dt {
        font-size: variables.$typescale-2;
        font-weight: variables.$font-weight-bold;
        line-height: variables.$line-height-solid;

        em {
          color: variables.$wrmc-pink;
          padding-left: variables.$spacing-1;
        }

        a {
          color: variables.$white;
          border-bottom: 0.5px solid currentcolor;
          text-decoration: none;

          &:hover {
            border-bottom-color: transparent;
            text-decoration: none;
          }
        }

        p {
          font-size: inherit;
          line-height: inherit;
        }
      }

      .text-separator {
        color: variables.$wrmc-blue-light;
        font-size: functions.rem(10);
        padding: 0 variables.$spacing-3;
      }
    }
  }
}
