@use '../core/variables';
@use '../mixins/breakpoints';

@use 'sass:color';
@use 'sass:math';
@use 'sass:map';

.weekly-schedule {
  position: relative;

  .weekly-schedule__column {
    width: math.percentage(math.div(1, 7));
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: variables.$spacing-2;

    @include breakpoints.breakpoint(lg) {
      padding-right: variables.$spacing-5;
    }

    &,
    button {
      font-size: variables.$typescale-1;
      font-weight: variables.$font-weight-semibold;
      line-height: variables.$line-height-heading;
      letter-spacing: variables.$letter-spacing;
    }

    button:hover,
    button:focus {
      .weekly-schedule__show {
        background-color: color.adjust(variables.$navy, $lightness: -5%);
      }
    }

    h2 {
      color: variables.$black;
      font-family: variables.$font-family-sans-serif;
      font-size: variables.$typescale-2;
      font-weight: variables.$font-weight-semibold;
      line-height: variables.$line-height-body;
      text-transform: uppercase;
      margin-bottom: variables.$spacing-6;
    }

    .weekly-schedule__show-wrapper {
      position: relative;
      margin-bottom: variables.$spacing-4;

      @each $genre, $genre-theme in variables.$wrmc-genre-colors {
        &.#{$genre} {
          .weekly-schedule__show {
            background-color: map.get($genre-theme, 'bg-color');
            color: map.get($genre-theme, 'color');
          }

          button:hover,
          button:focus,
          &:focus-within {
            .weekly-schedule__show {
              background-color: color.adjust(
                map.get($genre-theme, 'bg-color'),
                $lightness: 5%
              );
            }
          }
        }
      }

      &,
      button {
        width: 100%;

        &:focus,
        &:hover {
          .weekly-schedule__show-teaser {
            display: block;
          }

          .weekly-schedule__show {
            svg {
              display: block;
            }
          }
        }
      }

      &:focus-within {
        .weekly-schedule__show-teaser {
          display: block;
        }

        .weekly-schedule__show {
          svg {
            display: block;
          }
        }
      }

      .weekly-schedule__show {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        color: variables.$white;
        // background-color: $navy;

        time {
          width: 100%;
          text-align: center;
          border-bottom: 1px solid variables.$white;
          padding: variables.$spacing-1 0;
        }

        svg {
          display: none;
          position: absolute;
          top: 0;
          right: 0;
        }

        h3 {
          width: 100%;
          padding: variables.$spacing-2;
          font-family: variables.$font-family-sans-serif;
          font-size: variables.$typescale-1;
          font-weight: variables.$font-weight-semibold;
          text-transform: capitalize;
          letter-spacing: initial;
        }
      }
    }

    .weekly-schedule__time {
      color: variables.$gray;
      margin-bottom: variables.$spacing-4;
    }
  }
}
