@use '../core/variables';
@use '../mixins/breakpoints';

////
/// Column count utilities. Useful for basic masonry layouts.
////

.col-count-md-2 {
  @include breakpoints.breakpoint(md) {
    column-count: 2;
  }
}

.col-count-xl-3 {
  @include breakpoints.breakpoint(xl) {
    column-count: 3;
  }
}

.col-count-md-2,
.col-count-xl-3 {
  column-gap: variables.$grid-gutter-width;

  @include breakpoints.breakpoint(lg) {
    column-gap: variables.$grid-gutter-width-lg;
  }
}
