////
/// Column count utilities. Useful for basic masonry layouts.
////

.col-count-md-2 {
  @include breakpoint(md) {
    column-count: 2;
  }
}

.col-count-xl-3 {
  @include breakpoint(xl) {
    column-count: 3;
  }
}

.col-count-md-2,
.col-count-xl-3 {
  column-gap: $grid-gutter-width;

  @include breakpoint(lg) {
    column-gap: $grid-gutter-width-lg;
  }
}
