////
/// Hover transitions
////

.hover-fadein {
  opacity: 0.5;
  transition: opacity 0.2s;

  &:hover {
    opacity: 1;
  }
}

.hover-fadeout {
  transition: opacity 0.2s;

  &:hover {
    opacity: 0.5;
  }
}
