@use '../core/variables';
@use '../mixins/breakpoints';

////
/// Flexbox order utilities to change element orders at breakpoints
////

@each $breakpoint, $variant in variables.$responsive-variants {
  @include breakpoints.breakpoint($breakpoint) {
    .order#{$variant}-first {
      order: -1;
    }

    .order#{$variant}-last {
      order: 9999;
    }

    @for $i from 0 through variables.$grid-columns {
      .order#{$variant}-#{$i} {
        order: $i;
      }
    }
  }
}
