@use '../core/variables';
@use '../mixins/breakpoints';

////
/// Sizing utilities like width and height
////

.w-md-40 {
  @include breakpoints.breakpoint(md) {
    width: 40%;
  }
}

.w-100 {
  width: 100%;
}

@each $breakpoint, $variant in variables.$responsive-variants {
  @include breakpoints.breakpoint($breakpoint) {
    .w#{$variant}-50 {
      width: 50%;
    }
  }
}
