@use '../components/college-homepage-grid-header';
@use '../core/functions';
@use '../core/variables';
@use '../mixins/breakpoints';
@use '../mixins/type';

////
/// Mixed text/font style utilities like font sizes, text align, font families, font weights, etc
////

///
/// font sizes
///

@each $name, $size in variables.$typescale {
  .f#{$name} {
    font-size: $size;
  }
}

///
/// text alignment
///

@each $breakpoint, $variant in variables.$responsive-variants {
  @include breakpoints.breakpoint($breakpoint) {
    .text#{$variant}-left {
      text-align: left !important;
    }

    .text#{$variant}-right {
      text-align: right !important;
    }

    .text#{$variant}-center {
      text-align: center !important;
    }
  }
}

///
/// text colors
///

.text-white {
  color: variables.$white;
}

.text-gray {
  color: variables.$gray;
}

.text-caps {
  @include type.small-caps;
}

.text-uppercase {
  text-transform: uppercase;
}

///
/// font family
///

.font-sans-serif {
  font-family: variables.$font-family-sans-serif;
}

.font-serif {
  font-family: variables.$font-family-serif;
}

///
/// alt heading treatments
///

///
/// extra large headings
///

// TODO: do we need to add these font sizes to typescale?

.h0 {
  @include type.h0;
}

///
/// links
///

.link-underline {
  @include type.link-border;
}

.link-external {
  @include type.link-external;
}

///
/// pronouns
///

.pronouns {
  font-family: variables.$font-family-serif;
  font-size: variables.$typescale-7;
  line-height: variables.$line-height-heading;

  @include breakpoints.breakpoint(md) {
    font-size: functions.rem(32);
  }

  @include breakpoints.breakpoint(lg) {
    font-size: variables.$typescale-8;
  }
}

///
/// lead
///

.lead {
  font-size: variables.$lead-font-size;
  line-height: variables.$lead-line-height;
  margin-bottom: variables.$lead-margin-bottom;

  a {
    @include type.link-border;
  }
}

.lead--admissions-lp {
  font-size: functions.rem(32);
  line-height: variables.$line-height-heading;
  color: variables.$white;

  @include breakpoints.breakpoint(lg) {
    font-size: variables.$typescale-9;
  }
}

.davis-lead {
  font-size: variables.$typescale-6;
  font-weight: variables.$font-weight-light;
  background-color: variables.$white;
  border-top: variables.$spacing-2 solid variables.$black;
  padding: variables.$spacing-2;
  margin-left: variables.$spacing-3;
  margin-right: variables.$spacing-3;

  @include breakpoints.breakpoint(sm) {
    font-size: functions.rem(32);
  }

  @include breakpoints.breakpoint(md) {
    padding: variables.$spacing-2 variables.$spacing-3;
  }

  @include breakpoints.breakpoint(lg) {
    padding: variables.$spacing-3 variables.$spacing-5;
    margin-left: variables.$spacing-5;
    margin-right: variables.$spacing-5;
  }
}

///
/// Line height
///

.lh-solid {
  line-height: variables.$line-height-solid;
}

.lh-heading {
  line-height: variables.$line-height-heading;
}

.lh-body {
  line-height: variables.$line-height-body;
}

.lh6 {
  line-height: variables.$typescale-6;
}

///
/// font weight
///

.font-normal {
  font-weight: variables.$font-weight-normal;
}

.font-medium {
  font-weight: variables.$font-weight-medium;
}

.font-semibold {
  font-weight: variables.$font-weight-semibold;
}

.font-bold,
// text-bold is deprecated
.text-bold {
  font-weight: variables.$font-weight-bold;
}

.whitespace-no-wrap {
  white-space: nowrap;
}
