@mixin button-reset() {
  border: 0;
  background: transparent;
  font-size: $btn-font-size;
  line-height: $btn-line-height;
}

@mixin button-base() {
  display: inline-block;
  font-family: $font-family-base;
  text-align: center;
  border: $btn-border-width solid $btn-border-color;
  cursor: pointer;
  background: transparent;
  color: $btn-color;
  transition: $btn-transition;
  padding: $btn-padding-y $btn-padding-x;
  font-size: $btn-font-size;
  line-height: $btn-line-height;
  border-radius: $btn-border-radius;
  white-space: nowrap;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

@mixin button-theme($name, $themes: $btn-themes) {
  $theme: map-get($themes, $name);
  $bg: map-get($theme, 'bg');
  $color: map-get($theme, 'color');
  $border-color: map-get($theme, 'border-color');
  $hover-color: map-get($theme, 'hover-color');
  $hover-bg: map-get($theme, 'hover-bg');
  $hover-border-color: map-get($theme, 'hover-border-color');
  background-color: $bg;
  color: $color;
  border-color: $border-color;

  &:hover,
  &:focus {
    background-color: $hover-bg;
    color: $hover-color;
    border-color: $hover-border-color;
  }
}

@mixin button-size($size: 'default', $sizes: $btn-sizes) {
  $btn-map: map-get($sizes, $size);
  $font-size: map-get($btn-map, 'font-size');
  $padding-y: map-get($btn-map, 'padding-y');
  $padding-x: map-get($btn-map, 'padding-x');
  padding: $padding-y $padding-x;
  font-size: $font-size;
}

@mixin button-disabled() {
  opacity: $btn-disabled-opacity;
  pointer-events: none;
}
