@use '../core/variables';
@use 'breakpoints';

@mixin link-border() {
  border-bottom: 1px solid currentcolor;
  text-decoration: none;

  &:hover {
    border-bottom-color: transparent;
    text-decoration: none;
  }
}

@mixin link-external() {
  &:after {
    display: inline-block;
    content: url('/src/images/external-link.svg');
    height: 1em;
    width: 1em;
    font-size: variables.$typescale-2;
    margin-left: variables.$spacing-1;
  }
}

@mixin small-caps {
  font-family: variables.$font-family-sans-serif;
  font-size: variables.$typescale-2;
  text-transform: uppercase;
  letter-spacing: variables.$letter-spacing;
  font-weight: variables.$font-weight-semibold;
}

@mixin break-words {
  word-break: break-word;
  hyphens: auto;
}

@mixin h0 {
  font-size: variables.$typescale-7;
  font-weight: variables.$font-weight-normal;
  line-height: variables.$line-height-heading;
  font-family: variables.$font-family-serif;

  @include breakpoints.breakpoint(md) {
    font-size: variables.$typescale-8;
  }
}

@mixin h1 {
  font-size: variables.$typescale-8;
  line-height: variables.$line-height-heading;
  font-family: variables.$font-family-serif;

  @include breakpoints.breakpoint(md) {
    font-size: variables.$typescale-9;
  }

  @include breakpoints.breakpoint(lg) {
    font-size: variables.$typescale-10;
  }
}

@mixin h2 {
  font-size: variables.$typescale-6;
  line-height: variables.$line-height-heading;
  font-family: variables.$font-family-serif;

  @include breakpoints.breakpoint(lg) {
    font-size: variables.$typescale-7;
  }
}

@mixin h3 {
  font-size: variables.$typescale-5;
  line-height: variables.$line-height-heading;
  font-family: variables.$font-family-serif;
}

@mixin h4 {
  font-size: variables.$typescale-4;
  line-height: variables.$line-height-heading;
  font-family: variables.$font-family-serif;
}

@mixin h5 {
  font-size: variables.$typescale-3;
  line-height: variables.$line-height-heading;
  font-family: variables.$font-family-serif;
}

@mixin h6 {
  font-size: variables.$typescale-2;
  line-height: variables.$line-height-heading;
  font-family: variables.$font-family-serif;
}

@mixin links-current {
  a {
    color: currentcolor;
  }
}

@mixin gray-label {
  font-size: variables.$typescale-1;
  font-family: variables.$font-family-sans-serif;
  font-weight: variables.$font-weight-medium;
  text-transform: uppercase;
  letter-spacing: variables.$letter-spacing;
  color: variables.$gray;
}
