<div class="mb-5 d-flex bg-gray-lighter py-2 flex-wrap">
  <a href="" class="button button--sm">
    {% include 'icon.twig' with {
      name: 'times'
    } %}Photograph
  </a>
  <a href="" class="button button--sm">
    {% include 'icon.twig' with {
      name: 'times'
    } %}1980
  </a>
  <a href="" class="ml-auto button button--sm">
    {% include 'icon.twig' with {
      name: 'redo',
      class: 'mr-1'
    } %}Clear Filters
  </a>
</div>
