<header class="admissions-lp-header py-3 py-md-4" style="background:{{background}}">

  <div class="container">

    <div class="admissions-lp-header__main">

      <div class="admissions-lp-header__logo">
        <a href="">
          <img class="pr-3 mr-3 pr-md-5 mr-md-5" src="/src/images/college-logo-white.svg" srcset="/src/images/college-logo-white.svg 180w" sizes="(min-width: 768px) 180px, 120px" alt="Logo for Middlebury College"/>
          <span class="admissions-lp-header__logo-text text-white font-bold">Admissions</span>
        </a>
      </div>
    </div>
  </div>
</header>
