<article class="clearfix">

  <div class="float-right ml-4 mb-4">
    <a href="">
      <figure class="media">
        {% include 'img.twig' with { name: 'story_teaser' } %}
      </figure>
    </a>
  </div>

  <h3 class="h3 mb-1">
    <a href="">
      Generic content teaser with title, blurb, and image
    </a>
  </h3>

  <p class="f3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, qui corrupti aliquid modi soluta optio error vero magnam rerum, eum commodi aperiam fugit? Hic, assumenda impedit dolore numquam veritatis necessitatibus.</p>

</article>
