<nav class="breadcrumb {{light ? 'breadcrumb--light' : ''}}" aria-label="Breadcrumb">

  <ol class="breadcrumb__list">
    {% for item in items %}
      <li class="breadcrumb__item">
        <a href="" class="breadcrumb__link">{{item.text}}</a>
      </li>
    {% else %}
      <li class="breadcrumb__item">
        <a href="" class="breadcrumb__link">Middlebury</a>
      </li>
    {% endfor %}
  </ol>
</nav>
