<div class="cost-calculator__table js-calculator-table">
  <table class="table js-omit-table">
    <thead>
      <tr>
        <th colspan="2">
          Fall Semester Charges
        </th>
        <th colspan="2">
          Fall Semester Credits
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <label for="cost-calculator-fall-tuition" class="label pr-2">Tuition</label>
          <input id="cost-calculator-fall-tuition" name="tuition" type="text" class="form-control js-charges" value="0">
        </td>
        <td>
          <label for="cost-calculator-fall-midd-grant" class="label pr-2">Middlebury Grant</label>
          <input id="cost-calculator-fall-midd-grant" name="midd-grant" type="text" class="form-control js-credits" value="0">
        </td>
      </tr>
      <tr>
        <td>
          <label for="cost-calculator-fall-room-board" class="label pr-2">Room and Board</label>
          <input id="cost-calculator-fall-room-board" name="room-board" type="text" class="form-control js-charges" value="0">
        </td>
        <td>
          <label for="cost-calculator-fall-scholarship" class="label pr-2">Middlebury Scholarship</label>
          <input id="cost-calculator-fall-scholarship" name="scholarship" type="text" class="form-control js-credits" value="0">
        </td>
      </tr>
      <tr>
        <td>
          <label for="cost-calculator-fall-activity-fee" class="label pr-2">Student Activity Fee</label>
          <input id="cost-calculator-fall-activity-fee" name="activity-fee" type="text" class="form-control js-charges" value="0">
        </td>
        <td>
          <label for="cost-calculator-fall-student-loans" class="label pr-2">Student Loans</label>
          <input id="cost-calculator-fall-student-loans" name="student-loans" type="text" class="form-control js-credits" value="0">
        </td>
      </tr>
      <tr>
        <td>
          <label for="cost-calculator-fall-health-insurance" class="label pr-2">Student Health Insurance (estimate)</label>
          <input id="cost-calculator-fall-health-insurance" name="health-insurance" type="text" class="form-control js-charges" value="0">
        </td>
        <td>
          <label for="cost-calculator-fall-parent-loan" class="label pr-2">Parent Loan</label>
          <input id="cost-calculator-fall-parent-loan" name="parent-loan" type="text" class="form-control js-credits" value="0">
        </td>
      </tr>
      <tr>
        <td>
          <label for="cost-calculator-fall-other-expenses" class="label pr-2">Other expenses (estimate) - books, course marterials, supplies and equipment</label>
          <input id="cost-calculator-fall-other-expenses" name="other-expenses" type="text" class="form-control js-charges" value="0">
        </td>
        <td>
          <label for="cost-calculator-fall-stud-employ" class="label pr-2">Student Employment</label>
          <input id="cost-calculator-fall-stud-employ" name="stud-employ" type="text" class="form-control js-credits" value="0">
        </td>
      </tr>
      <tr>
        <td>
          <label for="cost-calculator-fall-transportation" class="label pr-2">Transportation  (estimate) - varies by location</label>
          <input id="cost-calculator-fall-transportation" name="transportation" type="text" class="form-control js-charges" value="0">
        </td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>
          <label for="cost-calculator-fall-personal-expenses" class="label pr-2">Miscellaneous Personal Expenses (estimate)</label>
          <input id="cost-calculator-fall-personal-expenses" name="personal-expenses" type="text" class="form-control js-charges" value="0">
        </td>
          <td>&nbsp;</td>
      </tr>
      <tr>
        <td>
          <label for="cost-calculator-fall-total-charges" class="label font-bold pr-2">Total Fall Semester Charges</label>
          <input class="js-total-charges" id="cost-calculator-fall-total-charges" disabled="disabled" name="total-charges" type="text" value="0">
        </td>
          <td>
          <label for="cost-calculator-fall-total-credis" class="label font-bold pr-2">Total Fall Semester Credits</label>
          <input class="js-total-credits" id="cost-calculator-fall-total-credits" disabled="disabled" name="total-credits" type="text" value="0">
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="cost-calculator__table">
  <table class="table js-omit-table">
    <thead>
      <tr>
        <th colspan="2">
          Spring Semester Charges
        </th>
        <th colspan="2">
          Spring Semester Credits
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <label for="cost-calculator-spring-tuition" class="label pr-2">Tuition</label>
          <input id="cost-calculator-spring-tuition" name="tuition" type="text" class="form-control js-charges" value="0">
        </td>
        <td>
          <label for="cost-calculator-spring-midd-grant" class="label pr-2">Middlebury Grant</label>
          <input id="cost-calculator-spring-midd-grant" name="midd-grant" type="text" class="form-control js-credits" value="0">
        </td>
      </tr>
      <tr>
        <td>
          <label for="cost-calculator-spring-room-board" class="label pr-2">Room and Board</label>
          <input id="cost-calculator-spring-room-board" name="room-board" type="text" class="form-control js-charges" value="0">
        </td>
        <td>
          <label for="cost-calculator-spring-scholarship" class="label pr-2">Middlebury Scholarship</label>
          <input id="cost-calculator-spring-scholarship" name="scholarship" type="text" class="form-control js-credits" value="0">
        </td>
      </tr>
      <tr>
        <td>
          <label for="cost-calculator-spring-activity-fee" class="label pr-2">Student Activity Fee</label>
          <input id="cost-calculator-spring-activity-fee" name="activity-fee" type="text" class="form-control js-charges" value="0">
        </td>
        <td>
          <label for="cost-calculator-spring-student-loans" class="label pr-2">Student Loans</label>
          <input id="cost-calculator-spring-student-loans" name="student-loans" type="text" class="form-control js-credits" value="0">
        </td>
      </tr>
      <tr>
        <td>
          <label for="cost-calculator-spring-health-insurance" class="label pr-2">Student Health Insurance (estimate)</label>
          <input id="cost-calculator-spring-health-insurance" name="health-insurance" type="text" class="form-control js-charges" value="0">
        </td>
        <td>
          <label for="cost-calculator-spring-parent-loan" class="label pr-2">Parent Loan</label>
          <input id="cost-calculator-spring-parent-loan" name="parent-loan" type="text" class="form-control js-credits" value="0">
        </td>
      </tr>
      <tr>
        <td>
          <label for="cost-calculator-spring-other-expenses" class="label pr-2">Other expenses (estimate) - books, course marterials, supplies and equipment</label>
          <input id="cost-calculator-spring-other-expenses" name="other-expenses" type="text" class="form-control js-charges" value="0">
        </td>
        <td>
          <label for="cost-calculator-spring-stud-employ" class="label pr-2">Student Employment</label>
          <input id="cost-calculator-spring-stud-employ" name="stud-employ" type="text" class="form-control js-credits" value="0">
        </td>
      </tr>
      <tr>
        <td>
          <label for="cost-calculator-spring-transportation" class="label pr-2">Transportation  (estimate) - varies by location</label>
          <input id="cost-calculator-spring-transportation" name="transportation" type="text" class="form-control js-charges" value="0">
        </td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>
          <label for="cost-calculator-spring-personal-expenses" class="label pr-2">Miscellaneous Personal Expenses (estimate)</label>
          <input id="cost-calculator-spring-personal-expenses" name="personal-expenses" type="text" class="form-control js-charges" value="0">
        </td>
          <td>&nbsp;</td>
      </tr>
      <tr>
        <td>
          <label for="cost-calculator-spring-total-charges" class="label font-bold pr-2">Total Spring Semester Charges</label>
          <input id="cost-calculator-spring-total-charges" disabled="disabled" name="total-charges" type="text" value="0">
        </td>
          <td>
          <label for="cost-calculator-spring-total-credis" class="label font-bold pr-2">Total Spring Semester Credits</label>
          <input id="cost-calculator-spring-total-credits" disabled="disabled" name="total-credits" type="text" value="0">
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="cost-calculator__table--annual-amount">
  <table class="table">
    <thead class="sr-only">
      <tr>
        <th>
          Annual Budgeted Amount
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <label for="cost-calculator-annual-amount" class="label f3 font-bold pr-2">Annual Budgeted Amount</label>
          <input class="f3" id="cost-calculator-annual-amount" disabled="disabled" name="annual-amount" type="text" value="0">
        </td>
      </tr>
    </tbody>
  </table>
  <input class="button button--primary mt-2" name="reset-button" onclick="reset()" type="reset" value="Clear All">
</div>