<div class="dropdown" data-dropdown>
  <button
    class="dropdown__button"
    aria-haspopup="true"
    aria-expanded="false"
    data-dropdown-button
  >
    {{label}}
    {% include 'icon.twig' with { name: 'chevron-down', class: 'dropdown__icon' } %}
  </button>
  <ul class="dropdown__list" data-dropdown-menu>
    {% for item in items %}
      <li class="dropdown__item">
        <a href="{{item.href}}" class="dropdown__link">
          {{item.label}}
        </a>
      </li>
    {% endfor %}
  </ul>
</div>
