<article class="homepage-hero paragraph paragraph--full" aria-label="Featured: Water Sanitation Research and Development, India" id="midd-homepage-hero-title">
  <div class="container px-0">
    <figure class="homepage-hero__media">
      {% include 'img.twig' with { name: img_style } %}
    </figure>
    <section class="homepage-hero__content{% if align == 'top' %} homepage-hero__content--align-top{% endif %}" aria-labelledby="midd-homepage-hero-title">
      <div class="homepage-hero__body">
        <h1 class="homepage-hero__title">
          <a href="#" class="homepage-hero__link">Water Sanitation Research and Development, India</a>
        </h1>
        <p class="homepage-hero__text">Access to safe water and adequate sanitation services has proven to be one of the most efficient ways of improving human health.</p>
        <a href="#" class="button button--secondary button--outline button--sm">Read More<span class="sr-only"> of "Water Sanitation Research and Development, India"</span></a>
      </div>
    </section>
  </div>
</article>
