{% if pulled_up %}
    <div class="paragraph--full paragraph--lead-pulled-up">
        <div class="container px-0">
{% endif %}
    <p class="{{pulled_up and theme == "uwc" ? "davis-lead" : "lead paragraph--lead"}} {{class}}">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste iusto blanditiis dolorem illum accusantium!</p>
{% if pulled_up %}
        </div>
    </div>
{% endif %} 