<header class="miis-header{% if midd_header_transparent %} miis-header--transparent{% endif %}">
  <div class="miis-header__container">

    <div class="miis-header__brand">
      <a href="">
        <img src="/src/images/miis-shield.svg" class="miis-header__shield" alt="Logo for Middlebury Institute of International Studies at Monterey">
        <img src="/src/images/miis-wordmark.svg" class="miis-header__wordmark" alt="Middlebury Institute of International Studies at Monterey">
        <span class="sr-only">Middlebury Institute of International Studies at Monterey</span>
      </a>
    </div>

  </div>
</header>
