<address>
  <p class="f2 mb-1">
    <strong>Center for Careers and Internships</strong><br>
    Adirondack House<br>
    534 College Street<br>
    Middlebury, Vermont 05753
  </p>
  <p class="f2 mb-1">
    <a href="mailto:" class="link-underline">internationalprograms<wbr>@middlebury.edu</a><br>
    <a href="tel:" class="link-underline">802-443-5100</a>
  </p>

  {% include 'social-links.twig' %}
</address>
