<aside class="">
  <p class="f2 mb-1">
    <strong>{{title|default("Understand Your Departmental Risk and How to Manage It")}}</strong>
  </p>
  {% if text %}
  <p class="f2">{{text|default("September 25")}}</p>
  {% endif %}
  {% if link_text and link_href %}
    <a href="{{link_href}}" class="mt-4 button button--sm button--primary">{{link_text|default("Register Now")}}</a>
  {% endif %}
</aside>
