{% embed 'sidebar-layout.twig' %}
  {% block nav %}

    <div class="row">

      <div class="col-sm-5 col-lg-12 mb-3 mb-md-0 mb-lg-4">
        {% include 'img.twig' with {
          name: 'profile_detail'
        } %}
      </div>

      <div class="col-sm-7 col-lg-12">
        <dl class="f2">
          <dt class="font-semibold">Office</dt>
          <dd class="mb-2">E6-364</dd>
          <dt class="font-semibold border-top">Tel</dt>
          <dd class="mb-2">
            <a href="tel:6173247535" class="link-underline">617-324-7535</a>
          </dd>
          <dt class="font-semibold border-top">Email</dt>
          <dd class="mb-2">
            <a href="mailto:blevinger@middlebury.edu" class="link-underline">blevinger<wbr>@middlebury.edu</a>
          </dd>
          <dt class="font-semibold border-top">Zoom</dt>
          <dd class="mb-2">
            <a href="#" class="link-underline">middlebury.zoom.us/my/ariterkel</a>
          </dd>
          <dt class="font-semibold border-top">Office Hours</dt>
          <dd class="mb-md-3">Tuesdays 3-4pm<br>Thursdays 11am-12pm</dd>
        </dl>
      </div>

    </div>

  {% endblock %}
  {% block content %}
    {% set links = random([['Links'], ['Social Links'], ['Links', 'Social Links']]) %}
    {% set departments = ['Biology', 'Dean of Students', 'Head of Sciences'] %}
    <dl class="f2 mt-md-2 mt-lg-0 profile-detail__programs">
      <dt class="font-semibold">Additional Programs</dt>
      <dd>
        {% for department in departments %}
          <span>
            <a href="#">{{department}}</a>
          </span>
        {% endfor %}
      </dd>
    </dl>

    <div class="typography mb-5">
      <p>Pellentesque nibh felis, eleifend id, commodo in, interdum vitae, leo. Praesent eu elit. Ut eu ligula. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Maecenas elementum augue nec nisl. Proinauctor lorem at nibh. Curabitur nulla purus, feugiat id, elementum in, lobortis quis, pede. Vivamus sodales adipiscing sapien. Vestibulum posuere nulla eget wisi.</p>
      <p>Integer volutpat ligula eget enim. Suspendisse vitae arcu. Pellentesque nibh felis, eleifend id, commodo in, interdum vitae, leo. Praesent eu elit. Ut eu ligula. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Maecenas elementum augue nec nisl. Proin auctor lorem at nibh. Curabitur nulla purus, feugiat id, elementum in, lobortis quis, pede. Vivamus sodales adipiscing sapien. Vestibulum posuere nulla eget wisi.</p>
    </div>

    <div role="table" class="w-100 profile-detail__link-table">
      <div role="row" class="d-flex">
        {% for name in links %}
          <div role="cell">
            <strong class="f2 d-block">{{ name }}</strong>
            {% if name == 'Links' %}
              <ul class="f2">
                <li>
                  <a href="#" class="link-underline">Curriculum Vitae</a>
                </li>
                <li>
                  <a href="#" class="link-underline">aaronsmithisthebest.com</a>
                </li>
              </ul>
            {% else %}
              {% include 'social-links.twig' with {
								items: social_links
							} %}
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>

    {% include '../paragraphs/course-list.twig' with {
      course_title: 'Courses Taught'
    } %}

    <section class="section" aria-labelledby="midd-profile-section-interests-label">
      <h2 class="section__title" id="midd-profile-section-interests-label">Areas of Interest</h2>
      <div class="typography">
        <ul>
          <li>Lorem ipsum dolor sit amet</li>
          <li>Nihil amet dolore ea reprehenderit voluptate beatae quod</li>
        </ul>
      </div>
    </section>

    <section class="section" aria-labelledby="midd-profile-section-centers-label">
      <h2 class="section__title" id="midd-profile-section-centers-label">Research Centers</h2>
      <div class="typography">
        <ul>
          <li><a href="#">Lorem ipsum dolor sit amet</a></li>
          <li><a href="#">Nihil amet dolore ea reprehenderit voluptate beatae quod</a></li>
        </ul>
      </div>
    </section>

    <section class="section" aria-labelledby="midd-profile-section-degrees-label">
      <h2 class="section__title" id="midd-profile-section-degrees-label">Academic Degrees</h2>
      <div class="typography">
        <ul>
          <li>Lorem ipsum dolor sit amet</li>
          <li>Nihil amet dolore ea reprehenderit voluptate beatae quod</li>
        </ul>
      </div>
    </section>

    <section class="section" aria-labelledby="midd-profile-section-pubs-label">
      <h2 class="section__title section__title-publications" id="midd-profile-section-pubs-label">Latest Publications</h2>
      {% include 'scholarly-identity-links.twig' with {
        class: 'profile-detail'
      } %}
      <div class="typography">
        <h3>
          <a href="#">Islam, Islamism, and Politics in Eurasia Report</a>
        </h3>
        <p>Pellentesque nibh felis, eleifend id, commodo in, interdum vitae, leo. Praesent eu elit. Ut eu ligula. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos.</p>
      </div>
    </section>

    <section class="section" aria-labelledby="midd-profile-section-events-label">
      <h2 class="section__title" id="midd-profile-section-events-label">Upcoming Events</h2>

      <ol class="list list--dividers list--md">
        <li class="list__item">
          {% include 'event-teaser.twig' %}
        </li>
      </ol>
    </section>

    <section class="section" aria-labelledby="midd-profile-section-news-label">
      <h2 class="section__title" id="midd-profile-section-news-label">News Feed</h2>

      <ul class="list list--dividers list--md">
        {% for i in 0..1 %}
          <li class="list__item">
            {% include 'story.twig' with { id: i } %}
          </li>
        {% endfor %}
      </ul>

    </section>

  {% endblock %}
{% endembed %}