<div class="mb-2">
  <span>"Jonathan Doe-Smith"</span><br>
  <span>[ JON-a-than doe-smith ]</span>
  <span class="print-hide">
    <a href="https://www.cmu.edu/hub/registrar/docs/phonetic-spelling-instructions.pdf"
      class="link-underline">
      Key
    </a>
  </span>
</div>
<div class="print-hide">
  <div class="js-audio"
    data-play-icon="volume-up"
    data-size='sm'
    data-btn-only
    data-outline
  >
    <audio controls="controls">
      <source src="https://www.middlebury.edu/institute/sites/www.middlebury.edu.institute/files/2018-02/Ace_Your_Interview_v2.mp3"
        type="audio/mpeg" />
    </audio>
  </div>
</div>
