{% set social_items = items|default(['discord', 'linkedin', 'instagram', 'tiktok', 'youtube', 'mastodon', 'pinterest', 'twitter', 'vimeo', 'facebook', 'wechat', 'weibo', 'x', 'threads']) %}

<ul class="d-inline-flex {{class}}">
  {% for name in social_items %}
    {% if items or random(1) %}
      <li class="mr-1">
        <a href="#" class="d-inline-block {% if light %}text-white hover-fadeout{% elseif dark %}hover-fadeout{% else %}hover-fadein{% endif %} {{office_footer ? " px-1" : " p-1"}}">
          {% include 'icon.twig' with {
            name: name,
            class: large ? 'f5' : null
          } %}
          <span class="sr-only">Link to page/content on {{name}}</span>
        </a>
      </li>
    {% endif %}
  {% endfor %}
</ul>
