<a href="#midd-pagetop" class="button button--sm to-top-btn {{journey ? 'js-journey-to-top-btn' : 'js-to-top-btn'}}">
  {% include 'icon.twig' with {
    name: 'caret-up',
    class: 'mb-1'
  } %}
  <span class="text-caps d-block">
    <span class="sr-only">Back to</span>
    Top
  </span>
</a>
