@use '../core/variables';
@use '../mixins/breakpoints';
@use '../mixins/buttons';
@use '../mixins/forms';
@use '../mixins/type';

.slateform {
  padding: 2px;

  a {
    @include type.link-border;
  }

  h1 {
    @include type.h3;
    margin-bottom: variables.$spacing-4;
  }

  fieldset {
    @include forms.form-fieldset;

    div:last-of-type {
      margin-bottom: 0;
    }

    > .form_label {
      display: none;
    }
  }

  legend {
    @include forms.form-legend;
  }

  .action,
  .form_question,
  fieldset > div {
    @include forms.form-group;
  }

  label,
  .form_label {
    @include forms.form-label;
  }

  div[data-required='1'] label:after {
    content: ' *';
    @include forms.form-required;
  }

  select,
  textarea,
  input[type='text'],
  input[type='email'],
  input[type='tel'] {
    @include forms.form-control;

    & {
      margin-top: 0; // remove style coming from global form-text, which is meant for helper text
      padding: variables.$spacing-2;
      width: auto;
      max-width: 100%;
    }
  }

  select {
    @include forms.form-select;
  }

  .action button {
    @include buttons.button-base;
    @include buttons.button-theme('primary');
  }

  .form_responses {
    @include breakpoints.breakpoint(sm) {
      display: flex;
    }

    select,
    input {
      @include breakpoints.breakpoint(sm) {
        flex: 0 0 auto;
        margin-bottom: 0;
      }

      &:not(:last-child) {
        margin-right: variables.$spacing-3;
      }
    }
  }

  .form_loading.hidden {
    display: none;
  }
}
