@use '../core/variables';
@use '../mixins/breakpoints';
@use '../mixins/buttons';
@use '../mixins/forms';
@use '../mixins/type';

.node-webform {
  padding: 2px;

  a {
    @include type.link-border;
  }

  h1 {
    @include type.h3;
    margin-bottom: variables.$spacing-4;
  }

  .field-type-text-with-summary {
    font-size: variables.$paragraph-font-size;
    margin-bottom: variables.$paragraph-margin-bottom;

    p {
      margin-bottom: variables.$spacing-4;
    }
  }

  fieldset {
    @include forms.form-fieldset;

    .form-item:last-child {
      margin-bottom: 0;
    }
  }

  legend {
    @include forms.form-legend;
  }

  .form-actions,
  .form-item {
    @include forms.form-group;
  }

  label {
    @include forms.form-label;
  }

  .form-required {
    @include forms.form-required;
  }

  .description {
    font-size: variables.$typescale-2;
    margin-bottom: variables.$spacing-1;
  }

  .form-select,
  .form-textarea,
  .form-text {
    @include forms.form-control;
    margin-top: 0; // remove style coming from global form-text, which is meant for helper text
    padding: variables.$spacing-2;
    width: auto;
    max-width: 100%;
  }

  .form-select {
    @include forms.form-select;
  }

  .form-type-radio,
  .form-type-checkbox {
    @include forms.form-checkbox-item;

    input[type='checkbox'],
    input[type='radio'] {
      @include forms.form-checkbox-control;
    }

    label {
      @include forms.form-checkbox-label;
    }
  }

  .button-primary {
    @include buttons.button-base;
    @include buttons.button-theme('primary');
  }

  .form-managed-file {
    display: inline-flex;
    background: variables.$gray-lighter;

    .form-submit {
      @include buttons.button-base;
      @include buttons.button-theme('primary');
      @include buttons.button-size('sm');
    }

    .form-file {
      @include buttons.button-base;
      @include buttons.button-size('sm');
      background: transparent;
    }
  }

  .inline {
    display: flex;

    > li + li {
      margin-left: variables.$spacing-3;
    }
  }

  .webform-calendar {
    display: none;
  }

  .webform-container-inline {
    @include breakpoints.breakpoint(sm) {
      display: flex;
    }

    .form-item {
      @include breakpoints.breakpoint(sm) {
        flex: 0 0 auto;
        margin-bottom: 0;
      }

      &:not(:last-child) {
        margin-right: variables.$spacing-3;
      }
    }
  }
}
