@use '../mixins/type';
@use 'variables';

////
/// Contains mainly classless selectors for base resets and styles
////

*,
:before,
:after {
  box-sizing: border-box;
}

html,
body {
  // overflow-x: hidden;
}

/*
 * 1. prevent chrome from hiding background images and colors by default when printing
 */
body {
  font-family: variables.$font-family-base;
  line-height: variables.$line-height-body;
  font-size: variables.$font-size-base;
  color: variables.$body-color;
  background-color: variables.$body-bg;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-print-color-adjust: exact; /* 1 */

  @media print {
    // remove padding top added for sticky headers
    padding-top: 0 !important;
  }
}

button {
  padding: 0;
  background: 0;
  border: 0;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  cursor: pointer;
}

// remove ios border radius
input,
textarea {
  border-radius: 0;
}

textarea {
  resize: vertical;
}

figure {
  margin: 0;
}

hr {
  background-color: variables.$gray-light;
  margin-top: variables.$spacing-5;
  margin-bottom: variables.$spacing-5;
  height: 1px;
  border: 0;
}

blockquote {
  margin: 0;

  p:last-child {
    margin-bottom: 0;
  }
}

dl,
dt,
dd {
  margin: 0;
}

a {
  color: variables.$link-color;
  text-decoration: variables.$link-decoration;

  &:hover {
    text-decoration: variables.$link-hover-decoration;
  }
}

[href^='mailto:'] {
  word-wrap: break-word;
}

strong {
  font-weight: variables.$font-weight-semibold;
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

p {
  font-family: variables.$font-family-base;
  font-size: variables.$paragraph-font-size;
  line-height: variables.$paragraph-line-height;
  margin-top: 0;
  margin-bottom: 0;
}

address {
  font-family: variables.$font-family-base;
  font-style: normal;
  font-size: variables.$paragraph-font-size;
  line-height: variables.$paragraph-line-height;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

ol,
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: variables.$headings-font-family;
  font-weight: variables.$headings-font-weight;
  line-height: variables.$headings-line-height;
  margin-top: 0;
  margin-bottom: 0;
}

.h1,
h1 {
  @include type.h1;
}

.h2,
h2 {
  @include type.h2;
}

.h3,
h3 {
  @include type.h3;
}

.h4,
h4 {
  @include type.h4;
}

.h5,
h5 {
  @include type.h5;
}

.h6,
h6 {
  @include type.h6;
}

svg {
  fill: currentcolor;
}

// Fixes wbr tag in e11
// https://stackoverflow.com/questions/23756932/wbr-tag-doesnt-work-in-ie
wbr:after {
  content: '\00200B';
}

@media (prefers-reduced-motion: reduce) {
  *,
  :before,
  :after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important; // stylelint-disable-line
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-delay: 0s !important;
    transition-duration: 0s !important;
  }
}
