////
/// Sass mixins
////

@use '../mixins/breakpoints';
@use '../mixins/grid';
@use '../mixins/grid-framework';
@use '../mixins/clearfix';
@use '../mixins/type';
@use '../mixins/screen-reader';
@use '../mixins/forms';
@use '../mixins/buttons';
@use '../mixins/waveform-bars';
@use '../mixins/homepage_grid';
@use 'variables';

@mixin absolute-fill {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

// applies each theme color to the property passed
@mixin themify($prop) {
  @each $name, $color in variables.$themes {
    .theme-#{$name} & {
      #{$prop}: $color;
    }
  }
}

@mixin print-hide() {
  @media print {
    display: none !important;
  }
}

@mixin contains-links {
  a {
    @include type.link-border;
  }
}

// detect ie10-11
// source: https://stackoverflow.com/a/35063378/2193516
@mixin ie {
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    /* add your IE10-IE11 css here */
    @content;
  }
}
