@use '../mixins/breakpoints';
@use '../mixins/grid';
@use 'variables';

////
/// Paragraphs handle spacing, layout, and alignment of Drupal Paragraphs render in the main content region of a page.
////

%paragraph-space {
  margin-top: variables.$spacing-7;
  margin-bottom: variables.$spacing-7;

  @include breakpoints.breakpoint(md) {
    margin-top: variables.$spacing-8;
    margin-bottom: variables.$spacing-8;
  }

  @include breakpoints.breakpoint(lg) {
    margin-top: variables.$spacing-9;
    margin-bottom: variables.$spacing-9;
  }
}

%paragraph-space-sm {
  margin-top: variables.$spacing-6;
  margin-bottom: variables.$spacing-5;

  @include breakpoints.breakpoint(md) {
    margin-top: variables.$spacing-7;
    margin-bottom: variables.$spacing-6;
  }

  @include breakpoints.breakpoint(lg) {
    margin-top: variables.$spacing-8;
    margin-bottom: variables.$spacing-7;
  }
}

%paragraph-full-width {
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}

.paragraphs {
  margin-bottom: variables.$spacing-7;

  @include breakpoints.breakpoint(md) {
    margin-bottom: variables.$spacing-8;
  }

  @include breakpoints.breakpoint(lg) {
    margin-bottom: variables.$spacing-9;
  }

  > [class*='paragraph']:first-child {
    margin-top: 0;
  }

  > [class*='paragraph']:last-child {
    margin-bottom: 0;
  }
}

.paragraphs--wide {
  @include grid.make-col-ready;

  @include breakpoints.breakpoint(md) {
    @include grid.make-col(10);
    @include grid.make-col-offset(1);
  }

  @include breakpoints.breakpoint(lg) {
    @include grid.make-col(8);
    @include grid.make-col-offset(2);
  }

  .paragraph--expand,
  .paragraph--video,
  .paragraph--image:not(.image--left):not(.image--right) {
    @include breakpoints.breakpoint(lg) {
      // Main column is 10 wide, so we divide by remaining
      // columns on sides to pull them out to 12 columns.
      // More on these techniques here:
      // https://css-tricks.com/full-width-containers-limited-width-parents/
      margin-left: calc(-100% * 2 / 12);
      margin-right: calc(-100% * 2 / 12);
      @include grid.make-gutters;
    }
  }

  .paragraphs--wide__offset {
    @include breakpoints.breakpoint(lg) {
      @include grid.make-col-offset(1);
      @include grid.make-col-ready;
      @include grid.make-col(10);
    }
  }
}

.paragraph {
  @extend %paragraph-space;
}

.paragraph--full,
.paragraph--themed-panel,
.paragraph--quad-story,
.paragraph--stat-panel,
.paragraph--card-carousel,
.paragraph--dispatches,
.paragraph--logo-bar,
.paragraph--waveform {
  @extend %paragraph-full-width;
}

.paragraphs:not(.paragraphs--wide) {
  .paragraph--full {
    margin-left: 0;
    margin-right: 0;
  }
}

.paragraph--text {
  margin-bottom: variables.$spacing-4;
}

.paragraph--video {
  @extend %paragraph-space-sm;
}

.paragraph--audio {
  @extend %paragraph-space-sm;
}

.paragraph--quote {
  margin-top: variables.$spacing-7;
  margin-bottom: variables.$spacing-7;

  @include breakpoints.breakpoint(md) {
    margin-top: variables.$spacing-8;
    margin-bottom: variables.$spacing-8;
  }
}

.paragraph--image {
  @extend %paragraph-space-sm;

  &.image--left {
    margin-top: 0;
    margin-bottom: variables.$spacing-4;
    margin-right: variables.$spacing-4;
  }

  &.image--right {
    margin-top: 0;
    margin-bottom: variables.$spacing-4;
    margin-left: variables.$spacing-4;
  }
}

.paragraph--image-text {
  @extend %paragraph-space;
}

.paragraph--two-col-text {
  @extend %paragraph-space;

  @include breakpoints.breakpoint(lg) {
    margin-top: variables.$spacing-8;
    margin-bottom: variables.$spacing-8;
  }
}

.paragraph--faq {
  @extend %paragraph-space;
}

.paragraph--course-list {
  @extend %paragraph-space;
}

.paragraph--chart {
  @extend %paragraph-space;
}

.paragraph--link-list {
  @extend %paragraph-space;
}

.paragraph--profile-list {
  &.section {
    margin-top: variables.$spacing-8;
    margin-bottom: variables.$spacing-8;

    @include breakpoints.breakpoint(lg) {
      margin-top: variables.$spacing-9;
      margin-bottom: variables.$spacing-9;
    }
  }
}

.paragraph--spotlight {
  @extend %paragraph-space;
}

.paragraph--waveform {
  @extend %paragraph-space;
}

.paragraph--card-carousel {
  @extend %paragraph-space;
  // @extend %paragraph-full-width;
}

.paragraph--dispatches {
  // @extend %paragraph-space;
}

.paragraph--quad-story {
  @extend %paragraph-space;
  // @extend %paragraph-full-width;
}

.paragraph--stat-panel {
  @extend %paragraph-space;
  // @extend %paragraph-full-width;
}

.paragraph--announcement {
  @extend %paragraph-space;
}

.paragraph--mega-cta {
  @extend %paragraph-space;
}

.paragraph--cta-group {
  @extend %paragraph-space;
  @extend %paragraph-full-width;
}

.paragraph--video-group {
  @extend %paragraph-space-sm;
  @extend %paragraph-full-width;
}

.paragraph--themed-panel {
  @extend %paragraph-space;
}

.paragraph--gallery {
  @extend %paragraph-space-sm;
}

.paragraph--button {
  display: flex;
  flex-wrap: wrap;
  row-gap: variables.$spacing-7;
  margin-bottom: variables.$spacing-7;

  .button:not(:last-child) {
    margin-right: variables.$spacing-4;
  }

  @include breakpoints.breakpoint(md) {
    margin-bottom: variables.$spacing-8;
    row-gap: variables.$spacing-8;
  }
}

.paragraph--search {
  @extend %paragraph-space-sm;
}

.paragraph--lib-search {
  @extend %paragraph-full-width;
  @extend %paragraph-space;
}

.paragraph--embed {
  @extend %paragraph-space-sm;

  iframe {
    max-width: 100%;
  }
}

.paragraph--related-events {
  @extend %paragraph-space;
}

.paragraph--logo-bar {
  @extend %paragraph-space;
}

.paragraph--pull-up {
  margin-top: -6rem;
  position: relative;
  z-index: 2;

  @include breakpoints.breakpoint(lg) {
    margin-top: -8rem;
  }

  @media print {
    margin-top: 0;
  }
}

.paragraph--box-menu__pull-up {
  margin-top: -4rem;

  @include breakpoints.breakpoint(md) {
    margin-top: -5rem;
  }

  @include breakpoints.breakpoint(lg) {
    margin-top: -8rem;
  }
}

.paragraph--lead-pulled-up {
  margin-top: -8rem !important;
  margin-bottom: variables.$spacing-7;
  position: relative;
  z-index: 3;

  @include breakpoints.breakpoint(md) {
    margin-top: -6rem !important;
  }

  @media print {
    margin-top: 0;
  }
}

.paragraph--policy {
  padding-top: variables.$spacing-4;
  padding-bottom: variables.$spacing-4;

  @include breakpoints.breakpoint(md) {
    padding-top: variables.$spacing-5;
    padding-bottom: variables.$spacing-5;
  }
}

.paragraph--top-thirty-songs {
  @include breakpoints.breakpoint(md) {
    margin-top: variables.$spacing-3 !important;
  }
}

.paragraph--curriculum {
  margin-bottom: variables.$spacing-7;
}

.theme-admissions-lp {
  .paragraph--text {
    margin-top: variables.$spacing-7;
    margin-bottom: variables.$spacing-7;

    @include breakpoints.breakpoint(lg) {
      margin-top: variables.$spacing-8;
      margin-bottom: variables.$spacing-8;
    }

    @include breakpoints.breakpoint(lg) {
      margin-top: variables.$spacing-9;
      margin-bottom: variables.$spacing-9;
    }
  }
}
