@use '../mixins/clearfix';
@use 'mixins';
@use 'variables';

////
/// Print styles
////

@media print {
  * {
    background: transparent !important;
    color: variables.$black !important;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: georgia, serif;

    > a {
      text-decoration: none !important;
    }
  }

  p {
    font-family: arial, sans-serif;
  }

  a {
    color: variables.$black !important;
    border: 0 !important;
  }

  img {
    break-inside: avoid;
  }

  .print-hide {
    @include mixins.print-hide;
  }

  // hacks: force styles mostly as-is for print layout though we want them to unapply on small non-print screens.
  // Should revert this back to use some sort of `roster` specific styles and not utils.
  .roster {
    .media-object {
      @include clearfix.clearfix;
    }

    .media-object__image {
      float: left;
      width: 200px;
      margin-right: variables.$spacing-3;
    }

    .media-object__body {
      float: left;
    }

    .float-md-left {
      float: left;
    }

    .pr-md-3 {
      padding-right: variables.$spacing-3;
    }
  }
}
