@use 'sass:color';
@use 'functions';

////
/// Sass Variables
////

////
/// Breakpoints
////
$screen-sm: 512px !default;
$screen-md: 768px !default;
$screen-lg: 1024px !default;
$screen-xl: 1280px !default;

////
/// Grid configuration
////
$grid-columns: 12 !default;
$container-max-width: 1440px !default;

$grid-gutter-width: functions.rem(32) !default;
$grid-gutter-width-lg: functions.rem(64) !default;

$breakpoints: (
  xs: 0,
  sm: $screen-sm,
  md: $screen-md,
  lg: $screen-lg,
  xl: $screen-xl
) !default;

////
//// Responsive variants
//// Used for easily generating responsive utility classes or grid columns.
////
$responsive-variants: (
  '': '',
  sm: '-sm',
  md: '-md',
  lg: '-lg',
  xl: '-xl'
);

////
/// Spacing
////

$spacing-0: 0 !default;
$spacing-1: functions.rem(4) !default;
$spacing-2: functions.rem(8) !default;
$spacing-3: functions.rem(16) !default;
$spacing-4: functions.rem(24) !default;
$spacing-5: functions.rem(32) !default;
$spacing-6: functions.rem(40) !default;
$spacing-7: functions.rem(48) !default;
$spacing-8: functions.rem(64) !default;
$spacing-9: functions.rem(96) !default;

$spacing: (
  0: $spacing-0,
  1: $spacing-1,
  2: $spacing-2,
  3: $spacing-3,
  4: $spacing-4,
  5: $spacing-5,
  6: $spacing-6,
  7: $spacing-7,
  8: $spacing-8,
  9: $spacing-9
);

////
/// Colors
////

// @todo all these variables need better names

$navy-light: #174872 !default;
$navy: #0d395f !default;
$navy-dark: #022543 !default;

$blue-darker: #002444 !default;
$blue-dark: #407ab1 !default;
$blue: #75a3cd !default;
$blue-light: #97bbd5 !default;
$blue-lighter: #e5f1fa !default;

$wrmc-blue-light: #a3e6ff !default;
$wrmc-pink: #ee6cb9 !default;
$wrmc-pink-darker: #de1b90 !default;
$wrmc-green: #a7c504 !default;

$sky: #0573cd;

$green-dark: #1a8574 !default;
$green: #1f9f8b !default;
$green-light: #23b39c !default;

$teal: #017c9f !default;
$yellow: #ffc107 !default;
$yellow-light: #fedb85 !default;
$journey-yellow: #f4b824;

// shades
$white: #fff !default;
$black: #202020 !default;

// grays
$gray: #767676 !default;
$gray-semi-light: #979797 !default;
$gray-light: #dedede !default;
$gray-lighter: #f8f8f8 !default;
$gray-dark: #414142 !default;

$color-journey-border: #d9d9d9;

// util colors
$color-active: $sky;
$danger: #dc3545 !default;
$info: $blue-lighter !default;
$warning: $yellow-light !default;
$success: #5e7d31 !default;

// brand colors
$color-primary: $navy !default;
$color-primary-dark: $navy-dark !default;

// school colors
$color-college: $navy;
$color-schools-abroad: $blue;
$color-language-schools: #8f9a17;
$color-school-english: #c26533;
$color-writers-conference: $yellow;
$color-institute: #97bbd5;

// Scholaraly Icon colors
$scholarly-icons: (
  orcid: #a6ce39,
  scopus: #fe8300,
  github: #191717,
  middlebury-shield: #0d395f
);

////
/// Themes
////

$themes: (
  college: $color-college,
  institute: $color-institute,
  sa: $color-schools-abroad,
  ls: $color-language-schools,
  blse: $color-school-english,
  blwc: $color-writers-conference,
  uwc: $white,
  wrmc: $wrmc-pink
);

////
/// Typography
////

// font families
// prettier-ignore
$font-family-sans-serif: (
  'Open Sans',
  tahoma,
  geneva,
  sans-serif
) !default;

// prettier-ignore
$font-family-serif: (
  'Domine',
  georgia,
  serif
) !default;

$wrmc-text-dark: $navy-dark;

$wrmc-genre-colors: (
  // blues
  genre-1d6ca6: (
      bg-color: #1d6ca6,
      color: $white
    ),
  // country
  genre-a16b06: (
      bg-color: #a16b06,
      color: $white
    ),
  // experimental
  genre-c425de: (
      bg-color: #c425de,
      color: $white
    ),
  // funk
  genre-0ee3ff: (
      bg-color: #0ee3ff,
      color: $wrmc-text-dark
    ),
  // indie
  genre-916b6b: (
      bg-color: #916b6b,
      color: $white
    ),
  // pop
  genre-ff4d4d: (
      bg-color: #ff4d4d,
      color: $wrmc-text-dark
    ),
  // punk
  genre-044882: (
      bg-color: #044882,
      color: $white
    ),
  // rb-soul
  genre-8fceff: (
      bg-color: #8fceff,
      color: $wrmc-text-dark
    ),
  // rock
  genre-048228: (
      bg-color: #048228,
      color: $white
    ),
  // world
  genre-47f5ec: (
      bg-color: #47f5ec,
      color: $wrmc-text-dark
    ),
  // classical
  genre-3e8369: (
      bg-color: #3e8369,
      color: $white
    ),
  // electronic
  genre-b7c706: (
      bg-color: #b7c706,
      color: $wrmc-text-dark
    ),
  // folk
  genre-f29407: (
      bg-color: #f29407,
      color: $wrmc-text-dark
    ),
  // jazz
  genre-13e9bf: (
      bg-color: #13e9bf,
      color: $wrmc-text-dark
    ),
  // heavy-metal
  genre-6b6b6b: (
      bg-color: #6b6b6b,
      color: $white
    ),
  // hip-hop
  genre-01777f: (
      bg-color: #01777f,
      color: $white
    ),
  // kpop
  genre-8807d7: (
      bg-color: #8807d7,
      color: $white
    ),
  // latin
  genre-85eb35: (
      bg-color: #85eb35,
      color: $wrmc-text-dark
    ),
  // reggae
  genre-f2cc46: (
      bg-color: #f2cc46,
      color: $wrmc-text-dark
    ),
  // news
  genre-827373: (
      bg-color: #827373,
      color: $white
    ),
  // talk
  genre-000000: (
      bg-color: #000000,
      color: $white
    ),
  // rap
  genre-880808: (
      bg-color: #880808,
      color: $white
    ),
  // generic
  genre-0d395f: (
      bg-color: #0d395f,
      color: $white
    )
);

// type scale
$typescale-1: functions.rem(12) !default;
$typescale-2: functions.rem(14) !default;
$typescale-3: functions.rem(16) !default;
$typescale-4: functions.rem(18) !default;
$typescale-5: functions.rem(20) !default;
$typescale-6: functions.rem(24) !default;
$typescale-7: functions.rem(28) !default;
$typescale-8: functions.rem(36) !default;
$typescale-9: functions.rem(48) !default;
$typescale-10: functions.rem(64) !default;
$typescale-11: functions.rem(72) !default;

$typescale: (
  1: $typescale-1,
  2: $typescale-2,
  3: $typescale-3,
  4: $typescale-4,
  5: $typescale-5,
  6: $typescale-6,
  7: $typescale-7,
  8: $typescale-8
);

// font weights
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

// line heights
$line-height-solid: 1;
$line-height-heading: 1.4;
$line-height-body: 1.7;
$line-height-journey: 1.1;

$line-heights: (
  'body': $line-height-body,
  'heading': $line-height-heading,
  'solid': $line-height-solid
);

// Base
$font-size-base: 16px !default;
$line-height-base: $line-height-body !default;
$font-family-base: $font-family-sans-serif !default;

// Body
$body-bg: $white !default;
$body-color: $black !default;

// Border styles
$border-width: 1px !default;
$border-color: $gray-light !default;

$letter-spacing: 0.1em;

////
/// Element styles
////

// Links
$link-color: $color-primary !default;
$link-decoration: none !default;
$link-hover-color: $color-primary !default;
$link-hover-decoration: underline !default;

// Headings
$headings-font-family: $font-family-serif !default;
$headings-font-weight: $font-weight-normal !default;
$headings-font-size: $typescale-4 !default;
$headings-line-height: $line-height-heading !default;

// Paragraphs
$paragraph-font-size: $typescale-4 !default;
$paragraph-line-height: $line-height-body !default;
$paragraph-margin-bottom: $spacing-4 !default;

////
/// Component variables
////

// Lead
$lead-font-size: $typescale-6 !default;
$lead-line-height: $line-height-body !default;
$lead-margin-bottom: $spacing-5 !default;

// captions
$caption-font-size: $typescale-2 !default;
$caption-color: $gray !default;

// Shared buttons and forms styles
$input-btn-padding-y: $spacing-3 !default;
$input-btn-padding-x: $spacing-5 !default;
$input-btn-font-size: $typescale-3 !default;
$input-btn-line-height: $line-height-solid !default;

$input-btn-border-width: $border-width !default;
$input-btn-border-color: $border-color !default;
$input-btn-border-radius: 0 !default;

$input-btn-padding-y-sm: $spacing-2 !default;
$input-btn-padding-x-sm: $spacing-3 !default;
$input-btn-font-size-sm: $typescale-2 !default;

$input-btn-padding-y-lg: $spacing-4 !default;
$input-btn-padding-x-lg: $spacing-4 !default;
$input-btn-font-size-lg: $typescale-4 !default;

// Buttons

// base
$btn-bg: $white !default;
$btn-color: $navy !default;

// primary
$btn-primary-bg: $color-primary !default;
$btn-primary-color: $white !default;
$btn-primary-hover-bg: color.adjust($color-primary, $lightness: 10%) !default;
$btn-primary-hover-color: $white !default;

// secondary
$btn-secondary-bg: $gray-light !default;
$btn-secondary-color: $color-primary !default;
$btn-secondary-hover-bg: $green-light !default;
$btn-secondary-hover-color: $color-primary !default;

// light
$btn-light-bg: $white !default;
$btn-light-color: $color-primary !default;
$btn-light-hover-bg: $color-primary-dark !default;
$btn-light-hover-color: $white !default;
$btn-light-outline-hover-bg: $white !default;
$btn-light-outline-hover-color: $color-primary !default;

// button size default
$btn-padding-y: $input-btn-padding-y !default;
$btn-padding-x: $input-btn-padding-x !default;
$btn-line-height: $input-btn-line-height !default;
$btn-font-size: $input-btn-font-size !default;

// button size small
$btn-padding-y-sm: $input-btn-padding-y-sm !default;
$btn-padding-x-sm: $input-btn-padding-x-sm !default;
$btn-font-size-sm: $input-btn-font-size-sm !default;

// button size large
$btn-padding-y-lg: $input-btn-padding-y-lg !default;
$btn-padding-x-lg: $input-btn-padding-x-lg !default;
$btn-font-size-lg: $input-btn-font-size-lg !default;

// button border styles
$btn-border-width: $input-btn-border-width !default;
$btn-border-color: transparent !default;
$btn-border-radius: $input-btn-border-radius !default;

$btn-font-weight: $font-weight-normal !default;
$btn-disabled-opacity: 0.5 !default;

$btn-transition:
  color 0.2s,
  background-color 0.2s,
  border-color 0.2s !default;

$btn-themes: (
  'primary': (
    bg: $btn-primary-bg,
    color: $btn-primary-color,
    border-color: $btn-primary-bg,
    hover-bg: $btn-primary-hover-bg,
    hover-color: $btn-primary-hover-color,
    hover-border-color: $btn-primary-hover-bg
  ),
  'primary-outline': (
    color: $btn-primary-bg,
    bg: transparent,
    border-color: $btn-primary-bg,
    hover-color: $btn-primary-color,
    hover-bg: $btn-primary-bg
  ),
  'light': (
    color: $btn-light-color,
    bg: $btn-light-bg,
    border-color: $btn-light-bg,
    hover-color: $btn-light-hover-color,
    hover-bg: $btn-light-hover-bg,
    hover-border-color: $btn-light-hover-bg
  ),
  'light-outline': (
    color: $btn-light-bg,
    bg: transparent,
    border-color: $btn-light-bg,
    hover-color: $btn-light-color,
    hover-bg: $btn-light-bg
  ),
  'dark-outline': (
    color: $btn-light-color,
    bg: transparent,
    border-color: $btn-light-color,
    hover-color: $btn-light-bg,
    hover-bg: $btn-light-color
  )
);

$btn-sizes: (
  default: (
    font-size: $btn-font-size,
    padding-y: $btn-padding-y,
    padding-x: $btn-padding-x
  ),
  sm: (
    font-size: $btn-font-size-sm,
    padding-y: $btn-padding-y-sm,
    padding-x: $btn-padding-x-sm
  ),
  lg: (
    font-size: $btn-font-size-lg,
    padding-y: $btn-padding-y-lg,
    padding-x: $btn-padding-x-lg
  )
);

// Forms

$label-font-size: $typescale-2 !default;
$label-font-weight: $font-weight-semibold !default;
$label-margin-bottom: $spacing-2 !default;

// input size default
$input-padding-y: $input-btn-padding-y !default;
$input-padding-x: $input-btn-padding-y !default;
$input-line-height: $input-btn-line-height !default;
$input-font-size: $input-btn-font-size !default;

// input size small
$input-padding-y-sm: $input-btn-padding-y-sm !default;
$input-padding-x-sm: $input-btn-padding-x-sm !default;
$input-font-size-sm: $input-btn-font-size-sm !default;

// input size large
$input-padding-y-lg: $input-btn-padding-y-lg !default;
$input-padding-x-lg: $input-btn-padding-x-lg !default;
$input-font-size-lg: $input-btn-font-size-lg !default;

$input-bg: $white !default;
$input-disabled-bg: $gray-light !default;

$input-color: $black !default;
$input-border-color: $black !default;
$input-border-width: $input-btn-border-width !default;
$input-border-radius: $input-btn-border-radius !default;

$input-focus-bg: $input-bg !default;
$input-focus-border-color: $green-light !default;

$chevron-transform: rotate(-180deg);
$chevron-transition: transform 0.2s ease-in-out;
$caret-transform: rotate(90deg);

///
// z-indexes
// Manage z-indexes across all components to prevent elements from accidentally overlapping incorrectly
///

$z-index-cookie-banner: 500;

$z-index-dropdown-list: 200;

$z-index-drawer: 300;
$z-index-drawer-overlay: 2;
$z-index-drawer-content: 3;

$z-index-top-level-image: 1;
$z-index-top-level-content: 2;

$z-index-midd-header: 200;
$z-index-midd-header-transparent: 200;
$z-index-midd-header-shield: 300;

$z-index-midd-nav: 200;
$z-index-midd-nav-dropdown: 200;

$z-index-midd-search-content: 200;

$z-index-datepicker: 200;

$z-index-school-header: 100;

$z-index-school-search-content: 200;

$z-index-school-nav-dropdown: 200;

$z-index-curriculum-header: 99;

$z-index-school-explorer: 50;

$z-index-card-carousel-item-image: 2;
$z-index-card-carousel-item-content: 3;

$z-index-stat-panel-image: 1;
$z-index-stat-panel-overlay: 2;
$z-index-stat-panel-content: 3;

$z-index-spotlight-image: 1;
$z-index-spotlight-content: 2;

$z-index-mega-cta-image: 1;
$z-index-mega-cta-front: 2;
$z-index-mega-cta-caption: 3;

$z-index-themed-panel: 1;
$z-index-themed-panel-overlay: 2;
$z-index-themed-panel-content: 3;
$z-index-themed-panel-sidebar: 4;

$z-index-video-button: 1;
$z-index-gallery-button: 1;

$z-index-page-header-caption: 3;

$z-index-box-menu: 6;

$z-index-app-header-nav: 6;
$z-index-app-header-search: 6;

$z-index-to-top-button: 25;

$z-index-homepage-header-button: 10;

$z-index-dispatches: 2;

$z-index-journey-modal: 5;

$z-index-background-video-control: 30;
