<aside class="cookie-banner js-cookie-banner is-toggled">
  <p>We use cookies and other technologies to better understand a visitor's experience and to help improve our websites. By continuing to use the website, you consent to Middlebury's use of cookies and other technologies as outlined in our <a href="#">Privacy Policy</a>.</p>
  <button
    class="cookie-banner__button cookie-banner__button--close"
    aria-label="Close cookie consent banner"
    data-toggle-target=".js-cookie-banner"
  >
    Close
    {% include '../partials/icon.twig' with { name: 'times', class: 'ml-1 cookie-banner__button-icon' } %}
  </button>
</aside>
