{% extends "layouts/layout.twig" %}

{% block page %}
  <article class="node node-webform" id="node-228">
    <header>
      <h1>Inquiry Form</h1>
    </header>
    <section class="contents">
      <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
          <div class="field-item even">
            <p>Please fill out this form to receive informational emails from the Schools Abroad.</p>
          </div>
        </div>
      </div>
      <form accept-charset="UTF-8" action="/~imcbride/middforms/webform-embed/228" class="webform-client-form webform-client-form-228" id="webform-client-form-228" method="post" name="webform-client-form-228">
        <div>
          <div class="form-item webform-component webform-component-textfield webform-component--first-and-last-name">
            <label for="edit-submitted-first-and-last-name">First and Last Name
              <span class="form-required" title="This field is required.">*</span>
            </label>
            <input class="form-text required" id="edit-submitted-first-and-last-name" maxlength="128" name="submitted[first_and_last_name]" required="required" size="60" type="text" value="">
          </div>
          <div class="form-item webform-component webform-component-email webform-component--email-address">
            <label for="edit-submitted-email-address">Email Address
              <span class="form-required" title="This field is required.">*</span>
            </label>
            <input class="email form-text form-email required" id="edit-submitted-email-address" name="submitted[email_address]" required="required" size="60" type="email">
          </div>
          <div class="form-item webform-component webform-component-textfield webform-component--current-university-if-applicable">
            <label for="edit-submitted-current-university-if-applicable">Current University (if applicable)
              <span class="form-required" title="This field is required.">*</span>
            </label>
            <input class="form-text required" id="edit-submitted-current-university-if-applicable" maxlength="128" name="submitted[current_university_if_applicable]" required="required" size="60" type="text" value="">
          </div>
          <div class="form-item webform-component webform-component-checkboxes webform-component--program-of-interest">
            <label for="edit-submitted-program-of-interest">Program of Interest
              <span class="form-required" title="This field is required.">*</span>
            </label>
            <div class="form-checkboxes" id="edit-submitted-program-of-interest">
              <div class="form-item form-type-checkbox form-item-submitted-program-of-interest-1">
                <input class="form-checkbox" id="edit-submitted-program-of-interest-1" name="submitted[program_of_interest][1]" type="checkbox" value="1">
                <label class="option" for="edit-submitted-program-of-interest-1">Argentina</label>
              </div>
              <div class="form-item form-type-checkbox form-item-submitted-program-of-interest-2">
                <input class="form-checkbox" id="edit-submitted-program-of-interest-2" name="submitted[program_of_interest][2]" type="checkbox" value="2">
                <label class="option" for="edit-submitted-program-of-interest-2">Brazil</label>
              </div>
              <div class="form-item form-type-checkbox form-item-submitted-program-of-interest-3">
                <input class="form-checkbox" id="edit-submitted-program-of-interest-3" name="submitted[program_of_interest][3]" type="checkbox" value="3">
                <label class="option" for="edit-submitted-program-of-interest-3">Cameroon</label>
              </div>
              <div class="form-item form-type-checkbox form-item-submitted-program-of-interest-4">
                <input class="form-checkbox" id="edit-submitted-program-of-interest-4" name="submitted[program_of_interest][4]" type="checkbox" value="4">
                <label class="option" for="edit-submitted-program-of-interest-4">Chile</label>
              </div>
              <div class="form-item form-type-checkbox form-item-submitted-program-of-interest-5">
                <input class="form-checkbox" id="edit-submitted-program-of-interest-5" name="submitted[program_of_interest][5]" type="checkbox" value="5">
                <label class="option" for="edit-submitted-program-of-interest-5">China</label>
              </div>
              <div class="form-item form-type-checkbox form-item-submitted-program-of-interest-6">
                <input class="form-checkbox" id="edit-submitted-program-of-interest-6" name="submitted[program_of_interest][6]" type="checkbox" value="6">
                <label class="option" for="edit-submitted-program-of-interest-6">England</label>
              </div>
              <div class="form-item form-type-checkbox form-item-submitted-program-of-interest-7">
                <input class="form-checkbox" id="edit-submitted-program-of-interest-7" name="submitted[program_of_interest][7]" type="checkbox" value="7">
                <label class="option" for="edit-submitted-program-of-interest-7">France</label>
              </div>
              <div class="form-item form-type-checkbox form-item-submitted-program-of-interest-8">
                <input class="form-checkbox" id="edit-submitted-program-of-interest-8" name="submitted[program_of_interest][8]" type="checkbox" value="8">
                <label class="option" for="edit-submitted-program-of-interest-8">Germany</label>
              </div>
              <div class="form-item form-type-checkbox form-item-submitted-program-of-interest-9">
                <input class="form-checkbox" id="edit-submitted-program-of-interest-9" name="submitted[program_of_interest][9]" type="checkbox" value="9">
                <label class="option" for="edit-submitted-program-of-interest-9">India</label>
              </div>
              <div class="form-item form-type-checkbox form-item-submitted-program-of-interest-16">
                <input class="form-checkbox" id="edit-submitted-program-of-interest-10" name="submitted[program_of_interest][16]" type="checkbox" value="16">
                <label class="option" for="edit-submitted-program-of-interest-10">Israel</label>
              </div>
              <div class="form-item form-type-checkbox form-item-submitted-program-of-interest-10">
                <input class="form-checkbox" id="edit-submitted-program-of-interest-11" name="submitted[program_of_interest][10]" type="checkbox" value="10">
                <label class="option" for="edit-submitted-program-of-interest-11">Italy</label>
              </div>
              <div class="form-item form-type-checkbox form-item-submitted-program-of-interest-11">
                <input class="form-checkbox" id="edit-submitted-program-of-interest-12" name="submitted[program_of_interest][11]" type="checkbox" value="11">
                <label class="option" for="edit-submitted-program-of-interest-12">Japan</label>
              </div>
              <div class="form-item form-type-checkbox form-item-submitted-program-of-interest-12">
                <input class="form-checkbox" id="edit-submitted-program-of-interest-13" name="submitted[program_of_interest][12]" type="checkbox" value="12">
                <label class="option" for="edit-submitted-program-of-interest-13">Jordan</label>
              </div>
              <div class="form-item form-type-checkbox form-item-submitted-program-of-interest-17">
                <input class="form-checkbox" id="edit-submitted-program-of-interest-14" name="submitted[program_of_interest][17]" type="checkbox" value="17">
                <label class="option" for="edit-submitted-program-of-interest-14">Morocco</label>
              </div>
              <div class="form-item form-type-checkbox form-item-submitted-program-of-interest-13">
                <input class="form-checkbox" id="edit-submitted-program-of-interest-15" name="submitted[program_of_interest][13]" type="checkbox" value="13">
                <label class="option" for="edit-submitted-program-of-interest-15">Russia</label>
              </div>
              <div class="form-item form-type-checkbox form-item-submitted-program-of-interest-14">
                <input class="form-checkbox" id="edit-submitted-program-of-interest-16" name="submitted[program_of_interest][14]" type="checkbox" value="14">
                <label class="option" for="edit-submitted-program-of-interest-16">Spain</label>
              </div>
              <div class="form-item form-type-checkbox form-item-submitted-program-of-interest-15">
                <input class="form-checkbox" id="edit-submitted-program-of-interest-17" name="submitted[program_of_interest][15]" type="checkbox" value="15">
                <label class="option" for="edit-submitted-program-of-interest-17">Uruguay</label>
              </div>
            </div>
          </div>
          <div class="form-item webform-component webform-component-select-or-other webform-component--how-did-you-learn-about-middlebury-schools-abroad">
            <div class="description">
              Please enter how first learned of the Middlebury Schools Abroad.
            </div>
            <div class="select-or-other">
              <div class="form-item form-type-checkboxes form-item-submitted-how-did-you-learn-about-middlebury-schools-abroad-select">
                <label for="edit-submitted-how-did-you-learn-about-middlebury-schools-abroad-select">How did you learn about Middlebury Schools Abroad?
                  <span class="form-required" title="This field is required.">*</span>
                </label>
                <div class="form-checkboxes select-or-other-select" id="edit-submitted-how-did-you-learn-about-middlebury-schools-abroad-select">
                  <div class="form-item form-type-checkbox form-item-submitted-how-did-you-learn-about-middlebury-schools-abroad-select-1">
                    <input class="select-or-other-select form-checkbox" id="edit-submitted-how-did-you-learn-about-middlebury-schools-abroad-select-1" name="submitted[how_did_you_learn_about_middlebury_schools_abroad][select][1]" type="checkbox" value="1">
                    <label class="option" for="edit-submitted-how-did-you-learn-about-middlebury-schools-abroad-select-1">Attend(ed) Middlebury/MIIS/Language Schools/MMLA</label>
                  </div>
                  <div class="form-item form-type-checkbox form-item-submitted-how-did-you-learn-about-middlebury-schools-abroad-select-2">
                    <input class="select-or-other-select form-checkbox" id="edit-submitted-how-did-you-learn-about-middlebury-schools-abroad-select-2" name="submitted[how_did_you_learn_about_middlebury_schools_abroad][select][2]" type="checkbox" value="2">
                    <label class="option" for="edit-submitted-how-did-you-learn-about-middlebury-schools-abroad-select-2">Email</label>
                  </div>
                  <div class="form-item form-type-checkbox form-item-submitted-how-did-you-learn-about-middlebury-schools-abroad-select-3">
                    <input class="select-or-other-select form-checkbox" id="edit-submitted-how-did-you-learn-about-middlebury-schools-abroad-select-3" name="submitted[how_did_you_learn_about_middlebury_schools_abroad][select][3]" type="checkbox" value="3">
                    <label class="option" for="edit-submitted-how-did-you-learn-about-middlebury-schools-abroad-select-3">Facebook</label>
                  </div>
                  <div class="form-item form-type-checkbox form-item-submitted-how-did-you-learn-about-middlebury-schools-abroad-select-4">
                    <input class="select-or-other-select form-checkbox" id="edit-submitted-how-did-you-learn-about-middlebury-schools-abroad-select-4" name="submitted[how_did_you_learn_about_middlebury_schools_abroad][select][4]" type="checkbox" value="4">
                    <label class="option" for="edit-submitted-how-did-you-learn-about-middlebury-schools-abroad-select-4">Friend/Relative/Colleague/Fellow Student/Previous Attendee</label>
                  </div>
                  <div class="form-item form-type-checkbox form-item-submitted-how-did-you-learn-about-middlebury-schools-abroad-select-5">
                    <input class="select-or-other-select form-checkbox" id="edit-submitted-how-did-you-learn-about-middlebury-schools-abroad-select-5" name="submitted[how_did_you_learn_about_middlebury_schools_abroad][select][5]" type="checkbox" value="5">
                    <label class="option" for="edit-submitted-how-did-you-learn-about-middlebury-schools-abroad-select-5">Google Search</label>
                  </div>
                  <div class="form-item form-type-checkbox form-item-submitted-how-did-you-learn-about-middlebury-schools-abroad-select-6">
                    <input class="select-or-other-select form-checkbox" id="edit-submitted-how-did-you-learn-about-middlebury-schools-abroad-select-6" name="submitted[how_did_you_learn_about_middlebury_schools_abroad][select][6]" type="checkbox" value="6">
                    <label class="option" for="edit-submitted-how-did-you-learn-about-middlebury-schools-abroad-select-6">Department Chair/Professor/Teacher/Advisor</label>
                  </div>
                  <div class="form-item form-type-checkbox form-item-submitted-how-did-you-learn-about-middlebury-schools-abroad-select-13">
                    <input class="select-or-other-select form-checkbox" id="edit-submitted-how-did-you-learn-about-middlebury-schools-abroad-select-7" name="submitted[how_did_you_learn_about_middlebury_schools_abroad][select][13]" type="checkbox" value="13">
                    <label class="option" for="edit-submitted-how-did-you-learn-about-middlebury-schools-abroad-select-7">Study Abroad Office/Website</label>
                  </div>
                  <div class="form-item form-type-checkbox form-item-submitted-how-did-you-learn-about-middlebury-schools-abroad-select-7">
                    <input class="select-or-other-select form-checkbox" id="edit-submitted-how-did-you-learn-about-middlebury-schools-abroad-select-8" name="submitted[how_did_you_learn_about_middlebury_schools_abroad][select][7]" type="checkbox" value="7">
                    <label class="option" for="edit-submitted-how-did-you-learn-about-middlebury-schools-abroad-select-8">Employer/Supervisor/Professional Affiliation</label>
                  </div>
                  <div class="form-item form-type-checkbox form-item-submitted-how-did-you-learn-about-middlebury-schools-abroad-select-8">
                    <input class="select-or-other-select form-checkbox" id="edit-submitted-how-did-you-learn-about-middlebury-schools-abroad-select-9" name="submitted[how_did_you_learn_about_middlebury_schools_abroad][select][8]" type="checkbox" value="8">
                    <label class="option" for="edit-submitted-how-did-you-learn-about-middlebury-schools-abroad-select-9">U.S. Government/Military</label>
                  </div>
                  <div class="form-item form-type-checkbox form-item-submitted-how-did-you-learn-about-middlebury-schools-abroad-select-9">
                    <input class="select-or-other-select form-checkbox" id="edit-submitted-how-did-you-learn-about-middlebury-schools-abroad-select-10" name="submitted[how_did_you_learn_about_middlebury_schools_abroad][select][9]" type="checkbox" value="9">
                    <label class="option" for="edit-submitted-how-did-you-learn-about-middlebury-schools-abroad-select-10">Career Services/Study Abroad Visit</label>
                  </div>
                  <div class="form-item form-type-checkbox form-item-submitted-how-did-you-learn-about-middlebury-schools-abroad-select-10">
                    <input class="select-or-other-select form-checkbox" id="edit-submitted-how-did-you-learn-about-middlebury-schools-abroad-select-11" name="submitted[how_did_you_learn_about_middlebury_schools_abroad][select][10]" type="checkbox" value="10">
                    <label class="option" for="edit-submitted-how-did-you-learn-about-middlebury-schools-abroad-select-11">Middlebury Viewbook/Poster</label>
                  </div>
                  <div class="form-item form-type-checkbox form-item-submitted-how-did-you-learn-about-middlebury-schools-abroad-select-11">
                    <input class="select-or-other-select form-checkbox" id="edit-submitted-how-did-you-learn-about-middlebury-schools-abroad-select-12" name="submitted[how_did_you_learn_about_middlebury_schools_abroad][select][11]" type="checkbox" value="11">
                    <label class="option" for="edit-submitted-how-did-you-learn-about-middlebury-schools-abroad-select-12">Advertisement</label>
                  </div>
                  <div class="form-item form-type-checkbox form-item-submitted-how-did-you-learn-about-middlebury-schools-abroad-select-12">
                    <input class="select-or-other-select form-checkbox" id="edit-submitted-how-did-you-learn-about-middlebury-schools-abroad-select-13" name="submitted[how_did_you_learn_about_middlebury_schools_abroad][select][12]" type="checkbox" value="12">
                    <label class="option" for="edit-submitted-how-did-you-learn-about-middlebury-schools-abroad-select-13">Fair/Conference</label>
                  </div>
                  <div class="form-item form-type-checkbox form-item-submitted-how-did-you-learn-about-middlebury-schools-abroad-select-select-or-other">
                    <input class="select-or-other-select form-checkbox" id="edit-submitted-how-did-you-learn-about-middlebury-schools-abroad-select-14" name="submitted[how_did_you_learn_about_middlebury_schools_abroad][select][select_or_other]" type="checkbox" value="select_or_other">
                    <label class="option" for="edit-submitted-how-did-you-learn-about-middlebury-schools-abroad-select-14">Other...</label>
                  </div>
                </div>
              </div>
              <div class="form-item form-type-textfield form-item-submitted-how-did-you-learn-about-middlebury-schools-abroad-other">
                <label class="element-invisible" for="edit-submitted-how-did-you-learn-about-middlebury-schools-abroad-other">How did you learn about Middlebury Schools Abroad? Other...</label>
                <input class="select-or-other-other form-text" id="edit-submitted-how-did-you-learn-about-middlebury-schools-abroad-other" maxlength="128" name="submitted[how_did_you_learn_about_middlebury_schools_abroad][other]" size="60" type="text" value="">
              </div>
            </div>
          </div>
          <div class="form-item webform-component webform-component-textfield webform-component--semester-and-year-of-interest">
            <label for="edit-submitted-semester-and-year-of-interest">Semester and year of interest</label>
            <input class="form-text" id="edit-submitted-semester-and-year-of-interest" maxlength="128" name="submitted[semester_and_year_of_interest]" size="60" type="text" value="">
          </div>
          <div class="form-item webform-component webform-component-radios webform-component--would-you-like-a-copy-of-the-schools-abroad-viewbook">
            <label for="edit-submitted-would-you-like-a-copy-of-the-schools-abroad-viewbook">Would you like a copy of the Schools Abroad Viewbook?</label>
            <div class="form-radios" id="edit-submitted-would-you-like-a-copy-of-the-schools-abroad-viewbook">
              <div class="form-item form-type-radio form-item-submitted-would-you-like-a-copy-of-the-schools-abroad-viewbook">
                <input class="form-radio" id="edit-submitted-would-you-like-a-copy-of-the-schools-abroad-viewbook-1" name="submitted[would_you_like_a_copy_of_the_schools_abroad_viewbook]" type="radio" value="1">
                <label class="option" for="edit-submitted-would-you-like-a-copy-of-the-schools-abroad-viewbook-1">Yes</label>
              </div>
              <div class="form-item form-type-radio form-item-submitted-would-you-like-a-copy-of-the-schools-abroad-viewbook">
                <input class="form-radio" id="edit-submitted-would-you-like-a-copy-of-the-schools-abroad-viewbook-2" name="submitted[would_you_like_a_copy_of_the_schools_abroad_viewbook]" type="radio" value="2">
                <label class="option" for="edit-submitted-would-you-like-a-copy-of-the-schools-abroad-viewbook-2">No</label>
              </div>
            </div>
          </div>
          <div class="form-item webform-component webform-component-textfield webform-component--mailing-address-for-viewbook">
            <label for="edit-submitted-mailing-address-for-viewbook">Mailing address for viewbook</label>
            <input class="form-text" id="edit-submitted-mailing-address-for-viewbook" maxlength="128" name="submitted[mailing_address_for_viewbook]" size="60" type="text" value="">
          </div><input name="details[sid]" type="hidden">
          <input name="details[page_num]" type="hidden" value="1">
          <input name="details[page_count]" type="hidden" value="1">
          <input name="details[finished]" type="hidden" value="0">
          <input name="form_build_id" type="hidden" value="form-c_opFt49wzP2wJVGIN4u1XQkoWJ0IyFbilQ3zLNEXxI">
          <input name="form_id" type="hidden" value="webform_client_form_228">
          <div class="url-textfield">
            <div class="form-item form-type-textfield form-item-url">
              <label for="edit-url">Leave this field blank</label>
              <input autocomplete="off" class="form-text" id="edit-url" maxlength="128" name="url" size="20" type="text" value="">
            </div>
          </div>
          <div class="form-actions">
            <input class="webform-submit button-primary form-submit" name="op" type="submit" value="Submit">
          </div>
        </div>
      </form>
    </section>
  </article>

{% endblock %}
