{% extends "layouts/layout.twig" %}

{% block page %}
  <article class="node node-webform" id="node-285">
    <header>
      <h1>Project Request Form</h1>
    </header>
    <section class="contents">
      <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
          <div class="field-item even">
            <p>If you have any questions while filling out this form, please contact CHAD CONANT at
              <a href="mailto:pmcguire@middlebury.edu">CCONANT@middlebury.edu</a>, x5432. An
              <span>*</span>
              = required information.</p>
            <p>
              <strong>We have recently updated our Project Request Form. Please read carefully as you complete it. Thank you!</strong>
            </p>
          </div>
        </div>
      </div>
      <form accept-charset="UTF-8" action="/~imcbride/middforms/webform-embed/285" class="webform-client-form webform-client-form-285" enctype="multipart/form-data" id="webform-client-form-285" method="post" name="webform-client-form-285">
        <div>
          <div class="form-item webform-component webform-component-textfield webform-component--your-department">
            <label for="edit-submitted-your-department">Your Department
              <span class="form-required" title="This field is required.">*</span>
            </label>
            <input class="form-text required" id="edit-submitted-your-department" maxlength="128" name="submitted[your_department]" required="required" size="60" type="text" value="">
          </div>
          <div class="form-item webform-component webform-component-email webform-component--your-email-address">
            <label for="edit-submitted-your-email-address">Your Email Address
              <span class="form-required" title="This field is required.">*</span>
            </label>
            <input class="email form-text form-email required" id="edit-submitted-your-email-address" name="submitted[your_email_address]" required="required" size="60" type="email" value="zpykosz@middlebury.edu">
          </div>
          <div class="form-item webform-component webform-component-textfield webform-component--phone-number">
            <label for="edit-submitted-phone-number">Phone Number
              <span class="form-required" title="This field is required.">*</span>
            </label>
            <input class="form-text required" id="edit-submitted-phone-number" maxlength="128" name="submitted[phone_number]" required="required" size="60" type="text" value="">
          </div>
          <fieldset class="webform-component-fieldset webform-component--budget form-wrapper">
            <legend>
              <span class="fieldset-legend">Budget</span>
            </legend>
            <div class="fieldset-wrapper">
              <div class="form-item webform-component webform-component-textfield webform-component--budget--entity">
                <label for="edit-submitted-budget-entity">Entity
                  <span class="form-required" title="This field is required.">*</span>
                </label>
                <div class="description">
                  3 characters
                </div><input class="form-text required" id="edit-submitted-budget-entity" maxlength="3" name="submitted[budget][entity]" required="required" size="5" type="text" value="">
              </div>
              <div class="form-item webform-component webform-component-textfield webform-component--budget--department">
                <label for="edit-submitted-budget-department">Department
                  <span class="form-required" title="This field is required.">*</span>
                </label>
                <div class="description">
                  4 characters
                </div><input class="form-text required" id="edit-submitted-budget-department" maxlength="4" name="submitted[budget][department]" required="required" size="6" type="text" value="">
              </div>
              <div class="form-item webform-component webform-component-textfield webform-component--budget--restriction">
                <label for="edit-submitted-budget-restriction">Restriction</label>
                <input class="form-text" id="edit-submitted-budget-restriction" maxlength="2" name="submitted[budget][restriction]" size="2" type="text" value="10">
              </div>
              <div class="form-item webform-component webform-component-textfield webform-component--budget--designation">
                <label for="edit-submitted-budget-designation">Designation</label>
                <div class="description">
                  6 characters (optional)
                </div><input class="form-text" id="edit-submitted-budget-designation" maxlength="6" name="submitted[budget][designation]" size="8" type="text" value="">
              </div>
              <div class="form-item webform-component webform-component-textfield webform-component--budget--activity">
                <label for="edit-submitted-budget-activity">Activity</label>
                <div class="description">
                  5 characters (optional)
                </div><input class="form-text" id="edit-submitted-budget-activity" maxlength="5" name="submitted[budget][activity]" size="7" type="text" value="">
              </div>
            </div>
          </fieldset>
          <div class="form-item webform-component webform-component-textfield webform-component--budget-code">
            <label for="edit-submitted-budget-code">Budget Code</label>
            <input class="form-text" id="edit-submitted-budget-code" maxlength="128" name="submitted[budget_code]" readonly="readonly" size="60" type="text" value="">
          </div>
          <div class="form-item webform-component webform-component-textfield webform-component--budget-range">
            <label for="edit-submitted-budget-range">Budget Range
              <span class="form-required" title="This field is required.">*</span>
            </label>
            <div class="description">
              How much do you have to spend on this project, i.e. budget amount or dollar range?
            </div><input class="form-text required" id="edit-submitted-budget-range" maxlength="128" name="submitted[budget_range]" required="required" size="60" type="text" value="">
          </div>
          <div class="form-item webform-component webform-component-radios webform-component--request-submitted-for">
            <label for="edit-submitted-request-submitted-for">Request submitted for
              <span class="form-required" title="This field is required.">*</span>
            </label>
            <div class="form-radios" id="edit-submitted-request-submitted-for">
              <div class="form-item form-type-radio form-item-submitted-request-submitted-for">
                <input class="form-radio" id="edit-submitted-request-submitted-for-1" name="submitted[request_submitted_for]" required="required" type="radio" value="Middlebury">
                <label class="option" for="edit-submitted-request-submitted-for-1">Middlebury</label>
              </div>
              <div class="form-item form-type-radio form-item-submitted-request-submitted-for">
                <input class="form-radio" id="edit-submitted-request-submitted-for-2" name="submitted[request_submitted_for]" required="required" type="radio" value="MIIS">
                <label class="option" for="edit-submitted-request-submitted-for-2">MIIS</label>
              </div>
            </div>
          </div>
          <div class="form-item webform-component webform-component-radios webform-component--MIIS-projects">
            <label for="edit-submitted-miis-projects">For projects submitted on behalf of MIIS
              <span class="form-required" title="This field is required.">*</span>
            </label>
            <div class="description">
              If you are submitting a project on behalf of MIIS, has your project been discussed with the Middlebury Institute Marketing Director prior to this submission?
            </div>
            <div class="form-radios" id="edit-submitted-miis-projects">
              <div class="form-item form-type-radio form-item-submitted-MIIS-projects">
                <input class="form-radio" id="edit-submitted-miis-projects-1" name="submitted[MIIS_projects]" required="required" type="radio" value="1">
                <label class="option" for="edit-submitted-miis-projects-1">Yes</label>
              </div>
              <div class="form-item form-type-radio form-item-submitted-MIIS-projects">
                <input class="form-radio" id="edit-submitted-miis-projects-2" name="submitted[MIIS_projects]" required="required" type="radio" value="2">
                <label class="option" for="edit-submitted-miis-projects-2">No</label>
              </div>
              <div class="form-item form-type-radio form-item-submitted-MIIS-projects">
                <input class="form-radio" id="edit-submitted-miis-projects-3" name="submitted[MIIS_projects]" required="required" type="radio" value="3">
                <label class="option" for="edit-submitted-miis-projects-3">N/A</label>
              </div>
            </div>
          </div>
          <div class="form-item webform-component webform-component-textarea webform-component--preferred-completion-date">
            <label for="edit-submitted-preferred-completion-date">Preferred Completion Date
              <span class="form-required" title="This field is required.">*</span>
            </label>
            <div class="description">
              Please explain what is driving your timeline and whether you have any flexibility. Depending on the project scope, production times vary.
            </div>
            <div class="form-textarea-wrapper resizable">
              <textarea class="form-textarea required" cols="60" id="edit-submitted-preferred-completion-date" name="submitted[preferred_completion_date]" required="required" rows="5"></textarea>
            </div>
          </div>
          <div class="form-item webform-component webform-component-textarea webform-component--contact">
            <label for="edit-submitted-contact">Contact
              <span class="form-required" title="This field is required.">*</span>
            </label>
            <div class="description">
              Who is the point person who will manage the job and final sign-off?
            </div>
            <div class="form-textarea-wrapper resizable">
              <textarea class="form-textarea required" cols="60" id="edit-submitted-contact" name="submitted[contact]" required="required" rows="5"></textarea>
            </div>
          </div>
          <div class="form-item webform-component webform-component-textarea webform-component--meeting-attendees">
            <label for="edit-submitted-meeting-attendees">Meeting Attendees
              <span class="form-required" title="This field is required.">*</span>
            </label>
            <div class="description">
              List those who should attend the initial intake meeting.
            </div>
            <div class="form-textarea-wrapper resizable">
              <textarea class="form-textarea required" cols="60" id="edit-submitted-meeting-attendees" name="submitted[meeting_attendees]" required="required" rows="5"></textarea>
            </div>
          </div>
          <div class="form-item webform-component webform-component-textarea webform-component--project-description">
            <label for="edit-submitted-project-description">Project Description
              <span class="form-required" title="This field is required.">*</span>
            </label>
            <div class="description">
              Please write a brief description of your project. Is it new? Revised?
            </div>
            <div class="form-textarea-wrapper resizable">
              <textarea class="form-textarea required" cols="60" id="edit-submitted-project-description" name="submitted[project_description]" required="required" rows="5"></textarea>
            </div>
          </div>
          <div class="form-item webform-component webform-component-textarea webform-component--goal">
            <label for="edit-submitted-goal">Goal
              <span class="form-required" title="This field is required.">*</span>
            </label>
            <div class="description">
              What is the main objective of this project? Do you hope to increase donors? Raise awareness of your organization? Increase enrollment?
            </div>
            <div class="form-textarea-wrapper resizable">
              <textarea class="form-textarea required" cols="60" id="edit-submitted-goal" name="submitted[goal]" required="required" rows="5"></textarea>
            </div>
          </div>
          <div class="form-item webform-component webform-component-textarea webform-component--audience">
            <label for="edit-submitted-audience">Audience
              <span class="form-required" title="This field is required.">*</span>
            </label>
            <div class="description">
              Who is your primary audience? secondary?
            </div>
            <div class="form-textarea-wrapper resizable">
              <textarea class="form-textarea required" cols="60" id="edit-submitted-audience" name="submitted[audience]" required="required" rows="5"></textarea>
            </div>
          </div>
          <div class="form-item webform-component webform-component-textarea webform-component--main-message">
            <label for="edit-submitted-main-message">Main Message</label>
            <div class="form-textarea-wrapper resizable">
              <textarea class="form-textarea" cols="60" id="edit-submitted-main-message" name="submitted[main_message]" rows="5"></textarea>
            </div>
          </div>
          <div class="form-item webform-component webform-component-textarea webform-component--additional-background-information">
            <label for="edit-submitted-additional-background-information">Additional/Background Information</label>
            <div class="form-textarea-wrapper resizable">
              <textarea class="form-textarea" cols="60" id="edit-submitted-additional-background-information" name="submitted[additional_background_information]" rows="5"></textarea>
            </div>
          </div>
          <div id="edit-submitted-file-1-ajax-wrapper">
            <div class="form-item webform-component webform-component-file webform-component--file-1">
              <label for="edit-submitted-file-1-upload">File #1</label>
              <div class="description">
                Files must be less than
                <strong>8 MB</strong>.<br>
                Allowed file types:
                <strong>gif jpg png html pdf doc docx ppt pptx xls xlsx</strong>.
              </div>
              <div class="form-managed-file">
                <input class="form-file" id="edit-submitted-file-1-upload" name="files[submitted_file_1]" size="22" type="file"><input class="form-submit" id="edit-submitted-file-1-upload-button" name="submitted_file_1_upload_button" type="submit" value="Upload"><input name="submitted[file_1][fid]" type="hidden" value="0">
              </div>
            </div>
          </div>
          <div id="edit-submitted-file-2-ajax-wrapper">
            <div class="form-item webform-component webform-component-file webform-component--file-2">
              <label for="edit-submitted-file-2-upload">File #2</label>
              <div class="description">
                Files must be less than
                <strong>8 MB</strong>.<br>
                Allowed file types:
                <strong>gif jpg png html pdf doc docx ppt pptx xls xlsx</strong>.
              </div>
              <div class="form-managed-file">
                <input class="form-file" id="edit-submitted-file-2-upload" name="files[submitted_file_2]" size="22" type="file"><input class="form-submit" id="edit-submitted-file-2-upload-button" name="submitted_file_2_upload_button" type="submit" value="Upload"><input name="submitted[file_2][fid]" type="hidden" value="0">
              </div>
            </div>
          </div>
          <div id="edit-submitted-file-3-ajax-wrapper">
            <div class="form-item webform-component webform-component-file webform-component--file-3">
              <label for="edit-submitted-file-3-upload">File #3</label>
              <div class="description">
                Files must be less than
                <strong>8 MB</strong>.<br>
                Allowed file types:
                <strong>gif jpg png html pdf doc docx ppt pptx xls xlsx</strong>.
              </div>
              <div class="form-managed-file">
                <input class="form-file" id="edit-submitted-file-3-upload" name="files[submitted_file_3]" size="22" type="file"><input class="form-submit" id="edit-submitted-file-3-upload-button" name="submitted_file_3_upload_button" type="submit" value="Upload"><input name="submitted[file_3][fid]" type="hidden" value="0">
              </div>
            </div>
          </div>
          <div id="edit-submitted-file-4-ajax-wrapper">
            <div class="form-item webform-component webform-component-file webform-component--file-4">
              <label for="edit-submitted-file-4-upload">File #4</label>
              <div class="description">
                Files must be less than
                <strong>8 MB</strong>.<br>
                Allowed file types:
                <strong>gif jpg png html pdf doc docx ppt pptx xls xlsx</strong>.
              </div>
              <div class="form-managed-file">
                <input class="form-file" id="edit-submitted-file-4-upload" name="files[submitted_file_4]" size="22" type="file"><input class="form-submit" id="edit-submitted-file-4-upload-button" name="submitted_file_4_upload_button" type="submit" value="Upload"><input name="submitted[file_4][fid]" type="hidden" value="0">
              </div>
            </div>
          </div>
          <div id="edit-submitted-file-5-ajax-wrapper">
            <div class="form-item webform-component webform-component-file webform-component--file-5">
              <label for="edit-submitted-file-5-upload">File #5</label>
              <div class="description">
                Files must be less than
                <strong>8 MB</strong>.<br>
                Allowed file types:
                <strong>gif jpg png html pdf doc docx ppt pptx xls xlsx</strong>.
              </div>
              <div class="form-managed-file">
                <input class="form-file" id="edit-submitted-file-5-upload" name="files[submitted_file_5]" size="22" type="file"><input class="form-submit" id="edit-submitted-file-5-upload-button" name="submitted_file_5_upload_button" type="submit" value="Upload"><input name="submitted[file_5][fid]" type="hidden" value="0">
              </div>
            </div>
          </div>
          <div class="form-item webform-component webform-component-textarea webform-component--quantity">
            <label for="edit-submitted-quantity">Estimated Quantity, if applicable</label>
            <div class="form-textarea-wrapper resizable">
              <textarea class="form-textarea" cols="60" id="edit-submitted-quantity" name="submitted[quantity]" rows="5"></textarea>
            </div>
          </div><input name="details[sid]" type="hidden">
          <input name="details[page_num]" type="hidden" value="1">
          <input name="details[page_count]" type="hidden" value="1">
          <input name="details[finished]" type="hidden" value="0">
          <input name="form_build_id" type="hidden" value="form-SYZIkXkvra7DbBt9rvFu69OuayxzRmjab4pVuyWdP5I">
          <input name="form_token" type="hidden" value="2s5Sd5VmWgZim0djs9qS4VhA2IRiIBdbpo3vVrYZ5jc">
          <input name="form_id" type="hidden" value="webform_client_form_285">
          <div class="form-actions">
            <input class="webform-submit button-primary form-submit" name="op" type="submit" value="Submit">
          </div>
        </div>
      </form>
      <ul class="links inline">
        <li class="middlebury_webform_embeds first">
          <a href="/~imcbride/middforms/offices/news/communications/submit/node/285/webform-embeds" title="Get embed codes for this form">Embed form</a>
        </li>
        <li class="mm_webform_results last">
          <a href="/~imcbride/middforms/offices/news/communications/submit/node/285/webform-results" title="View data posted using this webform">View submissions</a>
        </li>
      </ul>
    </section>
  </article>

{% endblock %}
