{% extends 'layouts/anchor-layout.twig' %}

{% set page_title = 'Civil Rights and Title IX Office' %}

{% set page_header = {
  title: 'Policies, Laws, and Procedures',
  breadcrumb: [
    {
      text: 'Offices and Services'
    },
    {
      text: 'Civil Rights and Title IX Office'
    }
  ]
} %}

{% block page %}
  {% embed 'partials/sidebar-layout.twig' %}
    {% block nav %}
      {% include 'partials/page-nav.twig' with {
        label: 'Policies, Laws, and Procedures',
        items: [
          {
            text: 'Curriculum',
            href: '#'
          },
          {
            text: 'Faculty',
            href: '#',
            items: [
              {
                text: 'Faculty sub page 1',
                href: '#'
              },
              {
                text: 'Faculty sub page 2',
                href: '#'
              },
              {
                text: 'Faculty sub page 3',
                href: '#'
              },
              {
                text: 'Faculty sub page 4',
                href: '#'
              }
            ]
          },
          {
            text: 'Financing Your Education',
            href: '#'
          }
        ]
      } %}
    {% endblock %}
    {% block toc %}
      <div data-digest-nav data-sticky data-sticky-offset=".js-headroom"></div>
    {% endblock %}
    {% block sidebar %}
      <div class="bg-gray-lighter mb-md-6 p-3">
        <div class="row">
          <div class="col-12 col-md-6 col-lg-12 order-md-2 order-lg-1">
            {% include 'partials/page-cta.twig' %}
            <div class="border-b my-6 d-md-none d-lg-block"></div>
          </div>
          <div class="col-12 col-md-6 col-lg-12 order-md-1 order-lg-2">
            {% include 'partials/office-meta.twig' %}
          </div>
        </div>
      </div>
    {% endblock %}
    {# {% block content %}
      {% include 'partials/basic-content.twig' %}
    {% endblock %} #}
  {% endembed %}
{% endblock %}
