{% extends "layouts/anchor-layout.twig" %}

{% set is_front = false %}
{% set page_title = 'Library' %}

{% block layout_header %}
  {% include 'partials/midd-header.twig' %}
  {% embed 'partials/anchor-header.twig' %}
    {% block anchor_header_content %}
      {% include 'partials/info-bar.twig' with {
        items: [
          { text: '<strong>Davis Family Library: </strong> 9 a.m.-5 p.m.' },
          { text: '<strong>Armstrong Library: </strong> 9 a.m.-5 p.m.' },
          { text: '<a href="" class="link-underline">View Library hours</a>' }
        ]
      } %}
    {% endblock %}
  {% endembed %}
{% endblock %}

{% block page %}
  {% embed 'partials/top-level-layout.twig' %}
    {% block paragraphs %}
      {% include 'paragraphs/lib-search.twig' %}
      {% include 'paragraphs/text-short.twig' %}
      {% include 'paragraphs/themed-panel.twig' with {
        main_title: true,
        main_article: true,
        main_article_cta: true,
        main_article_title_link: true,
        subarticles: 3,
      } %}
    {% endblock %}
  {% endembed %}
{% endblock %}

{% block scripts %}
  <script src="js/main.bundle.js" async></script>
  {% if env.vercel or not env.production %}
    <script src="//middlebury.libanswers.com/load_chat.php?hash=7799596699468240cefaabd896f80a52"></script>
  {% endif %}
{% endblock %}
