{% extends 'layouts/school-layout.twig' %}

{% set theme = 'college' %}

{% set has_page_image = true %}

{% set page_header = {
  title: 'Argentina',
  breadcrumb: [
    {
      text: 'Middlebury C.V. Star Schools Abroad'
    },
    {
      text: 'Our Schools'
    }
  ],
  image_src: has_page_image,
  has_menu: true
} %}

{% block page %}
  {% embed 'partials/top-level-layout.twig' with {
    show_menu: true,
    show_lead: true,
    has_page_image: has_page_image
  } %}
    {% block paragraphs %}
      <div class="paragraphs">


        {% include 'paragraphs/chart-group.twig' with {
          title: 'Grouped Bar chart',
          text: 'This bar chart has a suggested maximum value which shows up on the y axis, and a value suffix so it can be presented as a percentage.',
          items: [
            {
              type: 'bar',
              suffix: '%',
              labels: ['label 1', 'label 2', 'label 3'],
              datasets: [
                { label: 'data 1', data: [10,40,70] },
                { label: 'data 1', data: [15,47,60] },
                { label: 'data 1', data: [24,42,86] }
              ]
            }
          ]
        } %}


        {% include 'paragraphs/chart-group.twig' with {
          title: 'Horizontal Bar chart',
          text: true,
          items: [
            {
              type: 'bar',
              indexAxis: 'y',
              title: 'chart 1',
              suffix: '%',
              labels: ["Administration","Advising/Counseling","Analyst/Research","Communications/Marketing/PR","Management/Strategic Planning","Operations/Project Management","Sales/Account Management","Teaching/Training","Translation/Interpretation","Other"],
              datasets: [
                { label: 'Percentage of employment', data: [41,14,4,10,4,18,2,4,1,2] }
              ]
            }
          ]
        } %}

        {% include 'paragraphs/chart-group.twig' with {
          title: 'Some pie chart',
          text: true,
          items: [
            {
              type: 'pie',
              title: 'chart 1',
              labels: ['label 1', 'label 2', 'label 3'],
              datasets: [ { label: 'data 1', data: [1,2,3] },  { label: 'data 1', data: [3,2,6] }  ]
            },
            {
              type: 'doughnut',
              title: 'chart 1',
              labels: ['label 1', 'label 2', 'label 3'],
              datasets: [ { label: 'data 1', data: [1,2,3] }, { label: 'data 1', data: [1,9,5] }  ]
            }
          ]
        } %}


        {% include 'paragraphs/chart-group.twig' with {
          title: 'Chart group',
          text: true,
          items: [
            {
              type: 'pie',
              title: 'chart 1',
              labels: ['label 1', 'label 2', 'label 3'],
              datasets: [ { label: 'data 1', data: [1,2,3] } ]
            },
            {
              type: 'doughnut',
              title: 'chart 2',
              labels: ['label 1', 'label 2', 'label 3'],
              datasets: [ { label: 'data 1', data: [3,10,20] } ]
            },
            {
              type: 'doughnut',
              title: 'chart 3',
              labels: ['label 1', 'label 2', 'label 3'],
              datasets: [ { label: 'data 1', data: [13,2,12] } ]
            }
          ]
        } %}

        {% include 'paragraphs/chart-group.twig' with {
          title: 'Line charts',
          items: [
            {
              type: 'line',
              title: 'chart 1',
              labels: ['2019', '2020', '2021', '2022'],
              datasets: [ { label: 'data 1', data: [3,6,13,30] } ]
            },
            {
              type: 'line',
              title: 'chart 2',
              labels: ['2019', '2020', '2021', '2022'],
              datasets: [ { label: 'data 1', data: [6,17,29,50] } ]
            },
          ]
        } %}


        {% include 'paragraphs/chart-group.twig' with {
          title: 'Line charts',
          items: [
            {
              type: 'line',
              title: 'chart 1',
              labels: ['2019', '2020', '2021', '2022'],
              datasets: [
                { label: 'data 1', data: [3,-6,13,-30] },
                { label: 'data 2', data: [70,25,-4,44] },
                { label: 'data 3', data: [13,-15,-9,52] },
              ]
            },
            {
              type: 'line',
              title: 'chart 2',
              labels: ['2019', '2020', '2021', '2022'],
              datasets: [
                { label: 'data 1', data: [19,17,29,-50] },
                { label: 'data 2', data: [25,-11,34,56] },
                { label: 'data 3', data: [101,-17,37,-28] }
              ]
            },
          ]
        } %}

        {% include 'paragraphs/chart-group.twig' with {
          title: 'Percentage bar',
          items: [
            {
              type: 'percentBar',
              title: 'chart 1',
              labels: ['Bananas', 'Apples', 'Oranges', 'Plums', 'Pears', 'Grapes'],
              datasets: [ { label: 'data set 1', data: [39, 24, 63, 57, 53, 353] }, ],
            },
          ]
        } %}

        {% include 'paragraphs/chart-group.twig' with {
          title: 'Internships',
          items: [
            { type: 'stats', number: 90, label: 'on-campus info sessions with employers', },
            { type: 'stats', number: 500, label: 'on-campus interviews' },
            { type: 'stats', number: 2500.53, label: 'Opportunities in our online database', },
            { type: 'stats', number: 600.23, prefix: '$', suffix: 'k', label: 'of summer internship funding', },
            { type: 'stats', number: 800, label: 'Summer internships', },
            { type: 'stats', number: 7500, suffix: '+', label: 'Alumni Career volunteers', },
          ]
        } %}

        {% include 'paragraphs/map-chart.twig' with {
          title: 'Map chart',
          text: 'This is map chart text right here.',
          items: [
            {name: 'Germany', abbr: 'de'},
            {name: 'United States', abbr: 'us'},
            {name: 'China', abbr: 'cn'}
          ]
        } %}
      </div>
    {% endblock %}
  {% endembed %}
{% endblock %}
