{% extends "layouts/school-layout.twig" %}

{% set page_header = {
  title: 'Beryl Levinger',
  breadcrumb: [
    { text: 'Leadership and Impact' },
    { text: 'Faculty in the Field' },
  ],
  pronouns: '<p class="pronouns">She, Her</p>',
  after_title: '<p class="lead mt-2 mt-lg-4 mb-0">Program Chair, Master of Public Administration and International Policy and Development</p>',
  school: true
} %}

{% block page %}

  {% include 'partials/profile-detail.twig' %}

{% endblock %}
