<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Middlebury Front-end Design System</title>
    <link rel="stylesheet" href="/src/scss/main.scss">
    <link
    href="https://fonts.googleapis.com/css2?family=Domine:wght@400;700&family=Open+Sans:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    {# dont index these files if vercel deployment #}
    {% if env.vercel %}
      <meta name="robots" content="noindex"/>
    {% endif %}
  </head>
  <body class="{% if body_class %}{{body_class}}{% endif %} {% if theme %}theme-{{theme}}{% endif %}" id="midd-pagetop">
    {% include '../paragraphs/cookie-banner.twig' %}
    <nav aria-labelledby="midd-skip-link">
      <a href="#midd-main" class="sr-only sr-focusable" id="midd-skip-link">Skip to content</a>
    </nav>
    <div style="display:none">
      {% include '../partials/icons.twig' %}
    </div>
    <div class="site-container">
      {% if alert %}
        <div class="alert alert--warning">
          <div class="container">
            <strong>Warning:</strong>
            look out below!
          </div>
        </div>
      {% endif %}

      {% block layout_header %}{% endblock %}

      <main class="main" id="midd-main" aria-labelledby="midd-page-header-label"> {% block before_page_header %}{% endblock %}
        {% if page_header %}
          {% include '../partials/page-header.twig' with page_header %}
        {% endif %}

        {% block page %}{% endblock %}
      </main>

      {% block layout_footer %}{% endblock %}

    </div>

    {% if not env.production %}
      {% include '../partials/grid-overlay.twig' %}
    {% endif %}

    {% block layout_before_body_close %}{% endblock %}
    {% block additional_scripts %}{% endblock %}
    {% block scripts %}
      <script src="/src/js/index.ts" type="module" async></script>
    {% endblock %}
  </body>
</html>
