////
/// Pardot forms stylesheet to be uploaded directly to pardot file hosting and used in landing page templates.
////

@use 'core/functions';
@use 'core/variables';
@use 'core/mixins';

@use 'core/global';
@use 'mixins/buttons';
@use 'mixins/forms';

.form {
  padding: 2px; /* push in so elems arent hidden */
}

.form-field {
  @include forms.form-group;
}

.field-label {
  @include forms.form-label;
}

.description {
  @include forms.form-text;
}

select,
textarea,
input[type='text'] {
  @include forms.form-control;

  & {
    padding: variables.$spacing-2;
  }
}

select {
  @include forms.form-select;
}

textarea {
  @include forms.form-textarea;
}

input[type='submit'] {
  @include buttons.button-base;
  @include buttons.button-theme('primary');
}

// checkbox item groups
.pd-radio .value > span,
.pd-checkbox .value > span {
  display: block;
  @include forms.form-checkbox-item;
}

input[type='radio'],
input[type='checkbox'] {
  @include forms.form-checkbox-control;
}

input[type='radio'] + label,
input[type='checkbox'] + label {
  @include forms.form-checkbox-label;
}

/* error states */

.form-field.error textarea,
.form-field.error select,
.form-field.error input[type='text'] {
  border-color: variables.$danger;
}

// Error might be on another element that isn't p tag we want.
// This could be changed to use another class selector possibly.
// stylelint-disable-next-line selector-no-qualifying-type
p.error {
  margin-top: 0.5rem;
  margin-bottom: 0;
  font-size: 14px;
  color: variables.$danger;
}

/* required asterisk */

.form-field.required .field-label:after {
  content: '*';
  @include forms.form-required;
}
